In [1]:
import pandas as pd
import numpy as np
from data_master import DataMaster
from utils import func
from scipy.stats import norm
master = DataMaster()
from utils.func import center
from quantstats.stats import sharpe
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
market_data = pd.read_parquet('data/US/mkt_data.pq')
balance_sheet = pd.read_parquet('data/US/balance_sheets.pq')
GICS = pd.read_parquet('data/US/GICS.pq')
P = pd.read_parquet('data/US/universe_table.pq')
R = market_data['close'].unstack().reindex_like(P).pct_change()
market_data.dropna().sample(5)

,,datetime,open,high,low,close,adj_close,volume,MktCap
Date,Ticker,,,,,,,,
2009-08-13,X,2009-08-13,45.79,47.41,44.95,47.32,42.5706,14729570,6.065262e+09
2014-12-26,JBHT,2014-12-26,84.96,85.47,84.81,84.92,78.6516,558890,1.003815e+10
2022-09-28,MMI,2022-09-28,32.00,32.44,31.45,32.19,31.9397,274503,1.280455e+09
2012-01-18,EA,2012-01-18,17.72,18.28,17.70,18.26,18.0124,7761965,5.871940e+09
2022-07-25,WYNN,2022-07-25,61.86,62.36,60.05,62.23,62.2300,2178998,7.066295e+09

In [23]:
import pandas_ta as ta
from tqdm import tqdm
results ={}
for ticker in tqdm(market_data.index.get_level_values(1).unique()):
    df_ticker = market_data.xs(ticker,level=1)
    try :
        metrics = ta.squeeze(df_ticker['high'],df_ticker['low'],df_ticker['close'],
                    bb_std=2,
                    mom_length=5,
                    bb_length=5).iloc[:,0].fillna(0)
        results[ticker] = metrics

    except :
        pass

  3%|▎         | 25/866 [00:00<00:06, 121.46it/s]

Date
2008-01-02     36.7886
2008-01-03     36.3388
2008-01-04     35.8389
2008-01-07     35.8689
2008-01-08     35.7390
                ...
2023-03-30    135.5400
2023-03-31    138.7300
2023-04-03    138.0900
2023-04-04    139.1100
2023-04-05    139.2700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    36.7800
2008-01-03    36.6700
2008-01-04    35.9300
2008-01-07    35.0100
2008-01-08    33.5501
               ...
2023-03-30    42.8900
2023-03-31    42.7500
2023-04-03    42.9500
2023-04-04    41.5200
2023-04-05    40.1900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    14.58
2008-01-03    13.62
2008-01-04    12.70
2008-01-07    12.93
2008-01-08    12.25
              ...
2023-03-30    14.70
2023-03-31    14.76
2023-04-03    14.62
2023-04-04    14.55
2023-04-05    14.14
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     38.15
2008-01-03     38.16
2008-01-04     37.59
2008-01-07     37.42
2008-01-08     37.85
               ...
2023-03-30    119.59
2023-03-31    121.74
2023-04-03    123.36
2023-04-04    123.24
2023-04-05    121.56
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    200.2588
2008-01-03    197.3888
2008-01-04    193.0012
2008-01-07    183.5988
2008-01-08    182.4592
                ...
2023-03-30    162.4700
2023-03-31    165.0000
2023-04-03    166.2900
2023-04-04    166.8400
2023-04-05    165.0500
Name: high, Length: 3842, dtype: float64
Date
2012-12-10     37.00
2012-12-11     35.69
2012-12-12     35.25
2012-12-13     34.24
2012-12-14     34.08
               ...
2023-03-30    158.53
2023-03-31    159.57
2023-04-03    160.47
2023-04-04    161.73
2023-04-05    161.67
Name: high, Length: 2598, dtype: float64
Date
2008-01-02     45.060
2008-01-03     45.090
2008-01-04     44.810
2008-01-07     44.530
2008-01-08     46.555
               ...
2023-03-30    159.720
2023-03-31    161.000
2023-04-03    163.220
2023-04-04    163.120
2023-04-05    167.920
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    26.79
2008-01-03    26.61
2008-01-04    25.72
2008-01-07    24.60
2008-01-08    23.82
              ...
2013-04-24     0.04
2013-04-25     0.04
2013-04-26     0.03
2013-04-29     0.03
2013-04-30     0.01
Name: high, Length: 1341, dtype: float64
Date
2008-01-02     15.75
2008-01-03     15.45
2008-01-04     14.99
2008-01-07     14.89
2008-01-08     15.08
               ...
2022-12-19    381.69
2022-12-20    381.30
2022-12-21    381.28
2022-12-22    381.02
2022-12-23    381.02
Name: high, Length: 3772, dtype: float64
Date
2008-01-02     56.64
2008-01-03     56.11
2008-01-04     56.59
2008-01-07     58.02
2008-01-08     60.00
               ...
2023-03-30     99.48
2023-03-31    101.41
2023-04-03    101.66
2023-04-04    103.34
2023-04-05    104.29
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    33.23
2008-01-03    33.08
2008-01-04    32.39
2008-01-07    33.40
2008-01-08    33.27
              ...
2016-12-27    17.74
2016-12-28    17.77
2016-12-29    17.87
2016-12-30    17.95
2017-01-03    18.05
Name: high, Length: 2268, dtype: float64
Date
2008-01-02    70.4499
2008-01-03    70.2201
2008-01-04    69.7599
2008-01-07    70.4901
2008-01-08    72.0000
               ...
2023-03-30    68.2500
2023-03-31    68.8800
2023-04-03    69.0200
2023-04-04    68.8300
2023-04-05    68.7050
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     36.650
2008-01-03     36.500
2008-01-04     35.390
2008-01-07     35.320
2008-01-08     35.230
               ...
2023-03-30    283.040
2023-03-31    285.960
2023-04-03    286.455
2023-04-04    287.430
2023-04-05    286.900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.10
2008-01-03    43.69
2008-01-04    42.80
2008-01-07    42.48
2008-01-08    41.82
              ...
2010-02-01    62.64
2010-02-02    63.61
2010-02-03    63.67
2010-02-04    63.06
2010-02-05    60.94
Name: high, Length: 529, dtype: float64
Date
2021-09-16    21.349
2021-09-17    20.940
2021-09-20    20.420
2021-09-21    20.734
2021-09-22    21.580
               ...
2023-03-30    22.840
2023-03-31    22.920
2023-04-03    23.355
2023-04-04    23.050
2023-04-05    22.880
Name: high, Length: 391, dtype: float64
Date
2008-01-02     43.25
2008-01-03     42.21
2008-01-04     41.49
2008-01-07     40.75
2008-01-08     40.19
               ...
2023-03-30    382.58
2023-03-31    385.73
2023-04-03    383.73
2023-04-04    385.70
2023-04-05    386.00
Name: high, Length: 3842, dtype: float64
Date
2020-05-15    30.7800
2020-05-18    30.9900
2020-05-19    31.8800
2020-05-20    34.6899
2020-05-21    35.0000
               ...
2023-03-30     2.2622
2023-03-31     1.9900
2023-04-03     2.0801
2023-04-04     2.0700
2023-04-05     2.0700
Name: high, Length: 728, dtype: float64
Date
2008-01-02     31.51
2008-01-03     30.47
2008-01-04     29.85
2008-01-07     29.22
2008-01-08     29.13
               ...
2023-03-30    195.13
2023-03-31    197.56
2023-04-03    197.75
2023-04-04    198.25
2023-04-05    194.51
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.50
2008-01-03    46.30
2008-01-04    46.79
2008-01-07    46.17
2008-01-08    46.25
              ...
2023-03-30    79.70
2023-03-31    80.45
2023-04-03    81.23
2023-04-04    80.77
2023-04-05    79.56
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     39.2098
2008-01-03     38.1387
2008-01-04     37.3222
2008-01-07     37.0413
2008-01-08     37.1203
                ...
2023-03-30    221.8000
2023-03-31    222.7700
2023-04-03    219.0500
2023-04-04    216.9700
2023-04-05    214.5600
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    74.9592
2008-01-03    74.3995
2008-01-04    73.8198
2008-01-07    72.8503
2008-01-08    74.6293
               ...
2022-03-28    58.4900
2022-03-29    59.1600
2022-03-30    59.1900
2022-03-31    57.6400
2022-04-01    57.8200
Name: high, Length: 3589, dtype: float64
Date
2008-01-02     49.71
2008-01-03     48.83
2008-01-04     47.70
2008-01-07     47.05
2008-01-08     47.10
               ...
2023-03-30    202.82
2023-03-31    208.38
2023-04-03    207.86
2023-04-04    210.89
2023-04-05    202.37
Name: high, Length: 3842, dtype: float64
Date
2018-01-19    12.9700
2018-01-22    12.1800
2018-01-23    12.1200
2018-01-24    12.1443
2018-01-25    11.9400
               ...
2023-03-30     7.2900
2023-03-31     7.2400
2023-04-03     7.3100
2023-04-04     7.2150
2023-04-05     6.9550
Name: high, Length: 1312, dtype: float64
Date
2008-01-02    54.28
2008-01-03    53.99
2008-01-04    53.45
2008-01-07    53.66
2008-01-08    54.29
              ...
2023-03-30    86.86
2023-03-31    86.98
2023-04-03    86.94
2023-04-04    86.66
2023-04-05    89.31
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.81
2008-01-03    47.06
2008-01-04    46.91
2008-01-07    47.71
2008-01-08    48.26
              ...
2023-03-30    91.18
2023-03-31    91.14
2023-04-03    91.62
2023-04-04    91.34
2023-04-05    94.91
Name: high, Length: 3842, dtype: float64

  4%|▍         | 38/866 [00:00<00:06, 123.16it/s]

Date
2008-01-02    21.59
2008-01-03    21.27
2008-01-04    21.35
2008-01-07    22.14
2008-01-08    22.48
              ...
2023-03-30    23.96
2023-03-31    24.14
2023-04-03    24.21
2023-04-04    23.94
2023-04-05    24.24
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    62.71
2008-01-03    63.87
2008-01-04    63.28
2008-01-07    64.00
2008-01-08    64.22
              ...
2023-03-30    64.79
2023-03-31    64.67
2023-04-03    65.18
2023-04-04    65.10
2023-04-05    64.74
Name: high, Length: 3842, dtype: float64
Date
2021-04-15    31.6899
2021-04-16    33.9400
2021-04-19    32.6200
2021-04-20    34.1350
2021-04-21    33.5600
               ...
2023-03-30    27.1750
2023-03-31    24.0200
2023-04-03    25.5800
2023-04-04    25.5350
2023-04-05    26.2300
Name: high, Length: 498, dtype: float64
Date
2008-01-02     27.35
2008-01-03     27.05
2008-01-04     26.65
2008-01-07     26.34
2008-01-08     26.70
               ...
2020-05-04    190.46
2020-05-05    193.73
2020-05-06    196.45
2020-05-07    195.31
2020-05-08    193.38
Name: high, Length: 3110, dtype: float64
Date
2008-01-02    59.07
2008-01-03    57.36
2008-01-04    56.67
2008-01-07    56.79
2008-01-08    57.25
              ...
2023-03-30    49.92
2023-03-31    50.49
2023-04-03    50.84
2023-04-04    51.09
2023-04-05    50.30
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    34.870
2008-01-03    35.120
2008-01-04    33.060
2008-01-07    33.160
2008-01-08    33.690
               ...
2023-03-30     7.380
2023-03-31     7.720
2023-04-03     7.790
2023-04-04     7.775
2023-04-05     7.590
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     66.99
2008-01-03     66.25
2008-01-04     65.56
2008-01-07     65.64
2008-01-08     65.75
               ...
2023-03-30    119.61
2023-03-31    120.59
2023-04-03    121.09
2023-04-04    119.34
2023-04-05    119.15
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     24.23
2008-01-03     23.83
2008-01-04     23.47
2008-01-07     23.78
2008-01-08     24.95
               ...
2023-03-30    189.84
2023-03-31    191.37
2023-04-03    193.86
2023-04-04    195.01
2023-04-05    196.15
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    34.87
2008-01-03    34.70
2008-01-04    33.80
2008-01-07    32.86
2008-01-08    31.60
              ...
2023-03-30    77.06
2023-03-31    78.40
2023-04-03    78.50
2023-04-04    77.99
2023-04-05    77.75
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.70
2008-01-03    45.38
2008-01-04    43.88
2008-01-07    41.68
2008-01-08    40.79
              ...
2019-05-21     2.37
2019-05-22     2.31
2019-05-23     2.20
2019-05-24     2.18
2019-05-28     2.01
Name: high, Length: 2870, dtype: float64
Date
2008-01-02     41.15
2008-01-03     40.83
2008-01-04     40.35
2008-01-07     40.83
2008-01-08     40.06
               ...
2023-03-30    229.32
2023-03-31    224.57
2023-04-03    223.29
2023-04-04    216.94
2023-04-05    201.12
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     17.22
2008-01-03     17.02
2008-01-04     16.83
2008-01-07     16.57
2008-01-08     16.45
               ...
2023-03-30    314.55
2023-03-31    335.15
2023-04-03    335.08
2023-04-04    333.01
2023-04-05    324.44
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    25.170
2008-01-03    24.150
2008-01-04    23.090
2008-01-07    24.340
2008-01-08    24.048
               ...
2023-03-30    41.480
2023-03-31    41.970
2023-04-03    42.480
2023-04-04    42.500
2023-04-05    41.970
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     52.44
2008-01-03     51.54
2008-01-04     51.94
2008-01-07     51.62
2008-01-08     51.68
               ...
2023-03-30    110.40
2023-03-31    111.28
2023-04-03    115.31
2023-04-04    114.98
2023-04-05    115.47
Name: high, Length: 3842, dtype: float64
Date
2013-11-18     50.00
2013-11-19     49.00
2013-11-20     46.00
2013-11-21     45.15
2013-11-22     44.10
               ...
2023-03-30    106.28
2023-03-31    106.85
2023-04-03    106.74
2023-04-04    105.98
2023-04-05     99.86
Name: high, Length: 2361, dtype: float64
Date
2017-11-01    18.980
2017-11-02    18.200
2017-11-03    19.400
2017-11-06    19.600
2017-11-07    19.945
               ...
2023-03-30    71.100
2023-03-31    72.506
2023-04-03    71.740
2023-04-04    72.660
2023-04-05    71.690
Name: high, Length: 1365, dtype: float64
Date
2008-01-02     76.82
2008-01-03     78.00
2008-01-04     77.86
2008-01-07     75.20
2008-01-08     74.00
               ...
2021-07-15    184.72
2021-07-16    181.52
2021-07-19    180.37
2021-07-20    182.67
2021-07-21    182.50
Name: high, Length: 3412, dtype: float64
Date
2008-01-02     17.9700
2008-01-03     17.4000
2008-01-04     17.2600
2008-01-07     16.9200
2008-01-08     16.9999
                ...
2023-03-30    123.3800
2023-03-31    123.5200
2023-04-03    122.4400
2023-04-04    122.9700
2023-04-05    119.6900
Name: high, Length: 3842, dtype: float64
Date
2012-05-15     7.70
2012-05-16     7.70
2012-05-17     7.70
2012-05-18     7.70
2012-05-21     7.70
              ...
2023-03-30    11.19
2023-03-31    11.39
2023-04-03    11.39
2023-04-04    11.35
2023-04-05    11.32
Name: high, Length: 2741, dtype: float64
Date
2008-01-02     7.40
2008-01-03     7.18
2008-01-04     6.64
2008-01-07     6.41
2008-01-08     6.38
              ...
2023-03-30    99.53
2023-03-31    98.36
2023-04-03    96.79
2023-04-04    97.27
2023-04-05    94.50
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     46.9502
2008-01-03     46.9301
2008-01-04     45.9801
2008-01-07     45.6600
2008-01-08     45.4599
                ...
2023-03-30    143.9700
2023-03-31    145.5100
2023-04-03    145.4300
2023-04-04    144.1300
2023-04-05    138.5100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    118.36
2008-01-03    114.83
2008-01-04    110.16
2008-01-07    108.54
2008-01-08    106.62
               ...
2023-03-30    140.82
2023-03-31    142.55
2023-04-03    142.36
2023-04-04    141.19
2023-04-05    137.31
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     47.04
2008-01-03     47.10
2008-01-04     46.29
2008-01-07     45.76
2008-01-08     47.95
               ...
2023-03-30    242.81
2023-03-31    242.40
2023-04-03    244.75
2023-04-04    248.11
2023-04-05    253.71
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     56.45
2008-01-03     56.32
2008-01-04     54.75
2008-01-07     54.09
2008-01-08     54.26
               ...
2023-03-30    305.25
2023-03-31    306.73
2023-04-03    308.76
2023-04-04    309.38
2023-04-05    298.56
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.530
2008-01-03    27.960
2008-01-04    27.990
2008-01-07    28.510
2008-01-08    29.760
               ...
2016-11-25    67.170
2016-11-28    66.615
2016-11-29    67.950
2016-11-30    68.485
2016-12-01    70.090
Name: high, Length: 2247, dtype: float64

  9%|▉         | 78/866 [00:00<00:06, 124.78it/s]

Date
2008-01-02     42.72
2008-01-03     41.25
2008-01-04     40.21
2008-01-07     39.75
2008-01-08     39.97
               ...
2023-03-30    202.74
2023-03-31    204.49
2023-04-03    204.95
2023-04-04    204.11
2023-04-05    207.76
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     97.43
2008-01-03     97.25
2008-01-04     93.40
2008-01-07     90.57
2008-01-08     91.83
               ...
2023-03-30    103.04
2023-03-31    103.49
2023-04-03    103.29
2023-04-04    104.20
2023-04-05    103.91
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     15.71
2008-01-03     15.18
2008-01-04     14.52
2008-01-07     14.02
2008-01-08     14.03
               ...
2023-03-30    133.67
2023-03-31    134.42
2023-04-03    136.19
2023-04-04    135.74
2023-04-05    131.16
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     48.35
2008-01-03     48.21
2008-01-04     45.25
2008-01-07     43.47
2008-01-08     43.74
               ...
2018-09-24    159.90
2018-09-25    163.19
2018-09-26    158.16
2018-09-27    159.30
2018-09-28    154.72
Name: high, Length: 2706, dtype: float64
Date
2014-06-06     60.00
2014-06-09     57.00
2014-06-10     60.00
2014-06-11     63.50
2014-06-12     67.83
               ...
2023-03-30    163.90
2023-03-31    168.06
2023-04-03    168.32
2023-04-04    168.66
2023-04-05    165.75
Name: high, Length: 2224, dtype: float64
Date
2008-01-02    80.12
2008-01-03    79.62
2008-01-04    76.25
2008-01-07    75.95
2008-01-08    77.73
              ...
2023-03-30    27.43
2023-03-31    27.80
2023-04-03    28.39
2023-04-04    28.20
2023-04-05    27.41
Name: high, Length: 3842, dtype: float64
Date
2014-10-16    0.490
2014-10-17    0.445
2014-10-20    0.400
2014-10-21    0.400
2014-10-22    0.400
              ...
2020-10-02    0.210
2020-10-05    0.210
2020-10-06    0.205
2020-10-07    0.200
2020-10-08    0.200
Name: high, Length: 1357, dtype: float64
Date
2008-01-02     41.6000
2008-01-03     40.9700
2008-01-04     39.5500
2008-01-07     39.2600
2008-01-08     38.6600
                ...
2023-03-30    327.5500
2023-03-31    333.8900
2023-04-03    330.9200
2023-04-04    332.8300
2023-04-05    328.3679
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     88.03
2008-01-03     88.31
2008-01-04     88.65
2008-01-07     89.32
2008-01-08     90.00
               ...
2022-06-21    465.01
2022-06-22    469.99
2022-06-23    475.42
2022-06-24    477.55
2022-06-27    485.75
Name: high, Length: 3647, dtype: float64
Date
2008-01-02     47.77
2008-01-03     46.68
2008-01-04     46.29
2008-01-07     45.84
2008-01-08     45.69
               ...
2023-03-30    314.62
2023-03-31    315.45
2023-04-03    318.52
2023-04-04    318.86
2023-04-05    322.87
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    35.42
2008-01-03    34.53
2008-01-04    32.99
2008-01-07    32.25
2008-01-08    32.79
              ...
2023-03-30    69.50
2023-03-31    69.20
2023-04-03    69.18
2023-04-04    68.84
2023-04-05    66.22
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    111.78
2008-01-03    112.00
2008-01-04    112.49
2008-01-07    109.06
2008-01-08    107.75
               ...
2023-03-30     36.58
2023-03-31     36.09
2023-04-03     39.47
2023-04-04     39.59
2023-04-05     38.18
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    67.33
2008-01-03    67.63
2008-01-04    66.22
2008-01-07    65.08
2008-01-08    64.12
              ...
2019-05-21    72.81
2019-05-22    72.74
2019-05-23    72.30
2019-05-24    72.60
2019-05-28    72.23
Name: high, Length: 2870, dtype: float64
Date
2008-01-02     98.80
2008-01-03     97.72
2008-01-04     98.26
2008-01-07     97.27
2008-01-08     97.61
               ...
2023-03-30    280.38
2023-03-31    287.55
2023-04-03    289.32
2023-04-04    288.91
2023-04-05    286.89
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.480
2008-01-03    44.410
2008-01-04    43.850
2008-01-07    43.770
2008-01-08    43.560
               ...
2023-03-30    80.710
2023-03-31    81.800
2023-04-03    81.530
2023-04-04    81.360
2023-04-05    79.305
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    71.48
2008-01-03    72.26
2008-01-04    70.67
2008-01-07    70.98
2008-01-08    71.85
              ...
2017-01-26    10.00
2017-01-27    10.00
2017-01-30    10.00
2017-01-31    10.00
2017-02-01    10.00
Name: high, Length: 2288, dtype: float64
Date
2011-11-17     21.9033
2011-11-18     21.5136
2011-11-21     21.2138
2011-11-22     20.6942
2011-11-23     19.7349
                ...
2023-03-30    111.8700
2023-03-31    112.3100
2023-04-03    112.5800
2023-04-04    111.0400
2023-04-05    107.3200
Name: high, Length: 2863, dtype: float64
Date
2008-01-02    103.48
2008-01-03    103.81
2008-01-04     98.59
2008-01-07     97.27
2008-01-08     98.55
               ...
2023-03-30    124.98
2023-03-31    125.68
2023-04-03    126.79
2023-04-04    125.13
2023-04-05    124.94
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     52.00
2008-01-03     51.08
2008-01-04     50.28
2008-01-07     49.69
2008-01-08     49.97
               ...
2016-05-16    143.02
2016-05-17    142.98
2016-05-18    142.99
2016-05-19    142.99
2016-05-20    142.99
Name: high, Length: 2112, dtype: float64
Date
2020-04-01    15.00
2020-04-02     7.98
2020-04-03     8.10
2020-04-06     9.00
2020-04-07     7.58
              ...
2023-03-30    27.50
2023-03-31    27.19
2023-04-03    26.45
2023-04-04    25.89
2023-04-05    25.71
Name: high, Length: 759, dtype: float64
Date
2008-01-02     48.3229
2008-01-03     47.2028
2008-01-04     45.8027
2008-01-07     45.4527
2008-01-08     45.5027
                ...
2023-03-30    102.3600
2023-03-31    103.1600
2023-04-03    103.5000
2023-04-04    103.1300
2023-04-05    101.8700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    87.32
2008-01-03    86.76
2008-01-04    84.70
2008-01-07    83.90
2008-01-08    81.91
              ...
2023-03-30    39.49
2023-03-31    39.47
2023-04-03    39.70
2023-04-04    39.60
2023-04-05    38.14
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     28.180
2008-01-03     28.170
2008-01-04     27.890
2008-01-07     28.150
2008-01-08     28.290
               ...
2023-03-30    112.440
2023-03-31    112.420
2023-04-03    112.760
2023-04-04    112.090
2023-04-05    115.325
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    29.76
2008-01-03    28.45
2008-01-04    28.19
2008-01-07    28.23
2008-01-08    28.40
              ...
2023-03-30    85.10
2023-03-31    85.74
2023-04-03    85.67
2023-04-04    85.57
2023-04-05    85.88
Name: high, Length: 3842, dtype: float64
Date
2009-10-20    14.900
2009-10-21    15.050
2009-10-22    14.890
2009-10-23    14.360
2009-10-26    14.980
               ...
2016-12-16    11.980
2016-12-19    11.844
2016-12-20    11.920
2016-12-21    11.910
2016-12-22    11.900
Name: high, Length: 1808, dtype: float64
Date
2008-01-02     83.5200
2008-01-03     82.4533
2008-01-04     77.2089
2008-01-07     77.5200
2008-01-08     81.0489
                ...
2023-03-30    163.9000
2023-03-31    168.2800
2023-04-03    170.3300
2023-04-04    168.1700
2023-04-05    167.6100
Name: high, Length: 3842, dtype: float64
Date
2009-08-06     16.91
2009-08-07     16.76
2009-08-10     16.63
2009-08-11     16.00
2009-08-12     16.20
               ...
2023-03-30    636.05
2023-03-31    642.22
2023-04-03    643.90
2023-04-04    644.24
2023-04-05    631.70
Name: high, Length: 3440, dtype: float64
Date
2008-01-02    39.82
2008-01-03    39.78
2008-01-04    39.57
2008-01-07    39.43
2008-01-08    39.37
              ...
2019-05-21     3.20
2019-05-22     3.72
2019-05-23     3.98
2019-05-24     3.72
2019-05-28     3.89
Name: high, Length: 2870, dtype: float64

 11%|█         | 91/866 [00:00<00:06, 125.07it/s]

Date
2008-01-02     53.53
2008-01-03     52.88
2008-01-04     51.42
2008-01-07     51.49
2008-01-08     51.16
               ...
2023-03-30    175.19
2023-03-31    179.20
2023-04-03    179.93
2023-04-04    178.76
2023-04-05    176.84
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    11.00
2008-01-03    10.89
2008-01-04    10.66
2008-01-07    10.33
2008-01-08    10.26
              ...
2008-12-01    10.58
2008-12-02    10.16
2008-12-03    10.59
2008-12-04    10.19
2008-12-05    10.20
Name: high, Length: 236, dtype: float64
Date
2008-04-23     21.45
2008-04-24     21.00
2008-04-25     21.25
2008-04-28     21.49
2008-04-29     21.39
               ...
2023-03-30    146.01
2023-03-31    147.25
2023-04-03    146.51
2023-04-04    147.79
2023-04-05    150.85
Name: high, Length: 3765, dtype: float64
Date
2008-01-02     52.32
2008-01-03     51.50
2008-01-04     49.99
2008-01-07     50.10
2008-01-08     49.70
               ...
2023-03-30    164.96
2023-03-31    165.08
2023-04-03    165.24
2023-04-04    165.19
2023-04-05    161.60
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    63.87
2008-01-03    64.00
2008-01-04    63.58
2008-01-07    63.22
2008-01-08    64.75
              ...
2011-02-18    25.24
2011-02-22    25.46
2011-02-23    25.40
2011-02-24    25.43
2011-02-25    25.35
Name: high, Length: 795, dtype: float64
Date
2008-01-02     45.58
2008-01-03     45.05
2008-01-04     43.25
2008-01-07     42.29
2008-01-08     44.69
               ...
2023-03-30    182.31
2023-03-31    182.86
2023-04-03    185.01
2023-04-04    173.80
2023-04-05    163.17
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     120.1000
2008-01-03     116.9300
2008-01-04     112.9000
2008-01-07     113.6000
2008-01-08     113.9300
                ...
2023-03-30    2418.3301
2023-03-31    2460.1499
2023-04-03    2530.3201
2023-04-04    2513.8701
2023-04-05    2511.7700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     87.84
2008-01-03     87.64
2008-01-04     87.16
2008-01-07     86.30
2008-01-08     83.37
               ...
2023-03-30    212.87
2023-03-31    214.80
2023-04-03    218.57
2023-04-04    213.99
2023-04-05    214.23
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    41.55
2008-01-03    40.81
2008-01-04    40.29
2008-01-07    40.24
2008-01-08    40.21
              ...
2023-03-30    29.06
2023-03-31    28.68
2023-04-03    28.98
2023-04-04    28.65
2023-04-05    27.91
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.25
2008-01-03    44.57
2008-01-04    44.96
2008-01-07    43.94
2008-01-08    43.53
              ...
2023-03-30    54.59
2023-03-31    55.15
2023-04-03    55.50
2023-04-04    55.04
2023-04-05    54.58
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    58.92
2008-01-03    59.64
2008-01-04    58.61
2008-01-07    59.71
2008-01-08    62.25
              ...
2023-03-30    41.11
2023-03-31    40.64
2023-04-03    40.85
2023-04-04    40.69
2023-04-05    42.47
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    29.43
2008-01-03    28.46
2008-01-04    26.54
2008-01-07    26.66
2008-01-08    26.93
              ...
2023-03-30     0.81
2023-03-31     0.55
2023-04-03     0.45
2023-04-04     0.38
2023-04-05     0.37
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    30.890
2008-01-03    29.850
2008-01-04    28.860
2008-01-07    28.200
2008-01-08    28.280
               ...
2019-05-21    48.895
2019-05-22    49.200
2019-05-23    48.700
2019-05-24    48.470
2019-05-28    48.500
Name: high, Length: 2870, dtype: float64
Date
2008-01-02    18.95
2008-01-03    18.28
2008-01-04    17.12
2008-01-07    16.98
2008-01-08    16.56
              ...
2023-03-30    37.76
2023-03-31    36.68
2023-04-03    37.05
2023-04-04    36.84
2023-04-05    36.32
Name: high, Length: 3817, dtype: float64
Date
2008-01-02    52.98
2008-01-03    51.48
2008-01-04    48.28
2008-01-07    47.77
2008-01-08    47.63
              ...
2023-03-30    75.77
2023-03-31    78.38
2023-04-03    79.12
2023-04-04    78.99
2023-04-05    77.40
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    17.400
2008-01-03    17.050
2008-01-04    16.335
2008-01-07    16.010
2008-01-08    15.900
               ...
2023-03-30    80.910
2023-03-31    82.180
2023-04-03    83.000
2023-04-04    82.980
2023-04-05    79.310
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     95.27
2008-01-03     94.31
2008-01-04     92.43
2008-01-07     95.90
2008-01-08     96.49
               ...
2017-12-21    333.39
2017-12-22    333.67
2017-12-26    333.41
2017-12-27    333.29
2017-12-28    334.03
Name: high, Length: 2517, dtype: float64
Date
2008-01-02    70.16
2008-01-03    70.21
2008-01-04    68.67
2008-01-07    67.19
2008-01-08    66.49
              ...
2010-03-08    75.43
2010-03-09    75.91
2010-03-10    75.82
2010-03-11    75.43
2010-03-12    75.14
Name: high, Length: 553, dtype: float64
Date
2008-01-02     88.170
2008-01-03     88.200
2008-01-04     88.630
2008-01-07     90.400
2008-01-08     91.200
               ...
2023-03-30    245.200
2023-03-31    247.640
2023-04-03    248.470
2023-04-04    250.480
2023-04-05    252.875
Name: high, Length: 3842, dtype: float64
Date
2020-02-06    25.260
2020-02-07    21.900
2020-02-10    22.150
2020-02-11    24.200
2020-02-12    27.600
               ...
2023-03-30    31.550
2023-03-31    31.210
2023-04-03    30.789
2023-04-04    30.285
2023-04-05    29.770
Name: high, Length: 797, dtype: float64
Date
2008-01-02    114.42
2008-01-03    114.59
2008-01-04    110.96
2008-01-07    108.80
2008-01-08    109.43
               ...
2023-03-30     26.54
2023-03-31     26.99
2023-04-03     27.18
2023-04-04     27.07
2023-04-05     26.69
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    93.2065
2008-01-03    92.1239
2008-01-04    92.5718
2008-01-07    93.8790
2008-01-08    94.7748
               ...
2023-03-30    64.8800
2023-03-31    65.1900
2023-04-03    65.0800
2023-04-04    65.0100
2023-04-05    64.3900
Name: high, Length: 3840, dtype: float64
Date
2008-01-02    74.0203
2008-01-03    73.3800
2008-01-04    73.9003
2008-01-07    74.7500
2008-01-08    75.4100
               ...
2023-03-30    63.9800
2023-03-31    64.3700
2023-04-03    64.1400
2023-04-04    64.5500
2023-04-05    63.4900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    74.020
2008-01-03    73.380
2008-01-04    73.900
2008-01-07    74.580
2008-01-08    75.410
               ...
2021-12-13    72.540
2021-12-14    72.770
2021-12-15    72.285
2021-12-16    73.070
2021-12-17    72.880
Name: high, Length: 3517, dtype: float64
Date
2008-01-02    122.98
2008-01-03    125.45
2008-01-04    123.50
2008-01-07    126.93
2008-01-08    131.64
               ...
2023-03-30     98.00
2023-03-31     96.82
2023-04-03     97.98
2023-04-04     97.04
2023-04-05     94.13
Name: high, Length: 3842, dtype: float64

 15%|█▌        | 131/866 [00:01<00:05, 129.70it/s]

Date
2017-07-17    75.00
2017-07-18    72.00
2017-07-19    69.51
2017-07-20    70.00
2017-07-21    70.00
              ...
2023-03-30    44.35
2023-03-31    44.18
2023-04-03    44.69
2023-04-04    44.45
2023-04-05    42.54
Name: high, Length: 1440, dtype: float64
Date
2017-07-28    659.020
2018-01-09    675.200
2018-02-23    514.760
2018-03-07    540.350
2019-01-16    438.700
2019-02-07    466.500
2019-02-11    480.500
2019-02-12    480.800
2019-02-14    494.250
2019-02-19    500.000
2019-02-20    516.200
2019-02-21    507.000
2019-02-27    513.100
2019-02-28    510.800
2019-03-06    510.000
2019-03-08    501.450
2019-03-11    520.000
2019-03-13    526.600
2019-03-15    535.000
2019-03-21    535.000
2019-03-29    536.000
2019-04-04    511.900
2019-04-05    511.250
2019-04-10    505.550
2019-04-24    491.450
2019-06-19    442.000
2019-09-03    442.000
2019-10-17     22.555
2019-10-21     22.325
2019-10-22     22.860
2019-10-23     23.200
Name: high, dtype: float64
Date
2008-01-02    81.68
2008-01-03    82.13
2008-01-04    80.80
2008-01-07    80.49
2008-01-08    79.67
              ...
2017-06-27    54.06
2017-06-28    54.07
2017-06-29    54.42
2017-06-30    54.92
2017-07-03    57.73
Name: high, Length: 2393, dtype: float64
Date
2008-01-02    16.25
2008-01-03    15.61
2008-01-04    14.50
2008-01-07    14.08
2008-01-08    13.73
              ...
2023-03-30    10.61
2023-03-31    10.97
2023-04-03    11.28
2023-04-04    11.52
2023-04-05    11.40
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     52.6041
2008-01-03     52.0883
2008-01-04     51.9685
2008-01-07     54.8239
2008-01-08     53.6910
                ...
2023-03-30    276.3800
2023-03-31    279.0000
2023-04-03    279.0700
2023-04-04    277.5800
2023-04-05    285.3600
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    104.99
2008-01-03    100.38
2008-01-04     99.00
2008-01-07    100.33
2008-01-08    101.22
               ...
2023-03-30    480.74
2023-03-31    479.41
2023-04-03    477.83
2023-04-04    468.42
2023-04-05    468.83
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    24.62
2008-01-03    24.44
2008-01-04    23.62
2008-01-07    23.46
2008-01-08    23.17
              ...
2010-04-22    23.47
2010-04-23    24.40
2010-04-26    24.53
2010-04-27    24.07
2010-04-28    23.22
Name: high, Length: 585, dtype: float64
Date
2008-01-02    48.960
2008-01-03    49.400
2008-01-04    49.120
2008-01-07    49.380
2008-01-08    49.240
               ...
2023-03-30    45.790
2023-03-31    45.450
2023-04-03    45.590
2023-04-04    45.500
2023-04-05    44.965
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     119.0000
2008-01-03     116.0000
2008-01-04     110.4500
2008-01-07     109.0000
2008-01-08     109.5000
                ...
2023-03-30    2624.4900
2023-03-31    2660.8601
2023-04-03    2677.1799
2023-04-04    2674.9500
2023-04-05    2635.1450
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    81.68
2008-01-03    82.13
2008-01-04    80.80
2008-01-07    80.49
2008-01-08    79.67
              ...
2023-03-30    28.89
2023-03-31    29.02
2023-04-03    30.52
2023-04-04    30.09
2023-04-05    29.51
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    217.39
2008-01-03    227.10
2008-01-04    227.49
2008-01-07    214.34
2008-01-08    210.58
               ...
2023-03-30    667.62
2023-03-31    669.15
2023-04-03    670.21
2023-04-04    669.65
2023-04-05    656.87
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.25
2008-01-03    44.57
2008-01-04    44.96
2008-01-07    43.94
2008-01-08    43.53
              ...
2022-05-04    83.22
2022-05-05    81.88
2022-05-06    75.59
2022-05-09    72.21
2022-05-10    72.72
Name: high, Length: 3615, dtype: float64
Date
2008-01-02    36.19
2008-01-03    35.46
2008-01-04    34.71
2008-01-07    34.13
2008-01-08    35.17
              ...
2013-09-04    46.14
2013-09-05    46.10
2013-09-06    46.29
2013-09-09    46.30
2013-09-10    46.34
Name: high, Length: 1433, dtype: float64
Date
2008-01-02    27.510
2008-01-03    26.980
2008-01-04    26.300
2008-01-07    25.950
2008-01-08    25.630
               ...
2019-05-21    58.265
2019-05-22    58.320
2019-05-23    57.490
2019-05-24    57.582
2019-05-28    57.420
Name: high, Length: 2870, dtype: float64
Date
2008-01-02    26.500
2008-01-03    26.300
2008-01-04    26.070
2008-01-07    26.260
2008-01-08    26.970
               ...
2023-03-30    68.530
2023-03-31    69.380
2023-04-03    70.010
2023-04-04    69.780
2023-04-05    70.205
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     84.83
2008-01-03     83.20
2008-01-04     81.00
2008-01-07     79.57
2008-01-08     80.16
               ...
2010-02-08     99.78
2010-02-09     99.97
2010-02-10    100.00
2010-02-11    100.25
2010-02-12    100.26
Name: high, Length: 534, dtype: float64
Date
2008-01-02     22.68
2008-01-03     22.71
2008-01-04     22.96
2008-01-07     23.40
2008-01-08     23.49
               ...
2023-03-30    145.16
2023-03-31    147.23
2023-04-03    146.13
2023-04-04    146.39
2023-04-05    143.91
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.45
2008-01-03    26.68
2008-01-04    26.35
2008-01-07    24.90
2008-01-08    25.34
              ...
2016-01-25    54.20
2016-01-26    54.51
2016-01-27    54.49
2016-01-28    54.51
2016-01-29    54.74
Name: high, Length: 2034, dtype: float64
Date
2008-01-02    11.4443
2008-01-03    12.0512
2008-01-04    12.0859
2008-01-07    11.5744
2008-01-08    11.3316
               ...
2019-06-03     0.0766
2019-06-04     0.0752
2019-06-05     0.0756
2019-06-06     0.0756
2019-06-07     0.0764
Name: high, Length: 2878, dtype: float64
Date
2008-01-02    4749.00
2008-01-03    4693.00
2008-01-04    4642.00
2008-01-07    4548.00
2008-01-08    4478.00
               ...
2023-03-30     307.47
2023-03-31     308.81
2023-04-03     311.50
2023-04-04     311.00
2023-04-05     311.07
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    4748.9999
2008-01-03    4692.9999
2008-01-04    4641.9999
2008-01-07    4547.9999
2008-01-08    4477.9999
                ...
2022-11-08     294.7430
2022-11-09     292.4000
2022-11-10     303.5000
2022-11-11     311.3300
2022-11-14     311.8400
Name: high, Length: 3745, dtype: float64
Date
2008-01-02    53.40
2008-01-03    53.99
2008-01-04    53.38
2008-01-07    53.09
2008-01-08    52.63
              ...
2008-12-16    65.70
2008-12-17    66.58
2008-12-18    67.05
2008-12-19    67.34
2008-12-22    67.70
Name: high, Length: 247, dtype: float64
Date
2008-01-02    23.72
2008-01-03    23.59
2008-01-04    23.62
2008-01-07    23.52
2008-01-08    23.50
              ...
2023-03-30    57.02
2023-03-31    57.48
2023-04-03    57.85
2023-04-04    58.26
2023-04-05    58.85
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    11.85
2008-01-03    11.52
2008-01-04    11.39
2008-01-07    11.64
2008-01-08    11.56
              ...
2023-03-30    49.66
2023-03-31    50.21
2023-04-03    49.98
2023-04-04    50.39
2023-04-05    50.87
Name: high, Length: 3842, dtype: float64
Date
2017-04-03    31.4999
2017-04-04    32.5000
2017-04-05    28.5000
2017-04-06    28.6200
2017-04-07    27.8817
               ...
2023-03-30    25.5400
2023-03-31    25.9000
2023-04-03    26.4000
2023-04-04    26.1190
2023-04-05    25.9600
Name: high, Length: 1513, dtype: float64
Date
2009-07-01    38.500
2009-07-02    38.156
2009-07-06    37.184
2009-07-07    37.230
2009-07-08    37.443
               ...
2023-03-30    66.420
2023-03-31    67.090
2023-04-03    66.810
2023-04-04    67.010
2023-04-05    67.010
Name: high, Length: 3463, dtype: float64
Date
2008-01-02    48.420
2008-01-03    47.620
2008-01-04    45.370
2008-01-07    44.856
2008-01-08    44.690
               ...
2023-03-30    48.740
2023-03-31    49.190
2023-04-03    49.600
2023-04-04    48.920
2023-04-05    47.150
Name: high, Length: 3842, dtype: float64
Date
2015-07-01    34.500
2015-07-02    32.400
2015-07-06    31.750
2015-07-07    32.020
2015-07-08    32.200
               ...
2016-05-26    46.090
2016-05-27    46.008
2016-05-31    45.950
2016-06-01    46.313
2016-06-02    46.520
Name: high, Length: 233, dtype: float64

 18%|█▊        | 157/866 [00:01<00:05, 126.50it/s]

Date
2008-01-02    93.57
2008-01-03    93.25
2008-01-04    89.10
2008-01-07    86.75
2008-01-08    88.10
              ...
2023-03-30    54.21
2023-03-31    54.15
2023-04-03    55.30
2023-04-04    54.24
2023-04-05    52.88
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    29.89
2008-01-03    29.39
2008-01-04    29.03
2008-01-07    28.76
2008-01-08    28.70
              ...
2023-03-30    46.64
2023-03-31    46.97
2023-04-03    47.49
2023-04-04    47.02
2023-04-05    46.19
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    25.19
2008-01-03    24.64
2008-01-04    24.25
2008-01-07    23.93
2008-01-08    23.59
              ...
2018-10-30    44.38
2018-10-31    44.40
2018-11-01    44.44
2018-11-02    44.47
2018-11-05    44.44
Name: high, Length: 2732, dtype: float64
Date
2008-01-02    23.7881
2008-01-03    23.4382
2008-01-04    23.2782
2008-01-07    23.4482
2008-01-08    23.6182
               ...
2023-03-30    37.7100
2023-03-31    37.7600
2023-04-03    37.7200
2023-04-04    37.6700
2023-04-05    38.9400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    41.3163
2008-01-03    41.3307
2008-01-04    40.9142
2008-01-07    40.6701
2008-01-08    42.0487
               ...
2023-03-30    75.4400
2023-03-31    75.8000
2023-04-03    76.9600
2023-04-04    77.0700
2023-04-05    79.5000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    50.43
2008-01-03    52.79
2008-01-04    51.68
2008-01-07    51.50
2008-01-08    50.13
              ...
2016-03-28    66.64
2016-03-29    66.73
2016-03-30    67.83
2016-03-31    68.11
2016-04-01    66.81
Name: high, Length: 2077, dtype: float64
Date
2020-03-19    12.00
2020-03-20    13.00
2020-03-23    12.75
2020-03-24    12.90
2020-03-25    13.45
              ...
2023-03-30    45.85
2023-03-31    46.08
2023-04-03    45.96
2023-04-04    45.74
2023-04-05    43.18
Name: high, Length: 768, dtype: float64
Date
2008-01-02     72.67
2008-01-03     71.49
2008-01-04     69.94
2008-01-07     69.13
2008-01-08     69.49
               ...
2023-03-30    226.34
2023-03-31    229.06
2023-04-03    233.85
2023-04-04    229.49
2023-04-05    217.88
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     62.090
2008-01-03     61.460
2008-01-04     61.490
2008-01-07     62.210
2008-01-08     61.990
               ...
2023-03-30    194.093
2023-03-31    195.700
2023-04-03    197.450
2023-04-04    198.265
2023-04-05    197.225
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    53.25
2008-01-03    52.35
2008-01-04    51.10
2008-01-07    50.70
2008-01-08    50.00
              ...
2012-11-26    79.88
2012-11-27    79.24
2012-11-28    79.50
2012-11-29    79.74
2012-11-30    79.59
Name: high, Length: 1239, dtype: float64
Date
2008-01-02    22.000
2008-01-03    21.460
2008-01-04    20.970
2008-01-07    19.480
2008-01-08    19.205
               ...
2018-03-16    47.690
2018-03-19    47.500
2018-03-20    47.900
2018-03-21    48.390
2018-03-22    47.760
Name: high, Length: 2574, dtype: float64
Date
2017-06-28    10.0400
2017-06-29    10.0200
2017-06-30    10.0300
2017-07-03    10.0299
2017-07-05    10.0400
               ...
2023-03-30     8.6600
2023-03-31     8.6510
2023-04-03     8.7000
2023-04-04     8.8000
2023-04-05     8.6500
Name: high, Length: 1453, dtype: float64
Date
2010-06-15     33.7500
2010-06-16     32.7900
2010-06-17     32.4800
2010-06-18     31.6494
2010-06-21     33.0000
                ...
2023-03-30    133.8000
2023-03-31    134.2400
2023-04-03    134.6700
2023-04-04    135.8200
2023-04-05    136.5900
Name: high, Length: 3225, dtype: float64
Date
2008-01-02    22.000
2008-01-03    21.460
2008-01-04    20.970
2008-01-07    19.480
2008-01-08    19.205
               ...
2023-03-30    71.200
2023-03-31    72.980
2023-04-03    73.240
2023-04-04    73.170
2023-04-05    70.940
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.18
2008-01-03    26.45
2008-01-04    25.75
2008-01-07    25.31
2008-01-08    25.09
              ...
2020-03-06     0.00
2020-03-09     0.00
2020-03-10     0.00
2020-03-11     0.00
2020-03-12     0.00
Name: high, Length: 3070, dtype: float64
Date
2015-06-19    22.25
2015-06-22    21.80
2015-06-23    20.00
2015-06-24    17.50
2015-06-25    16.96
              ...
2023-03-30    30.36
2023-03-31    30.05
2023-04-03    30.71
2023-04-04    30.29
2023-04-05    29.02
Name: high, Length: 1963, dtype: float64
Date
2008-01-02    26.06
2008-01-03    26.15
2008-01-04    26.11
2008-01-07    26.08
2008-01-08    26.44
              ...
2018-11-05    46.26
2018-11-06    46.90
2018-11-07    47.75
2018-11-08    47.56
2018-11-09    48.00
Name: high, Length: 2736, dtype: float64
Date
2008-01-02     41.67
2008-01-03     40.13
2008-01-04     39.23
2008-01-07     38.99
2008-01-08     39.46
               ...
2023-03-30    133.11
2023-03-31    133.96
2023-04-03    133.13
2023-04-04    133.81
2023-04-05    136.29
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    44.61
2008-01-03    43.52
2008-01-04    42.58
2008-01-07    41.94
2008-01-08    42.32
              ...
2023-03-30    10.30
2023-03-31    10.35
2023-04-03    10.07
2023-04-04    10.12
2023-04-05     9.89
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    35.8581
2008-01-03    34.5097
2008-01-04    33.4609
2008-01-07    33.3511
2008-01-08    33.6008
               ...
2023-03-30    15.7800
2023-03-31    16.1100
2023-04-03    15.6900
2023-04-04    15.4000
2023-04-05    15.3000
Name: high, Length: 3842, dtype: float64
Date
2018-04-26    31.75
2018-04-27    31.50
2018-04-30    32.00
2018-05-01    32.40
2018-05-02    33.65
              ...
2023-03-30    71.66
2023-03-31    73.46
2023-04-03    73.24
2023-04-04    73.79
2023-04-05    72.22
Name: high, Length: 1245, dtype: float64
Date
2008-01-02     17.04
2008-01-03     17.08
2008-01-04     16.68
2008-01-07     16.38
2008-01-08     16.13
               ...
2023-03-30    207.99
2023-03-31    210.23
2023-04-03    211.60
2023-04-04    214.14
2023-04-05    211.08
Name: high, Length: 3842, dtype: float64
Date
2013-06-27     18.750
2013-06-28     19.170
2013-07-01     18.900
2013-07-02     19.643
2013-07-03     19.205
               ...
2023-03-30    190.860
2023-03-31    195.040
2023-04-03    195.470
2023-04-04    194.140
2023-04-05    189.360
Name: high, Length: 2461, dtype: float64
Date
2008-01-02     43.72
2008-01-03     43.70
2008-01-04     41.28
2008-01-07     40.28
2008-01-08     39.97
               ...
2023-03-30    107.90
2023-03-31    108.96
2023-04-03    111.70
2023-04-04    109.09
2023-04-05    106.94
Name: high, Length: 3842, dtype: float64
Date
2022-01-19    43.00
2022-01-20    48.37
2022-01-21    49.95
2022-01-24    45.00
2022-01-25    44.92
              ...
2023-03-30    77.44
2023-03-31    78.60
2023-04-03    78.55
2023-04-04    76.97
2023-04-05    77.12
Name: high, Length: 305, dtype: float64
Date
2008-01-02     23.80
2008-01-03     24.94
2008-01-04     25.20
2008-01-07     26.35
2008-01-08     25.74
               ...
2019-11-14    110.53
2019-11-15    110.26
2019-11-18    110.43
2019-11-19    109.69
2019-11-20    108.59
Name: high, Length: 2994, dtype: float64

 20%|█▉        | 170/866 [00:01<00:05, 125.17it/s]

Date
2008-01-02    72.08
2008-01-03    72.75
2008-01-04    72.56
2008-01-07    72.29
2008-01-08    74.27
              ...
2011-10-07    81.23
2011-10-10    81.43
2011-10-11    81.44
2011-10-12    81.45
2011-10-13    81.49
Name: high, Length: 955, dtype: float64
Date
2008-01-02    57.19
2008-01-03    56.92
2008-01-04    56.48
2008-01-07    57.58
2008-01-08    58.22
              ...
2022-06-02    94.96
2022-06-03    94.97
2022-06-06    94.98
2022-06-07    94.99
2022-06-08    94.92
Name: high, Length: 3635, dtype: float64
Date
2008-01-02    111.95
2008-01-03    119.44
2008-01-04    114.92
2008-01-07    115.80
2008-01-08    114.41
               ...
2023-03-30     73.31
2023-03-31     72.92
2023-04-03     74.20
2023-04-04     73.02
2023-04-05     73.30
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    9.27
2008-01-03    9.17
2008-01-04    8.60
2008-01-07    8.55
2008-01-08    7.82
              ...
2008-06-24    4.66
2008-06-25    4.85
2008-06-26    4.50
2008-06-27    4.55
2008-06-30    4.47
Name: high, Length: 125, dtype: float64
Date
2014-09-24    23.22
2014-09-25    23.41
2014-09-26    23.37
2014-09-29    23.45
2014-09-30    23.57
              ...
2023-03-30    31.81
2023-03-31    31.26
2023-04-03    30.84
2023-04-04    30.52
2023-04-05    29.12
Name: high, Length: 2148, dtype: float64
Date
2009-08-21    18.50
2009-08-24    18.50
2009-08-25    18.00
2009-08-26    18.33
2009-08-27    19.00
              ...
2015-03-10    59.96
2015-03-11    59.83
2015-03-12    60.05
2015-03-13    60.05
2015-03-16    60.17
Name: high, Length: 1400, dtype: float64
Date
2008-01-02    53.9600
2008-01-03    54.3200
2008-01-04    53.6200
2008-01-07    53.4100
2008-01-08    54.7000
               ...
2023-03-30    86.8500
2023-03-31    88.6000
2023-04-03    89.1200
2023-04-04    89.8500
2023-04-05    90.4855
Name: high, Length: 3842, dtype: float64
Date
2021-02-10    50.00
2021-02-11    45.47
2021-02-12    43.50
2021-02-16    45.54
2021-02-17    44.60
              ...
2023-03-30    75.75
2023-03-31    76.68
2023-04-03    79.00
2023-04-04    77.48
2023-04-05    77.61
Name: high, Length: 542, dtype: float64
Date
2008-01-02    54.3499
2008-01-03    52.4600
2008-01-04    51.9000
2008-01-07    51.3300
2008-01-08    50.7900
               ...
2023-03-30    97.5200
2023-03-31    99.6100
2023-04-03    99.1000
2023-04-04    97.6200
2023-04-05    95.4300
Name: high, Length: 3842, dtype: float64
Date
2009-12-02     36.4964
2009-12-03     39.8142
2009-12-04     43.9615
2009-12-08     40.3672
2009-12-09     40.3672
                ...
2023-03-30    354.0000
2023-03-31    358.2200
2023-04-03    358.9800
2023-04-04    354.0300
2023-04-05    355.9900
Name: high, Length: 3351, dtype: float64
Date
2008-01-02     54.72
2008-01-03     54.61
2008-01-04     53.96
2008-01-07     54.77
2008-01-08     55.75
               ...
2023-03-30    256.97
2023-03-31    256.00
2023-04-03    264.35
2023-04-04    261.82
2023-04-05    266.98
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    34.20
2008-01-03    32.42
2008-01-04    31.15
2008-01-07    30.35
2008-01-08    28.61
              ...
2023-03-30    52.16
2023-03-31    52.57
2023-04-03    52.67
2023-04-04    52.38
2023-04-05    52.34
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     39.39
2008-01-03     38.63
2008-01-04     38.05
2008-01-07     38.57
2008-01-08     38.35
               ...
2023-03-30    111.67
2023-03-31    112.24
2023-04-03    113.24
2023-04-04    112.49
2023-04-05    111.54
Name: high, Length: 3842, dtype: float64
Date
2009-12-10    30.660
2009-12-11    30.000
2009-12-14    30.000
2009-12-15    28.300
2009-12-16    26.540
               ...
2021-12-28    53.640
2021-12-29    52.300
2021-12-30    51.990
2021-12-31    51.750
2022-01-03    54.325
Name: high, Length: 3037, dtype: float64
Date
2008-01-02    78.35
2008-01-03    78.53
2008-01-04    79.25
2008-01-07    80.11
2008-01-08    81.60
              ...
2023-03-30    75.40
2023-03-31    75.86
2023-04-03    75.75
2023-04-04    75.90
2023-04-05    76.09
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    102.00
2008-01-03    103.04
2008-01-04     99.21
2008-01-07     96.44
2008-01-08     93.99
               ...
2023-03-30     18.36
2023-03-31     18.49
2023-04-03     18.70
2023-04-04     18.40
2023-04-05     17.43
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     65.250
2008-01-03     64.631
2008-01-04     64.160
2008-01-07     64.140
2008-01-08     64.300
               ...
2023-03-30    155.560
2023-03-31    158.340
2023-04-03    157.990
2023-04-04    158.170
2023-04-05    158.640
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    43.76
2008-01-03    42.92
2008-01-04    41.09
2008-01-07    41.47
2008-01-08    41.36
              ...
2023-03-30    46.26
2023-03-31    44.94
2023-04-03    44.24
2023-04-04    42.79
2023-04-05    40.00
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    18.42
2008-01-03    17.81
2008-01-04    17.68
2008-01-07    17.31
2008-01-08    17.32
              ...
2023-03-30    37.40
2023-03-31    37.95
2023-04-03    38.35
2023-04-04    38.04
2023-04-05    38.10
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.30
2008-01-03    17.61
2008-01-04    17.48
2008-01-07    17.18
2008-01-08    17.21
              ...
2015-12-07    60.95
2015-12-08    60.30
2015-12-09    59.60
2015-12-10    60.27
2015-12-11    59.56
Name: high, Length: 2002, dtype: float64
Date
2008-01-02    686.4300
2008-01-03    675.5700
2008-01-04    645.8801
2008-01-07    628.9600
2008-01-08    624.8000
                ...
2023-03-30    189.0900
2023-03-31    192.0000
2023-04-03    192.1700
2023-04-04    193.4700
2023-04-05    195.5000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     150.0000
2008-01-03     147.7200
2008-01-04     140.0800
2008-01-07     129.4500
2008-01-08     125.0000
                ...
2023-03-30    1682.9399
2023-03-31    1709.0000
2023-04-03    1719.9900
2023-04-04    1742.9700
2023-04-05    1731.0000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    128.33
2008-01-03     64.06
2008-01-04     62.81
2008-01-07     59.65
2008-01-08     58.50
               ...
2023-03-30    235.57
2023-03-31    239.33
2023-04-03    241.51
2023-04-04    239.04
2023-04-05    231.01
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    17.47
2008-01-03    17.28
2008-01-04    17.08
2008-01-07    17.16
2008-01-08    17.31
              ...
2023-03-30    61.57
2023-03-31    61.55
2023-04-03    61.73
2023-04-04    61.39
2023-04-05    62.51
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.780
2008-01-03    27.680
2008-01-04    27.740
2008-01-07    28.200
2008-01-08    28.490
               ...
2023-03-30    64.220
2023-03-31    64.470
2023-04-03    65.240
2023-04-04    64.810
2023-04-05    66.145
Name: high, Length: 3842, dtype: float64

 23%|██▎       | 196/866 [00:01<00:05, 123.55it/s]

Date
2008-01-02    17.35
2008-01-03    17.00
2008-01-04    16.69
2008-01-07    16.72
2008-01-08    17.01
              ...
2023-03-30    29.65
2023-03-31    29.58
2023-04-03    29.60
2023-04-04    29.48
2023-04-05    30.48
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    72.8953
2008-01-03    71.7343
2008-01-04    70.0628
2008-01-07    66.7298
2008-01-08    67.8608
               ...
2023-03-30    16.0000
2023-03-31    16.0400
2023-04-03    16.5100
2023-04-04    16.4600
2023-04-05    16.4100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    48.77
2008-01-03    47.98
2008-01-04    46.23
2008-01-07    48.02
2008-01-08    47.75
              ...
2023-03-30    96.32
2023-03-31    96.36
2023-04-03    97.38
2023-04-04    97.94
2023-04-05    95.60
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    41.73
2008-01-03    42.22
2008-01-04    41.92
2008-01-07    41.97
2008-01-08    41.78
              ...
2021-11-29    21.44
2021-11-30    20.95
2021-12-01    20.62
2021-12-02    20.45
2021-12-03    20.52
Name: high, Length: 3507, dtype: float64
Date
2008-01-02    31.21
2008-01-03    31.07
2008-01-04    29.40
2008-01-07    28.60
2008-01-08    29.13
              ...
2020-03-09     0.00
2020-03-10     0.00
2020-03-11     0.00
2020-03-12     0.00
2020-03-13     0.00
Name: high, Length: 2511, dtype: float64
Date
2008-01-02     72.41
2008-01-03     71.86
2008-01-04     71.27
2008-01-07     70.05
2008-01-08     69.40
               ...
2018-11-19    133.52
2018-11-20    130.07
2018-11-21    131.99
2018-11-23    142.13
2018-11-26    142.98
Name: high, Length: 2746, dtype: float64
Date
2008-01-02     38.4800
2008-01-03     38.5292
2008-01-04     38.5800
2008-01-07     38.5300
2008-01-08     38.5300
                ...
2023-03-30    369.2700
2023-03-31    373.9100
2023-04-03    372.2800
2023-04-04    371.5000
2023-04-05    374.1900
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     68.3874
2008-01-03     67.8843
2008-01-04     66.9390
2008-01-07     65.9328
2008-01-08     65.2619
                ...
2023-03-30    100.8600
2023-03-31     99.9000
2023-04-03    109.1400
2023-04-04    108.7700
2023-04-05    107.8800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     69.66
2008-01-03     68.88
2008-01-04     66.90
2008-01-07     66.64
2008-01-08     66.87
               ...
2023-03-30    495.74
2023-03-31    498.36
2023-04-03    499.20
2023-04-04    502.58
2023-04-05    504.13
Name: high, Length: 3842, dtype: float64
Date
2013-06-13    17.52
2013-06-14    17.55
2013-06-17    17.65
2013-06-18    17.42
2013-06-19    17.35
              ...
2023-03-30    12.05
2023-03-31    12.16
2023-04-03    12.15
2023-04-04    12.22
2023-04-05    11.95
Name: high, Length: 2471, dtype: float64
Date
2008-01-02     44.300
2008-01-03     43.500
2008-01-04     43.480
2008-01-07     44.050
2008-01-08     44.820
               ...
2015-01-20    104.710
2015-01-21    104.810
2015-01-22    106.920
2015-01-23    108.570
2015-01-26    108.155
Name: high, Length: 1779, dtype: float64
Date
2008-01-02    35.650
2008-01-03    35.230
2008-01-04    35.020
2008-01-07    35.310
2008-01-08    35.160
               ...
2023-03-30    54.570
2023-03-31    55.030
2023-04-03    55.340
2023-04-04    55.440
2023-04-05    55.665
Name: high, Length: 3841, dtype: float64
Date
2015-07-02    30.98
2015-07-06    31.18
2015-07-07    31.19
2015-07-08    30.82
2015-07-09    30.87
              ...
2016-06-24    25.48
2016-06-27    25.49
2016-06-28    25.49
2016-06-29    25.50
2016-06-30    25.50
Name: high, Length: 252, dtype: float64
Date
2011-12-15    25.23
2011-12-16    24.80
2011-12-19    25.09
2011-12-20    25.76
2011-12-21    26.78
              ...
2023-03-30    47.12
2023-03-31    47.14
2023-04-03    47.50
2023-04-04    47.30
2023-04-05    45.30
Name: high, Length: 2844, dtype: float64
Date
2008-01-02    42.91
2008-01-03    41.86
2008-01-04    41.64
2008-01-07    42.36
2008-01-08    42.67
              ...
2023-03-30    74.82
2023-03-31    75.41
2023-04-03    75.67
2023-04-04    76.23
2023-04-05    75.57
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     47.370
2008-01-03     46.450
2008-01-04     43.260
2008-01-07     43.980
2008-01-08     45.260
               ...
2023-03-30    103.610
2023-03-31    104.950
2023-04-03    106.050
2023-04-04    104.270
2023-04-05    104.365
Name: high, Length: 3842, dtype: float64
Date
2008-01-07    0.2214
2008-01-08    0.2768
2008-01-22    0.1108
2008-01-30    0.1384
2008-02-04    0.1200
               ...
2023-03-30    0.0070
2023-03-31    0.0070
2023-04-03    0.0070
2023-04-04    0.0070
2023-04-05    0.0060
Name: high, Length: 1627, dtype: float64
Date
2008-01-02     66.49
2008-01-03     65.72
2008-01-04     65.39
2008-01-07     67.19
2008-01-08     67.06
               ...
2023-03-30    201.94
2023-03-31    202.42
2023-04-03    202.09
2023-04-04    201.10
2023-04-05    198.24
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     63.55
2008-01-03     61.83
2008-01-04     60.61
2008-01-07     58.02
2008-01-08     59.29
               ...
2023-03-30    198.17
2023-03-31    200.00
2023-04-03    198.93
2023-04-04    198.70
2023-04-05    198.29
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    49.50
2008-01-03    48.10
2008-01-04    45.17
2008-01-07    44.37
2008-01-08    43.99
              ...
2017-03-27    68.16
2017-03-28    70.10
2017-03-29    74.92
2017-03-30    73.54
2017-03-31    71.09
Name: high, Length: 2329, dtype: float64
Date
2008-01-02    27.30
2008-01-03    27.02
2008-01-04    26.93
2008-01-07    26.38
2008-01-08    26.79
              ...
2023-03-30    51.68
2023-03-31    52.35
2023-04-03    52.56
2023-04-04    52.12
2023-04-05    52.29
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    47.83
2008-01-03    46.10
2008-01-04    43.43
2008-01-07    41.28
2008-01-08    41.24
              ...
2023-03-30    68.78
2023-03-31    69.02
2023-04-03    68.83
2023-04-04    68.96
2023-04-05    68.15
Name: high, Length: 3842, dtype: float64
Date
2015-11-30    32.60
2015-12-01    31.52
2015-12-02    31.17
2015-12-03    30.80
2015-12-04    30.04
              ...
2018-03-27    41.46
2018-03-28    41.24
2018-03-29    41.23
2018-04-02    41.24
2018-04-03    41.26
Name: high, Length: 589, dtype: float64
Date
2008-01-02    45.0198
2008-01-03    43.5096
2008-01-04    41.7699
2008-01-07    41.4900
2008-01-08    41.6997
               ...
2023-03-30    29.9400
2023-03-31    29.9800
2023-04-03    30.2200
2023-04-04    30.0100
2023-04-05    29.6900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     33.6214
2008-01-03     33.1500
2008-01-04     32.7400
2008-01-07     32.8700
2008-01-08     32.5900
                ...
2023-03-30    469.0200
2023-03-31    465.8700
2023-04-03    461.5300
2023-04-04    461.9900
2023-04-05    457.4600
Name: high, Length: 3842, dtype: float64
Date
2014-06-20    98.70
2014-06-23    98.60
2014-06-24    99.00
2014-06-25    98.20
2014-06-26    99.00
              ...
2021-01-25     4.79
2021-01-27     4.73
2021-01-28     4.70
2021-01-29     4.68
2021-02-01     4.57
Name: high, Length: 1613, dtype: float64

 26%|██▌       | 223/866 [00:01<00:05, 125.70it/s]

Date
2014-07-31    20.330
2014-08-01    20.100
2014-08-04    20.100
2014-08-05    20.480
2014-08-06    20.330
               ...
2023-03-30    68.083
2023-03-31    66.000
2023-04-03    65.060
2023-04-04    63.740
2023-04-05    62.430
Name: high, Length: 2186, dtype: float64
Date
2008-01-02    41.73
2008-01-03    42.22
2008-01-04    41.92
2008-01-07    41.97
2008-01-08    41.78
              ...
2023-03-30    24.31
2023-03-31    24.69
2023-04-03    25.60
2023-04-04    25.19
2023-04-05    25.42
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    34.00
2008-01-03    33.30
2008-01-04    32.51
2008-01-07    32.06
2008-01-08    31.92
              ...
2023-03-30    60.21
2023-03-31    61.03
2023-04-03    61.41
2023-04-04    61.56
2023-04-05    61.17
Name: high, Length: 3842, dtype: float64
Date
2019-05-24    32.000
2019-05-28    30.500
2019-05-29    29.900
2019-05-30    29.160
2019-05-31    28.590
               ...
2023-03-30    60.730
2023-03-31    60.433
2023-04-03    61.070
2023-04-04    60.650
2023-04-05    60.855
Name: high, Length: 974, dtype: float64
Date
2008-01-02    25.57
2008-01-03    24.54
2008-01-04    22.78
2008-01-07    21.69
2008-01-08    21.30
              ...
2009-08-12    12.82
2009-08-13    12.60
2009-08-14    12.43
2009-08-17    12.21
2009-08-18    12.29
Name: high, Length: 411, dtype: float64
Date
2008-01-02     38.850
2008-01-03     38.950
2008-01-04     38.410
2008-01-07     37.680
2008-01-08     37.400
               ...
2022-09-23    103.830
2022-09-26    103.890
2022-09-27    103.905
2022-09-28    103.920
2022-09-29    103.960
Name: high, Length: 3713, dtype: float64
Date
2008-01-02    25.00
2008-01-03    24.15
2008-01-04    23.61
2008-01-07    24.03
2008-01-08    24.05
              ...
2016-06-14    34.80
2016-06-15    34.89
2016-06-16    34.89
2016-06-17    34.91
2016-06-20    34.89
Name: high, Length: 2132, dtype: float64
Date
2008-01-02    16.60
2008-01-03    16.15
2008-01-04    15.69
2008-01-07    15.60
2008-01-08    15.28
              ...
2018-09-28    23.84
2018-10-01    23.93
2018-10-02    23.96
2018-10-03    24.15
2018-10-04    24.48
Name: high, Length: 2710, dtype: float64
Date
2008-01-02    60.64
2008-01-03    59.31
2008-01-04    59.30
2008-01-07    60.88
2008-01-08    63.89
              ...
2013-04-30    49.86
2013-05-01    50.24
2013-05-02    50.15
2013-05-03    50.23
2013-05-06    50.39
Name: high, Length: 1345, dtype: float64
Date
2008-01-02    39.960
2008-01-03    37.790
2008-01-04    37.700
2008-01-07    38.500
2008-01-08    39.050
               ...
2023-03-30    75.230
2023-03-31    74.890
2023-04-03    76.580
2023-04-04    76.540
2023-04-05    77.805
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     94.6900
2008-01-03     94.8400
2008-01-04     95.2100
2008-01-07     93.7400
2008-01-08     93.3800
                ...
2023-03-30    163.0100
2023-03-31    163.7200
2023-04-03    171.1000
2023-04-04    171.1400
2023-04-05    170.4185
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    21.74
2008-01-03    22.25
2008-01-04    22.22
2008-01-07    21.74
2008-01-08    22.11
              ...
2021-01-12    69.53
2021-01-13    69.20
2021-01-14    70.44
2021-01-15    69.12
2021-01-19    65.60
Name: high, Length: 3285, dtype: float64
Date
2008-01-02     6.9100
2008-01-03     6.4400
2008-01-04     6.1600
2008-01-07     6.3200
2008-01-08     6.3900
               ...
2023-03-30    47.0500
2023-03-31    48.8975
2023-04-03    49.4400
2023-04-04    49.8100
2023-04-05    48.4350
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    47.500
2008-01-03    46.920
2008-01-04    46.940
2008-01-07    47.710
2008-01-08    48.230
               ...
2023-03-30    56.090
2023-03-31    55.940
2023-04-03    56.100
2023-04-04    56.420
2023-04-05    57.795
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    14.790
2008-01-03    13.970
2008-01-04    13.620
2008-01-07    13.740
2008-01-08    13.550
               ...
2023-03-30    34.290
2023-03-31    34.940
2023-04-03    34.850
2023-04-04    34.700
2023-04-05    33.629
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    39.51
2008-01-03    39.11
2008-01-04    38.25
2008-01-07    37.51
2008-01-08    38.12
              ...
2023-03-30    71.48
2023-03-31    71.85
2023-04-03    72.86
2023-04-04    71.69
2023-04-05    70.42
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    63.9967
2008-01-03    63.9141
2008-01-04    60.0661
2008-01-07    60.9579
2008-01-08    62.6755
               ...
2021-09-24    16.1600
2021-09-27    16.1600
2021-09-28    16.1600
2021-09-29    16.1600
2021-09-30    15.8100
Name: high, Length: 3462, dtype: float64
Date
2008-01-02     19.16
2008-01-03     18.33
2008-01-04     16.74
2008-01-07     17.11
2008-01-08     16.94
               ...
2023-03-30    304.72
2023-03-31    308.56
2023-04-03    313.11
2023-04-04    316.62
2023-04-05    306.99
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     94.01
2008-01-03     94.39
2008-01-04     92.90
2008-01-07     92.32
2008-01-08     91.21
               ...
2023-03-30    406.50
2023-03-31    413.56
2023-04-03    419.40
2023-04-04    414.88
2023-04-05    394.20
Name: high, Length: 3842, dtype: float64
Date
2016-08-17    43.9697
2016-08-18    43.9697
2016-08-19    43.4701
2016-08-22    45.5688
2016-08-23    45.8685
               ...
2023-03-30    39.9500
2023-03-31    40.3900
2023-04-03    41.1500
2023-04-04    41.3500
2023-04-05    41.1300
Name: high, Length: 1670, dtype: float64
Date
2008-01-02    11.10
2008-01-04    11.19
2008-01-07    11.20
2008-01-08    11.49
2008-01-09    11.29
              ...
2020-10-02     2.48
2020-10-05     2.51
2020-10-06     2.55
2020-10-07     2.55
2020-10-08     2.65
Name: high, Length: 3191, dtype: float64
Date
2008-01-02     15.49
2008-01-03     15.26
2008-01-04     14.69
2008-01-07     14.77
2008-01-08     14.68
               ...
2023-03-30     99.29
2023-03-31     99.06
2023-04-03     99.73
2023-04-04    100.40
2023-04-05     97.99
Name: high, Length: 3842, dtype: float64
Date
2009-11-13     23.10
2009-11-16     23.10
2009-11-17     23.17
2009-11-18     23.02
2009-11-19     23.14
               ...
2023-03-30    209.48
2023-03-31    210.50
2023-04-03    213.02
2023-04-04    214.47
2023-04-05    215.37
Name: high, Length: 3370, dtype: float64
Date
2008-01-02     52.97
2008-01-03     52.22
2008-01-04     52.19
2008-01-07     51.93
2008-01-08     51.77
               ...
2023-03-30    139.44
2023-03-31    141.76
2023-04-03    143.00
2023-04-04    143.21
2023-04-05    143.72
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    13.250
2008-01-03    13.060
2008-01-04    12.010
2008-01-07    11.240
2008-01-08    11.400
               ...
2023-03-30    96.180
2023-03-31    97.920
2023-04-03    98.480
2023-04-04    98.430
2023-04-05    98.265
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     88.1728
2008-01-03     87.3431
2008-01-04     86.5234
2008-01-07     85.3936
2008-01-08     82.9745
                ...
2023-03-30    250.5800
2023-03-31    252.7500
2023-04-03    250.8300
2023-04-04    252.9800
2023-04-05    250.0700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     32.63
2008-01-03     32.02
2008-01-04     31.68
2008-01-07     31.49
2008-01-08     31.50
               ...
2023-03-30     98.92
2023-03-31    100.20
2023-04-03    100.43
2023-04-04    100.42
2023-04-05    100.18
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    28.4363
2008-01-03    28.1353
2008-01-04    28.2245
2008-01-07    27.5891
2008-01-08    27.4330
               ...
2022-04-04    25.9950
2022-04-05    26.0100
2022-04-06    24.3900
2022-04-07    24.0400
2022-04-08    24.5150
Name: high, Length: 3594, dtype: float64

 29%|██▉       | 250/866 [00:02<00:04, 125.00it/s]

Date
2008-09-18    18.50
2008-09-19    20.00
2008-09-22    17.04
2008-09-23    17.41
2008-09-24    17.00
              ...
2022-04-04    25.98
2022-04-05    26.01
2022-04-06    24.38
2022-04-07    24.03
2022-04-08    24.50
Name: high, Length: 3414, dtype: float64
Date
2008-01-02    33.50
2008-01-03    33.48
2008-01-04    34.37
2008-01-07    33.80
2008-01-08    32.49
              ...
2023-03-30     9.34
2023-03-31     9.38
2023-04-03     9.45
2023-04-04     9.15
2023-04-05     8.65
Name: high, Length: 3842, dtype: float64
Date
2017-11-21    52.00
2017-11-22    52.00
2017-11-24    53.40
2017-11-27    56.75
2017-11-28    53.50
              ...
2020-09-28    16.44
2020-09-29    16.55
2020-09-30    16.80
2020-10-01    17.20
2020-10-02    17.02
Name: high, Length: 721, dtype: float64
Date
2008-01-02    38.9950
2008-01-03    39.0050
2008-01-04    37.0547
2008-01-07    35.5622
2008-01-08    35.2537
               ...
2023-03-30    94.8700
2023-03-31    98.4700
2023-04-03    98.1200
2023-04-04    93.5300
2023-04-05    92.8100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     26.02
2008-01-03     25.38
2008-01-04     24.12
2008-01-07     23.33
2008-01-08     23.14
               ...
2023-03-30    143.44
2023-03-31    143.64
2023-04-03    148.89
2023-04-04    149.07
2023-04-05    149.52
Name: high, Length: 3842, dtype: float64
Date
2020-07-01    25.870
2020-07-02    27.600
2020-07-06    28.200
2020-07-07    27.400
2020-07-08    26.980
               ...
2023-03-30    11.580
2023-03-31    11.750
2023-04-03    11.745
2023-04-04    11.680
2023-04-05    11.540
Name: high, Length: 696, dtype: float64
Date
2008-01-02    31.7500
2008-01-03    33.6400
2008-01-04    33.0800
2008-01-07    31.7000
2008-01-08    32.1300
               ...
2020-07-24     0.2449
2020-07-27     0.2368
2020-07-28     0.2419
2020-07-29     0.2410
2020-07-30     0.2410
Name: high, Length: 3167, dtype: float64
Date
2022-03-30    12.0400
2022-03-31     7.8500
2022-04-01     7.4700
2022-04-04     7.1600
2022-04-05     7.1889
               ...
2023-03-30    12.3900
2023-03-31    12.3500
2023-04-03    13.0150
2023-04-04    12.8600
2023-04-05    12.2300
Name: high, Length: 256, dtype: float64
Date
2008-01-02     30.9012
2008-01-03     30.0442
2008-01-04     29.5487
2008-01-07     28.7920
2008-01-08     27.7207
                ...
2023-03-30    149.0900
2023-03-31    152.0600
2023-04-03    152.8500
2023-04-04    150.5800
2023-04-05    144.3500
Name: high, Length: 3842, dtype: float64
Date
2019-03-20    53.50
2019-03-21    50.00
2019-03-22    49.95
2019-03-25    49.40
2019-03-26    49.75
              ...
2023-03-30    54.30
2023-03-31    54.89
2023-04-03    56.11
2023-04-04    55.28
2023-04-05    54.68
Name: high, Length: 1020, dtype: float64
Date
2008-05-07     25.800
2008-05-08     25.830
2008-05-09     25.400
2008-05-12     26.850
2008-05-13     25.920
               ...
2018-07-02    123.750
2018-07-03    123.625
2018-07-05    123.970
2018-07-06    124.360
2018-07-09    123.770
Name: high, Length: 2561, dtype: float64
Date
2008-01-02     13.400
2008-01-03     12.780
2008-01-04     11.950
2008-01-07     12.190
2008-01-08     12.300
               ...
2023-03-30    329.700
2023-03-31    332.540
2023-04-03    333.240
2023-04-04    333.140
2023-04-05    332.475
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    26.01
2008-01-03    25.87
2008-01-04    24.20
2008-01-07    23.81
2008-01-08    24.38
              ...
2022-09-27    50.60
2022-09-28    49.46
2022-09-29    48.95
2022-09-30    49.26
2022-10-03    48.20
Name: high, Length: 3715, dtype: float64
Date
2008-01-02     25.0630
2008-01-03     24.0511
2008-01-04     23.3348
2008-01-07     22.9229
2008-01-08     22.0454
                ...
2023-03-30    155.2500
2023-03-31    155.9000
2023-04-03    155.4000
2023-04-04    154.7300
2023-04-05    153.5900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     44.45
2008-01-03     44.28
2008-01-04     43.59
2008-01-07     43.68
2008-01-08     43.99
               ...
2023-03-30    109.01
2023-03-31    109.61
2023-04-03    109.81
2023-04-04    109.33
2023-04-05    112.63
Name: high, Length: 3842, dtype: float64
Date
2016-10-12    52.29
2016-10-13    51.50
2016-10-14    51.74
2016-10-17    51.00
2016-10-18    51.25
              ...
2019-05-21    56.69
2019-05-22    56.69
2019-05-23    57.06
2019-05-24    57.36
2019-05-28    56.91
Name: high, Length: 659, dtype: float64
Date
2008-01-02    20.23
2008-01-03    20.00
2008-01-04    19.98
2008-01-07    20.35
2008-01-08    20.60
              ...
2023-03-30    97.11
2023-03-31    96.99
2023-04-03    96.69
2023-04-04    96.29
2023-04-05    99.29
Name: high, Length: 3842, dtype: float64
Date
2021-04-21    38.2800
2021-04-22    37.5000
2021-04-23    35.6500
2021-04-26    35.3403
2021-04-27    35.5129
               ...
2023-03-30    29.3460
2023-03-31    30.3700
2023-04-03    31.0300
2023-04-04    31.1850
2023-04-05    30.8950
Name: high, Length: 494, dtype: float64
Date
2008-01-02    57.1700
2008-01-03    56.1528
2008-01-04    55.8000
2008-01-07    56.6900
2008-01-08    59.8900
               ...
2023-03-30    79.8600
2023-03-31    81.2000
2023-04-03    82.4000
2023-04-04    82.3100
2023-04-05    83.1500
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    92.13
2008-01-03    94.00
2008-01-04    92.94
2008-01-07    91.12
2008-01-08    91.19
              ...
2023-03-30    50.66
2023-03-31    50.85
2023-04-03    54.66
2023-04-04    53.52
2023-04-05    53.59
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    56.2150
2008-01-03    55.6459
2008-01-04    54.4222
2008-01-07    53.3694
2008-01-08    54.2373
               ...
2019-05-30    66.4523
2019-05-31    64.9286
2019-06-03    76.1000
2019-06-04    76.5000
2019-06-28    30.6800
Name: high, Length: 2876, dtype: float64
Date
2008-01-02    18.0381
2008-01-03    17.5279
2008-01-04    16.4602
2008-01-07    16.1687
2008-01-08    16.0302
               ...
2023-03-30    25.3100
2023-03-31    25.5800
2023-04-03    25.7200
2023-04-04    25.5000
2023-04-05    24.9800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02      9.27
2008-01-03      9.03
2008-01-04      8.81
2008-01-07      9.07
2008-01-08      8.47
               ...
2023-03-30    115.00
2023-03-31    116.87
2023-04-03    116.03
2023-04-04    116.18
2023-04-05    115.71
Name: high, Length: 3841, dtype: float64
Date
2020-09-17    27.11
2020-09-18    23.50
2020-09-21    23.10
2020-09-22    23.23
2020-09-23    23.15
              ...
2023-03-30    11.63
2023-03-31    11.75
2023-04-03    11.63
2023-04-04    11.26
2023-04-05     9.56
Name: high, Length: 642, dtype: float64
Date
2008-01-02     58.35
2008-01-03     57.10
2008-01-04     56.50
2008-01-07     55.02
2008-01-08     55.97
               ...
2023-03-30    120.05
2023-03-31    120.53
2023-04-03    121.65
2023-04-04    125.47
2023-04-05    126.27
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    33.5102
2008-01-03    33.3102
2008-01-04    33.5302
2008-01-07    31.5202
2008-01-08    31.1102
               ...
2023-03-30    44.3250
2023-03-31    44.4150
2023-04-03    44.3450
2023-04-04    44.6250
2023-04-05    44.2600
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     51.50
2008-01-03     51.25
2008-01-04     51.01
2008-01-07     52.35
2008-01-08     51.80
               ...
2023-03-30    164.24
2023-03-31    166.00
2023-04-03    166.74
2023-04-04    166.81
2023-04-05    166.35
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    48.88
2008-01-03    48.65
2008-01-04    48.49
2008-01-07    48.71
2008-01-08    49.30
              ...
2023-03-30    95.70
2023-03-31    95.71
2023-04-03    95.79
2023-04-04    96.37
2023-04-05    98.76
Name: high, Length: 3842, dtype: float64

 32%|███▏      | 277/866 [00:02<00:04, 126.22it/s]

Date
2008-01-02    20.75
2008-01-03    20.19
2008-01-04    20.09
2008-01-07    19.83
2008-01-08    19.45
              ...
2008-08-19    24.84
2008-08-20    24.93
2008-08-21    24.93
2008-08-22    24.96
2008-08-25    24.96
Name: high, Length: 164, dtype: float64
Date
2008-01-02     36.33
2008-01-03     35.25
2008-01-04     34.88
2008-01-07     34.61
2008-01-08     34.17
               ...
2023-03-30    202.26
2023-03-31    202.87
2023-04-03    202.52
2023-04-04    203.75
2023-04-05    202.71
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    53.75
2008-01-03    54.41
2008-01-04    54.18
2008-01-07    54.32
2008-01-08    55.23
              ...
2023-03-30    70.04
2023-03-31    70.66
2023-04-03    71.20
2023-04-04    70.69
2023-04-05    72.45
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    22.0300
2008-01-03    21.6800
2008-01-04    20.8000
2008-01-07    20.1000
2008-01-08    20.1400
               ...
2012-01-11     0.8489
2012-01-12     0.8100
2012-01-13     0.5499
2012-01-17     0.6200
2012-01-18     0.6385
Name: high, Length: 1020, dtype: float64
Date
2008-01-02     43.62
2008-01-03     43.72
2008-01-04     43.34
2008-01-07     42.04
2008-01-08     42.44
               ...
2023-03-30    248.39
2023-03-31    249.63
2023-04-03    247.72
2023-04-04    248.77
2023-04-05    245.37
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     88.03
2008-01-03     88.31
2008-01-04     88.65
2008-01-07     89.32
2008-01-08     90.00
               ...
2023-03-30    460.92
2023-03-31    461.81
2023-04-03    478.82
2023-04-04    476.34
2023-04-05    487.46
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.60
2008-01-03    18.10
2008-01-04    17.56
2008-01-07    17.14
2008-01-08    16.80
              ...
2016-08-30    29.00
2016-08-31    29.00
2016-09-01    28.96
2016-09-02    28.84
2016-09-06    29.13
Name: high, Length: 2186, dtype: float64
Date
2008-01-02    61.32
2008-01-03    61.25
2008-01-04    59.58
2008-01-07    59.59
2008-01-08    59.55
              ...
2023-03-30    84.20
2023-03-31    84.45
2023-04-03    86.34
2023-04-04    84.14
2023-04-05    82.01
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    56.995
2008-01-03    56.630
2008-01-04    55.470
2008-01-07    54.420
2008-01-08    54.390
               ...
2023-03-30    86.000
2023-03-31    87.200
2023-04-03    88.500
2023-04-04    87.340
2023-04-05    84.900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    26.8300
2008-01-03    26.6900
2008-01-04    26.7700
2008-01-07    26.9800
2008-01-08    27.2500
               ...
2022-10-21     0.1050
2022-10-24     0.1048
2022-10-25     0.1150
2022-10-26     0.1550
2022-10-27     0.1540
Name: high, Length: 3733, dtype: float64
Date
2012-03-30      8.24
2012-04-02      8.20
2012-04-03      7.80
2012-04-04      7.77
2012-04-05      7.55
               ...
2023-03-30    214.19
2023-03-31    212.13
2023-04-03    215.89
2023-04-04    203.20
2023-04-05    201.71
Name: high, Length: 2772, dtype: float64
Date
2008-01-02     92.0000
2008-01-03     94.3600
2008-01-04     92.2100
2008-01-07     90.5300
2008-01-08     90.7800
                ...
2023-03-30    113.7900
2023-03-31    114.9400
2023-04-03    122.2544
2023-04-04    122.5200
2023-04-05    120.6100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     0.10
2008-01-03     0.11
2008-01-04     0.11
2008-01-08     0.12
2008-01-09     0.14
              ...
2023-03-30    12.49
2023-03-31    12.51
2023-04-03    12.90
2023-04-04    13.25
2023-04-05    13.25
Name: high, Length: 2092, dtype: float64
Date
2012-02-08     15.05
2012-02-09     14.22
2012-02-10     14.03
2012-02-13     14.42
2012-02-14     13.79
               ...
2023-03-30    294.45
2023-03-31    300.00
2023-04-03    300.59
2023-04-04    298.91
2023-04-05    289.67
Name: high, Length: 2808, dtype: float64
Date
2018-10-12    14.9499
2018-10-15    14.1795
2018-10-16    14.2019
2018-10-17    14.1500
2018-10-18    14.0000
               ...
2023-03-30     0.7700
2023-03-31     0.7800
2023-04-03     0.8000
2023-04-04     0.7900
2023-04-05     0.7900
Name: high, Length: 1127, dtype: float64
Date
2008-01-02    102.740
2008-01-03    100.460
2008-01-04    100.440
2008-01-07     96.110
2008-01-08     92.560
               ...
2023-03-30    702.970
2023-03-31    722.880
2023-04-03    718.260
2023-04-04    715.370
2023-04-05    718.395
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    37.06
2008-01-03    36.73
2008-01-04    34.87
2008-01-07    34.10
2008-01-08    35.36
              ...
2023-03-30    58.71
2023-03-31    60.08
2023-04-03    60.71
2023-04-04    59.87
2023-04-05    59.95
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    29.4816
2008-01-03    29.9116
2008-01-04    29.4598
2008-01-07    29.3128
2008-01-08    29.5305
               ...
2023-03-30    31.6600
2023-03-31    32.4300
2023-04-03    32.9000
2023-04-04    32.5700
2023-04-05    32.8300
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    58.350
2008-01-03    57.100
2008-01-04    56.500
2008-01-07    55.020
2008-01-08    55.970
               ...
2011-12-13    21.995
2011-12-14    20.880
2011-12-15    21.070
2011-12-16    21.520
2011-12-19    20.550
Name: high, Length: 1001, dtype: float64
Date
2008-01-02    31.250
2008-01-03    31.300
2008-01-04    30.930
2008-01-07    31.240
2008-01-08    31.617
               ...
2023-03-30    78.230
2023-03-31    78.480
2023-04-03    78.050
2023-04-04    78.220
2023-04-05    80.720
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    36.638
2008-01-03    37.435
2008-01-04    37.835
2008-01-07    38.980
2008-01-08    39.550
               ...
2018-12-14    99.980
2018-12-17    97.660
2018-12-18    97.730
2018-12-19    97.700
2018-12-20    95.870
Name: high, Length: 2763, dtype: float64
Date
2008-01-02     97.96
2008-01-03     97.14
2008-01-04     90.40
2008-01-07     89.99
2008-01-08     94.27
               ...
2023-03-30    205.47
2023-03-31    209.39
2023-04-03    211.66
2023-04-04    209.54
2023-04-05    210.78
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    247.24
2008-01-03    249.88
2008-01-04    243.72
2008-01-07    238.28
2008-01-08    235.96
               ...
2019-05-21     10.59
2019-05-22     10.53
2019-05-23      9.60
2019-05-24      9.09
2019-05-28      8.91
Name: high, Length: 2870, dtype: float64
Date
2008-01-02     4.04
2008-01-03     3.47
2008-01-04     3.32
2008-01-07     3.22
2008-01-08     2.87
              ...
2020-09-28    50.83
2020-09-29    49.96
2020-09-30    50.70
2020-10-01    51.18
2020-10-02    49.26
Name: high, Length: 3212, dtype: float64
Date
2008-01-02     97.74
2008-01-03     96.50
2008-01-04     95.56
2008-01-07     93.84
2008-01-08     93.90
               ...
2023-03-30    170.79
2023-03-31    171.76
2023-04-03    172.19
2023-04-04    170.64
2023-04-05    161.34
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    120.40
2008-01-03    119.27
2008-01-04    119.80
2008-01-07    123.54
2008-01-08    127.48
               ...
2023-03-30    107.41
2023-03-31    107.75
2023-04-03    107.74
2023-04-04    107.81
2023-04-05    110.91
Name: high, Length: 3842, dtype: float64

 35%|███▌      | 304/866 [00:02<00:04, 127.18it/s]

Date
2015-04-16     35.740
2015-04-17     30.300
2015-04-20     28.900
2015-04-21     26.040
2015-04-22     26.240
               ...
2023-03-30    110.965
2023-03-31    111.610
2023-04-03    110.715
2023-04-04    114.730
2023-04-05    108.796
Name: high, Length: 2008, dtype: float64
Date
2013-08-14    76.766
2013-08-15    77.006
2013-08-16    78.054
2013-08-19    77.066
2013-08-20    75.719
               ...
2018-10-04    45.950
2018-10-05    45.960
2018-10-08    46.000
2018-10-09    45.990
2018-10-10    46.000
Name: high, Length: 1300, dtype: float64
Date
2008-01-02    25.92
2008-01-03    25.59
2008-01-04    25.18
2008-01-07    25.61
2008-01-08    25.79
              ...
2023-03-30    60.78
2023-03-31    61.15
2023-04-03    60.86
2023-04-04    61.06
2023-04-05    63.17
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.1298
2008-01-03    45.7800
2008-01-04    45.7002
2008-01-07    45.7800
2008-01-08    45.9102
               ...
2023-03-30    82.6000
2023-03-31    82.7800
2023-04-03    82.7300
2023-04-04    83.5900
2023-04-05    83.6300
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    58.8088
2008-01-03    58.9872
2008-01-04    59.5007
2008-01-07    60.0999
2008-01-08    62.2325
               ...
2023-03-30    41.9100
2023-03-31    41.9300
2023-04-03    42.1700
2023-04-04    42.0700
2023-04-05    43.0800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     45.24
2008-01-03     43.97
2008-01-04     43.74
2008-01-07     42.03
2008-01-08     42.22
               ...
2023-03-30    107.39
2023-03-31    110.46
2023-04-03    109.74
2023-04-04    108.41
2023-04-05    107.05
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    14.9909
2008-01-03    14.5206
2008-01-04    14.7134
2008-01-07    13.8999
2008-01-08    13.9893
               ...
2023-03-30    97.0500
2023-03-31    97.4500
2023-04-03    96.8800
2023-04-04    95.8300
2023-04-05    93.1350
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     14.23
2008-01-03     14.06
2008-01-04     13.42
2008-01-07     13.39
2008-01-08     13.68
               ...
2023-03-30    158.98
2023-03-31    163.08
2023-04-03    155.91
2023-04-04    160.87
2023-04-05    161.32
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     6.77
2008-01-03     6.66
2008-01-04     6.38
2008-01-07     6.30
2008-01-08     6.35
              ...
2023-03-30    12.39
2023-03-31    12.63
2023-04-03    12.73
2023-04-04    12.85
2023-04-05    12.65
Name: high, Length: 3842, dtype: float64
Date
2012-10-12     18.2800
2012-10-15     17.8325
2012-10-16     17.9500
2012-10-17     18.0700
2012-10-18     17.8700
                ...
2023-03-30    134.3800
2023-03-31    135.6000
2023-04-03    145.8000
2023-04-04    145.8600
2023-04-05    143.7450
Name: high, Length: 2636, dtype: float64
Date
2008-01-02    40.43
2008-01-03    39.61
2008-01-04    38.49
2008-01-07    37.89
2008-01-08    37.69
              ...
2023-03-30    53.58
2023-03-31    53.98
2023-04-03    54.28
2023-04-04    54.51
2023-04-05    52.84
Name: high, Length: 3842, dtype: float64
Date
2012-05-18     45.00
2012-05-21     36.66
2012-05-22     33.59
2012-05-23     32.50
2012-05-24     33.21
               ...
2022-06-21    167.76
2022-06-22    160.79
2022-06-23    159.75
2022-06-24    170.25
2022-06-27    171.75
Name: high, Length: 2543, dtype: float64
Date
2011-09-16    12.930
2011-09-19    13.780
2011-09-20    14.020
2011-09-21    14.000
2011-09-22    13.250
               ...
2023-02-28    62.270
2023-03-01    61.760
2023-03-02    61.630
2023-03-03    62.820
2023-03-06    62.785
Name: high, Length: 2885, dtype: float64
Date
2008-01-02    104.95
2008-01-03    106.25
2008-01-04    102.70
2008-01-07    100.44
2008-01-08     99.04
               ...
2023-03-30     41.15
2023-03-31     41.10
2023-04-03     41.35
2023-04-04     40.80
2023-04-05     40.41
Name: high, Length: 3842, dtype: float64
Date
2015-10-14    16.000
2015-10-15    16.410
2015-10-16    16.060
2015-10-19    16.150
2015-10-20    15.950
               ...
2019-05-21    26.465
2019-05-22    26.680
2019-05-23    26.420
2019-05-24    26.220
2019-05-28    26.080
Name: high, Length: 910, dtype: float64
Date
2008-01-02    19.19
2008-01-03    18.82
2008-01-04    17.48
2008-01-07    17.40
2008-01-08    17.31
              ...
2015-06-29    79.63
2015-06-30    79.37
2015-07-01    79.22
2015-07-02    79.40
2015-07-06    79.64
Name: high, Length: 1890, dtype: float64
Date
2008-01-02     56.3250
2008-01-03     55.5800
2008-01-04     55.0100
2008-01-07     53.8000
2008-01-08     53.7800
                ...
2023-03-30    413.3100
2023-03-31    415.2100
2023-04-03    419.9000
2023-04-04    420.6403
2023-04-05    412.8100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     88.57
2008-01-03     87.69
2008-01-04     86.76
2008-01-07     85.33
2008-01-08     84.70
               ...
2023-03-30    225.65
2023-03-31    228.86
2023-04-03    228.87
2023-04-04    229.44
2023-04-05    235.67
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    73.29
2008-01-03    73.62
2008-01-04    75.05
2008-01-07    77.80
2008-01-08    78.51
              ...
2023-03-30    39.91
2023-03-31    40.10
2023-04-03    40.13
2023-04-04    40.15
2023-04-05    41.62
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     28.21
2008-01-03     27.14
2008-01-04     25.56
2008-01-07     24.50
2008-01-08     23.72
               ...
2023-03-30    143.41
2023-03-31    146.21
2023-04-03    146.00
2023-04-04    146.08
2023-04-05    147.81
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.15
2008-01-03    17.73
2008-01-04    16.58
2008-01-07    16.63
2008-01-08    16.69
              ...
2023-03-30    17.74
2023-03-31    17.96
2023-04-03    18.02
2023-04-04    18.02
2023-04-05    17.67
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     32.28
2008-01-03     31.55
2008-01-04     30.68
2008-01-07     30.73
2008-01-08     30.33
               ...
2023-03-30    705.00
2023-03-31    703.02
2023-04-03    702.46
2023-04-04    691.50
2023-04-05    693.41
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    41.350
2008-01-03    41.070
2008-01-04    40.000
2008-01-07    39.850
2008-01-08    40.690
               ...
2019-05-21    31.140
2019-05-22    31.045
2019-05-23    30.740
2019-05-24    30.860
2019-05-28    31.415
Name: high, Length: 2870, dtype: float64
Date
2008-01-02    23.4183
2008-01-03    22.6774
2008-01-04    22.6607
2008-01-07    22.3487
2008-01-08    21.9309
               ...
2023-03-30    52.9800
2023-03-31    54.4400
2023-04-03    54.7100
2023-04-04    54.2800
2023-04-05    54.1009
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     56.80
2008-01-03     55.70
2008-01-04     55.18
2008-01-07     53.89
2008-01-08     54.63
               ...
2023-03-30    113.69
2023-03-31    113.90
2023-04-03    113.10
2023-04-04    113.35
2023-04-05    112.45
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    25.09
2008-01-03    24.93
2008-01-04    24.52
2008-01-07    24.06
2008-01-08    23.60
              ...
2023-03-30    27.38
2023-03-31    26.77
2023-04-03    27.03
2023-04-04    26.60
2023-04-05    25.87
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    14.00
2008-01-03    13.73
2008-01-04    12.52
2008-01-07    12.88
2008-01-08    12.49
              ...
2023-03-30    41.07
2023-03-31    40.10
2023-04-03    41.47
2023-04-04    42.06
2023-04-05    41.33
Name: high, Length: 3841, dtype: float64

 38%|███▊      | 331/866 [00:02<00:04, 121.77it/s]

Date
2008-01-02    31.92
2008-01-03    32.33
2008-01-04    31.70
2008-01-07    31.50
2008-01-08    31.95
              ...
2021-05-11    58.56
2021-05-12    58.41
2021-05-13    57.92
2021-05-14    57.34
2021-05-17    57.34
Name: high, Length: 3367, dtype: float64
Date
2008-01-02    148.53
2008-01-03    154.15
2008-01-04    154.83
2008-01-07    149.87
2008-01-08    143.48
               ...
2023-03-30     30.25
2023-03-31     30.93
2023-04-03     31.80
2023-04-04     31.15
2023-04-05     29.50
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    97.89
2008-01-03    96.90
2008-01-04    95.40
2008-01-07    95.11
2008-01-08    92.91
              ...
2023-03-30    33.73
2023-03-31    34.05
2023-04-03    35.09
2023-04-04    34.64
2023-04-05    33.03
Name: high, Length: 3841, dtype: float64
Date
2010-12-15     28.75
2010-12-16     28.47
2010-12-17     28.20
2010-12-20     29.18
2010-12-21     30.00
               ...
2023-03-30    210.22
2023-03-31    211.24
2023-04-03    212.53
2023-04-04    213.20
2023-04-05    208.16
Name: high, Length: 3097, dtype: float64
Date
2008-01-02     47.1426
2008-01-03     47.9832
2008-01-04     47.2120
2008-01-07     46.6053
2008-01-08     46.9953
                ...
2023-03-30    121.6200
2023-03-31    122.3200
2023-04-03    123.2500
2023-04-04    123.1600
2023-04-05    121.9200
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    40.2000
2008-01-03    38.3000
2008-01-04    35.6300
2008-01-07    35.7100
2008-01-08    35.4700
               ...
2010-06-30     0.3620
2010-07-01     0.3582
2010-07-02     0.3570
2010-07-06     0.3400
2010-07-07     0.2958
Name: high, Length: 633, dtype: float64
Date
2008-01-02    72.510
2008-01-03    72.580
2008-01-04    72.220
2008-01-07    71.710
2008-01-08    71.310
               ...
2011-09-27    58.790
2011-09-28    58.155
2011-09-29    57.840
2011-09-30    56.370
2011-10-03    54.490
Name: high, Length: 947, dtype: float64
Date
2008-01-02    40.74
2008-01-03    40.56
2008-01-04    39.79
2008-01-07    38.24
2008-01-08    38.15
              ...
2023-03-30     3.28
2023-03-31     3.26
2023-04-03     3.38
2023-04-04     3.28
2023-04-05     3.24
Name: high, Length: 3842, dtype: float64
Date
2019-03-13    39.300
2019-03-14    40.650
2019-03-15    41.050
2019-03-18    41.730
2019-03-19    41.400
               ...
2023-03-30    31.090
2023-03-31    31.330
2023-04-03    31.565
2023-04-04    31.630
2023-04-05    31.130
Name: high, Length: 1025, dtype: float64
Date
2019-03-12    38.000
2019-03-13    39.900
2019-03-14    41.400
2019-03-15    41.870
2019-03-18    41.950
               ...
2023-03-30    33.895
2023-03-31    34.090
2023-04-03    34.370
2023-04-04    34.445
2023-04-05    33.920
Name: high, Length: 1026, dtype: float64
Date
2014-03-27    20.0900
2014-03-28    20.2244
2014-03-31    20.3000
2014-04-01    20.3000
2014-04-02    20.0300
               ...
2023-03-30     5.9700
2023-03-31     6.0200
2023-04-03     6.1000
2023-04-04     6.0700
2023-04-05     6.0400
Name: high, Length: 2273, dtype: float64
Date
2010-12-09    28.1100
2010-12-10    27.7200
2010-12-13    27.7200
2010-12-14    27.9700
2010-12-15    27.7000
               ...
2023-03-30    14.8599
2023-03-31    14.1900
2023-04-03    14.7500
2023-04-04    14.4600
2023-04-05    13.8550
Name: high, Length: 3101, dtype: float64
Date
2008-01-02    34.6300
2008-01-03    33.9300
2008-01-04    31.8600
2008-01-07    30.3500
2008-01-08    30.2200
               ...
2010-06-30     0.4468
2010-07-01     0.4200
2010-07-02     0.4047
2010-07-06     0.3900
2010-07-07     0.3800
Name: high, Length: 633, dtype: float64
Date
2008-01-02     83.41
2008-01-03     82.99
2008-01-04     78.61
2008-01-07     76.56
2008-01-08     77.90
               ...
2023-03-30     95.90
2023-03-31     98.98
2023-04-03    100.67
2023-04-04     99.48
2023-04-05     98.28
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     36.62
2008-01-03     36.03
2008-01-04     36.22
2008-01-07     36.89
2008-01-08     37.69
               ...
2014-06-24    100.22
2014-06-25    100.54
2014-06-26    100.39
2014-06-27    100.70
2014-06-30    100.46
Name: high, Length: 1635, dtype: float64
Date
2008-01-02    272.7899
2008-01-03    271.6200
2008-01-04    262.5100
2008-01-07    254.7000
2008-01-08    263.7000
                ...
2023-03-30    219.5500
2023-03-31    218.0500
2023-04-03    218.5200
2023-04-04    209.4700
2023-04-05    209.0300
Name: high, Length: 3842, dtype: float64
Date
2017-01-17    34.8694
2017-01-18    33.9818
2017-01-19    33.6730
2017-01-20    33.2485
2017-01-23    32.6503
               ...
2023-03-30    13.8900
2023-03-31    13.7200
2023-04-03    14.8400
2023-04-04    14.1200
2023-04-05    13.8400
Name: high, Length: 1566, dtype: float64
Date
2009-11-18    17.50
2009-11-19    17.12
2009-11-20    16.96
2009-11-23    17.17
2009-11-24    17.05
              ...
2023-03-30    65.88
2023-03-31    66.57
2023-04-03    66.38
2023-04-04    66.72
2023-04-05    66.25
Name: high, Length: 3367, dtype: float64
Date
2008-01-02    12.840
2008-01-03    12.620
2008-01-04    12.440
2008-01-07    12.470
2008-01-08    12.370
               ...
2020-04-23     0.264
2020-04-24     0.260
2020-04-27     0.260
2020-04-28     0.260
2020-04-29     0.260
Name: high, Length: 3103, dtype: float64
Date
2016-06-13    42.9664
2016-06-14    46.9133
2016-06-15    46.9633
2016-06-17    49.9609
2016-06-22    49.9609
               ...
2023-03-30    67.8600
2023-03-31    68.2500
2023-04-03    68.4000
2023-04-04    67.8500
2023-04-05    65.2000
Name: high, Length: 1713, dtype: float64
Date
2008-01-02    37.57
2008-01-03    37.55
2008-01-04    37.10
2008-01-07    37.47
2008-01-08    37.88
              ...
2016-06-24    66.04
2016-06-27    66.01
2016-06-28    66.01
2016-06-29    66.01
2016-06-30    66.00
Name: high, Length: 2140, dtype: float64
Date
2014-02-04    11.600
2014-02-05    12.290
2014-02-06    14.130
2014-02-07    14.240
2014-02-10    14.210
               ...
2023-03-30     1.835
2023-03-31     1.870
2023-04-03     1.870
2023-04-04     1.850
2023-04-05     1.720
Name: high, Length: 2309, dtype: float64
Date
2008-01-02     89.43
2008-01-03     89.05
2008-01-04     88.24
2008-01-07     86.70
2008-01-08     87.25
               ...
2023-03-30    227.71
2023-03-31    228.30
2023-04-03    233.35
2023-04-04    232.52
2023-04-05    230.75
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    37.4244
2008-01-03    37.1946
2008-01-04    36.6451
2008-01-07    36.4751
2008-01-08    36.4051
               ...
2023-03-30    94.3100
2023-03-31    95.6700
2023-04-03    96.9400
2023-04-04    97.8700
2023-04-05    95.3200
Name: high, Length: 3842, dtype: float64

 43%|████▎     | 370/866 [00:02<00:04, 122.69it/s]

Date
2022-12-15    63.000
2022-12-16    60.000
2022-12-19    58.990
2022-12-20    58.000
2022-12-21    66.280
               ...
2023-03-30    82.289
2023-03-31    82.590
2023-04-03    82.620
2023-04-04    82.160
2023-04-05    81.800
Name: high, Length: 76, dtype: float64
Date
2008-01-02    16.30
2008-01-03    16.33
2008-01-04    16.06
2008-01-07    15.79
2008-01-08    16.03
              ...
2023-03-30    17.11
2023-03-31    17.20
2023-04-03    17.32
2023-04-04    17.19
2023-04-05    17.34
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    75.49
2008-01-03    75.92
2008-01-04    77.51
2008-01-07    77.39
2008-01-08    78.68
              ...
2011-04-04    76.39
2011-04-05    76.42
2011-04-06    76.48
2011-04-07    76.42
2011-04-08    76.38
Name: high, Length: 825, dtype: float64
Date
2008-01-02    41.160
2008-01-03    40.555
2008-01-04    38.020
2008-01-07    36.810
2008-01-08    36.990
               ...
2018-08-21    21.840
2018-08-22    21.680
2018-08-23    21.855
2018-08-24    21.990
2018-08-27    22.290
Name: high, Length: 2683, dtype: float64
Date
2008-01-02    796.3500
2008-01-03    800.8800
2008-01-04    799.9900
2008-01-07    800.0000
2008-01-08    804.2500
                ...
2023-03-30    592.0000
2023-03-31    596.8200
2023-04-03    596.8100
2023-04-04    595.4500
2023-04-05    587.6325
Name: high, Length: 3840, dtype: float64
Date
2008-01-02    46.66
2008-01-03    47.00
2008-01-04    47.35
2008-01-07    47.80
2008-01-08    48.45
              ...
2023-03-30    81.90
2023-03-31    83.14
2023-04-03    83.80
2023-04-04    83.45
2023-04-05    83.72
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    57.09
2008-01-03    56.90
2008-01-04    56.40
2008-01-07    56.97
2008-01-08    57.73
              ...
2023-03-30    85.02
2023-03-31    85.54
2023-04-03    86.61
2023-04-04    86.50
2023-04-05    87.32
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     60.62
2008-01-03     60.29
2008-01-04     60.18
2008-01-07     61.22
2008-01-08     61.44
               ...
2023-03-30    110.12
2023-03-31    110.20
2023-04-03    111.09
2023-04-04    110.43
2023-04-05    108.41
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    24.02
2008-01-03    23.53
2008-01-04    23.25
2008-01-07    22.62
2008-01-08    22.87
              ...
2023-03-30    35.03
2023-03-31    35.38
2023-04-03    35.21
2023-04-04    34.98
2023-04-05    34.53
Name: high, Length: 3842, dtype: float64
Date
2010-11-17    33.00
2010-11-18    35.99
2010-11-19    34.50
2010-11-22    34.48
2010-11-23    33.99
              ...
2023-03-30    36.48
2023-03-31    36.72
2023-04-03    36.82
2023-04-04    36.54
2023-04-05    35.38
Name: high, Length: 3116, dtype: float64
Date
2008-01-02     9.178
2008-01-03     9.282
2008-01-04     9.200
2008-01-07     9.151
2008-01-08     9.256
               ...
2016-02-25    91.840
2016-02-26    91.950
2016-02-29    91.960
2016-03-01    91.960
2016-03-02    91.950
Name: high, Length: 2056, dtype: float64
Date
2008-01-02    62.2900
2008-01-03    61.4100
2008-01-04    58.9500
2008-01-07    57.9000
2008-01-08    59.0929
               ...
2023-03-30    22.8300
2023-03-31    23.0700
2023-04-03    23.8500
2023-04-04    23.1400
2023-04-05    22.4700
Name: high, Length: 3842, dtype: float64
Date
2010-02-11     13.25
2010-02-12     13.41
2010-02-16     13.42
2010-02-17     14.00
2010-02-18     13.15
               ...
2023-03-30    115.92
2023-03-31    109.50
2023-04-03    110.07
2023-04-04    109.07
2023-04-05    102.65
Name: high, Length: 3310, dtype: float64
Date
2008-01-02    25.57
2008-01-03    25.12
2008-01-04    24.73
2008-01-07    24.77
2008-01-08    24.91
              ...
2023-03-30     5.05
2023-03-31     5.03
2023-04-03     5.16
2023-04-04     5.16
2023-04-05     5.19
Name: high, Length: 3842, dtype: float64
Date
2014-04-03    587.28
2014-04-04    577.77
2014-04-07    548.48
2014-04-08    555.00
2014-04-09    565.37
               ...
2023-03-30    101.61
2023-03-31    104.19
2023-04-03    104.95
2023-04-04    106.10
2023-04-05    106.54
Name: high, Length: 2268, dtype: float64
Date
2008-01-02    697.370
2008-01-03    686.850
2008-01-04    680.960
2008-01-07    662.280
2008-01-08    659.960
               ...
2023-03-30    101.155
2023-03-31    103.890
2023-04-03    104.530
2023-04-04    105.580
2023-04-05    106.100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     46.28
2008-01-03     45.60
2008-01-04     44.70
2008-01-07     44.13
2008-01-08     44.00
               ...
2023-03-30    165.76
2023-03-31    167.44
2023-04-03    169.14
2023-04-04    168.64
2023-04-05    164.64
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     46.32
2008-01-03     45.81
2008-01-04     39.04
2008-01-07     38.48
2008-01-08     37.52
               ...
2023-03-30    105.82
2023-03-31    105.47
2023-04-03    105.62
2023-04-04    106.09
2023-04-05    104.56
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    21.25
2008-01-03    20.83
2008-01-04    20.09
2008-01-07    20.24
2008-01-08    20.28
              ...
2023-03-30     9.65
2023-03-31    10.08
2023-04-03    10.39
2023-04-04    10.23
2023-04-05     9.60
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     71.14
2008-01-03     70.19
2008-01-04     69.83
2008-01-07     67.44
2008-01-08     66.99
               ...
2012-07-20    127.20
2012-07-23    127.22
2012-07-24    127.18
2012-07-25    127.25
2012-07-26    127.49
Name: high, Length: 1152, dtype: float64
Date
2008-01-02     95.58
2008-01-03     91.16
2008-01-04     89.86
2008-01-07     91.00
2008-01-08     87.25
               ...
2023-03-30     99.32
2023-03-31    101.29
2023-04-03    101.41
2023-04-04    100.86
2023-04-05     99.82
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    215.05
2008-01-03    209.04
2008-01-04    204.00
2008-01-07    200.25
2008-01-08    199.50
               ...
2023-03-30    324.87
2023-03-31    327.33
2023-04-03    328.98
2023-04-04    326.87
2023-04-05    322.20
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    28.16
2008-01-03    27.05
2008-01-04    25.38
2008-01-07    25.06
2008-01-08    25.06
              ...
2023-03-30    10.89
2023-03-31    11.03
2023-04-03    11.07
2023-04-04    11.00
2023-04-05    10.39
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     87.92
2008-01-03     86.37
2008-01-04     85.94
2008-01-07     83.00
2008-01-08     82.66
               ...
2023-03-30    678.48
2023-03-31    689.74
2023-04-03    687.20
2023-04-04    686.70
2023-04-05    653.17
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    38.98
2008-01-03    39.67
2008-01-04    39.00
2008-01-07    38.25
2008-01-08    38.06
              ...
2023-03-30    31.92
2023-03-31    31.70
2023-04-03    34.69
2023-04-04    34.40
2023-04-05    33.39
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     73.75
2008-01-03     71.77
2008-01-04     70.31
2008-01-07     69.37
2008-01-08     69.22
               ...
2017-03-06    111.60
2017-03-07    111.56
2017-03-08    111.60
2017-03-09    111.68
2017-03-10    111.62
Name: high, Length: 2314, dtype: float64
Date
2008-01-02    25.77
2008-01-03    25.22
2008-01-04    24.49
2008-01-07    23.96
2008-01-08    23.95
              ...
2023-03-30    53.47
2023-03-31    53.77
2023-04-03    53.96
2023-04-04    53.37
2023-04-05    52.54
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    14.87
2008-01-03    14.46
2008-01-04    13.69
2008-01-07    14.30
2008-01-08    14.39
              ...
2023-03-30    11.53
2023-03-31    11.30
2023-04-03    11.39
2023-04-04    11.25
2023-04-05    11.09
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    27.35
2008-01-03    26.49
2008-01-04    25.51
2008-01-07    24.75
2008-01-08    24.74
              ...
2023-03-30     5.14
2023-03-31     5.26
2023-04-03     5.30
2023-04-04     5.28
2023-04-05     5.18
Name: high, Length: 3842, dtype: float64

 46%|████▌     | 396/866 [00:03<00:03, 122.85it/s]

Date
2011-03-10     31.50
2011-03-11     31.29
2011-03-14     31.05
2011-03-15     31.50
2011-03-16     31.95
               ...
2023-03-30    261.97
2023-03-31    263.68
2023-04-03    264.84
2023-04-04    267.26
2023-04-05    271.75
Name: high, Length: 3039, dtype: float64
Date
2016-01-13    20.34
2016-01-14    20.11
2016-01-28    18.85
2016-01-29    19.38
2016-02-19    19.19
              ...
2020-09-30    19.24
2020-10-01    19.40
2020-10-02    19.30
2020-10-05    19.11
2020-10-08    19.38
Name: high, Length: 765, dtype: float64
Date
2021-12-09    89.50
2021-12-10    90.74
2021-12-13    88.88
2021-12-14    87.49
2021-12-15    85.94
              ...
2023-03-30    28.36
2023-03-31    29.50
2023-04-03    29.17
2023-04-04    29.08
2023-04-05    28.42
Name: high, Length: 332, dtype: float64
Date
2012-08-16    20.1500
2012-08-17    19.9500
2012-08-20    19.8300
2012-08-21    19.8000
2012-08-22    19.4800
               ...
2020-10-09     0.0191
2020-10-12     0.0202
2020-10-13     0.0190
2020-10-14     0.0191
2020-10-15     0.0180
Name: high, Length: 2055, dtype: float64
Date
2008-01-02     27.27
2008-01-03     26.46
2008-01-04     25.67
2008-01-07     25.81
2008-01-08     25.80
               ...
2023-03-30    286.10
2023-03-31    295.55
2023-04-03    297.97
2023-04-04    299.80
2023-04-05    295.71
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    100.49
2008-01-03    101.05
2008-01-04     96.35
2008-01-07     95.86
2008-01-08     95.10
               ...
2023-03-30    134.49
2023-03-31    133.38
2023-04-03    144.20
2023-04-04    143.89
2023-04-05    142.26
Name: high, Length: 3842, dtype: float64
Date
2011-07-01    71.86
2011-07-05    77.80
2011-07-06    73.00
2011-07-07    75.49
2011-07-08    75.42
              ...
2022-03-08    34.18
2022-03-09    34.87
2022-03-10    35.72
2022-03-11    37.37
2022-03-14    37.26
Name: high, Length: 2693, dtype: float64
Date
2008-01-02    87.88
2008-01-03    85.60
2008-01-04    84.15
2008-01-07    84.28
2008-01-08    84.46
              ...
2023-03-30    69.82
2023-03-31    69.82
2023-04-03    70.71
2023-04-04    71.10
2023-04-05    69.59
Name: high, Length: 3842, dtype: float64
Date
2011-03-22     37.60
2011-03-23     37.80
2011-03-24     37.50
2011-03-25     39.25
2011-03-28     39.00
               ...
2023-03-30    210.00
2023-03-31    208.73
2023-04-03    212.19
2023-04-04    209.69
2023-04-05    209.94
Name: high, Length: 3031, dtype: float64
Date
2013-12-12     14.9911
2013-12-13     15.3057
2013-12-16     17.7472
2013-12-17     15.0389
2013-12-18     15.1689
                ...
2023-03-30    138.7000
2023-03-31    141.2200
2023-04-03    141.1200
2023-04-04    140.2600
2023-04-05    139.7525
Name: high, Length: 2344, dtype: float64
Date
2011-02-01    0.95
2011-02-02    0.88
2011-02-03    0.87
2011-02-04    0.85
2011-02-07    0.78
              ...
2020-07-16    1.27
2020-07-17    1.27
2020-07-20    1.28
2020-07-21    1.29
2020-07-22    1.29
Name: high, Length: 2357, dtype: float64
Date
2008-01-02    46.61
2008-01-03    45.87
2008-01-04    44.80
2008-01-07    42.73
2008-01-08    42.10
              ...
2023-03-30    37.40
2023-03-31    38.07
2023-04-03    38.85
2023-04-04    38.63
2023-04-05    37.22
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    69.9000
2008-01-03    70.4400
2008-01-04    72.8800
2008-01-07    71.4499
2008-01-08    70.9500
               ...
2023-03-30    80.5400
2023-03-31    80.9000
2023-04-03    80.8600
2023-04-04    81.7300
2023-04-05    82.2600
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     58.5672
2008-01-03     57.5676
2008-01-04     57.2820
2008-01-07     55.9968
2008-01-08     55.6826
                ...
2023-03-30    190.4400
2023-03-31    191.3800
2023-04-03    193.9000
2023-04-04    193.2300
2023-04-05    191.0100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    43.96
2008-01-03    42.68
2008-01-04    40.67
2008-01-07    40.63
2008-01-08    40.35
              ...
2016-09-16    75.83
2016-09-19    76.07
2016-09-20    77.74
2016-09-21    77.38
2016-09-22    77.75
Name: high, Length: 2198, dtype: float64
Date
2008-01-02    42.34
2008-01-03    42.42
2008-01-04    40.65
2008-01-07    40.52
2008-01-08    40.01
              ...
2023-03-30    37.40
2023-03-31    35.93
2023-04-03    39.21
2023-04-04    38.51
2023-04-05    37.96
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    19.50
2008-01-03    19.19
2008-01-04    18.47
2008-01-07    18.09
2008-01-08    18.37
              ...
2008-11-07    19.13
2008-11-10    19.48
2008-11-11    19.62
2008-11-12    19.61
2008-11-13    19.89
Name: high, Length: 221, dtype: float64
Date
2015-10-19    18.4974
2015-10-20    16.9275
2015-10-21    17.3475
2015-10-22    17.0475
2015-10-23    17.2476
               ...
2023-03-30    15.7400
2023-03-31    15.9600
2023-04-03    16.3900
2023-04-04    16.4000
2023-04-05    16.1000
Name: high, Length: 1879, dtype: float64
Date
2008-01-02    50.9800
2008-01-03    49.8299
2008-01-04    49.1900
2008-01-07    47.1501
2008-01-08    46.0200
               ...
2023-03-30    28.9500
2023-03-31    29.3900
2023-04-03    29.9700
2023-04-04    30.0800
2023-04-05    29.7100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.77
2008-01-03    18.74
2008-01-04    17.92
2008-01-07    17.66
2008-01-08    17.68
              ...
2023-03-30    34.78
2023-03-31    35.33
2023-04-03    35.50
2023-04-04    35.36
2023-04-05    34.79
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    40.55
2008-01-03    40.42
2008-01-04    39.98
2008-01-07    40.12
2008-01-08    40.11
              ...
2023-03-30    39.34
2023-03-31    39.90
2023-04-03    40.59
2023-04-04    40.97
2023-04-05    41.35
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     62.55
2008-01-03     62.40
2008-01-04     61.69
2008-01-07     60.92
2008-01-08     58.44
               ...
2019-06-24    199.54
2019-06-25    198.08
2019-06-26    195.73
2019-06-27    191.84
2019-06-28    191.44
Name: high, Length: 2893, dtype: float64
Date
2008-01-02    62.3381
2008-01-03    59.7695
2008-01-04    59.4896
2008-01-07    59.5495
2008-01-08    60.8588
               ...
2023-03-30    80.7100
2023-03-31    81.6300
2023-04-03    82.0400
2023-04-04    82.5400
2023-04-05    84.0000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    42.920
2008-01-03    42.140
2008-01-04    41.580
2008-01-07    40.890
2008-01-08    41.100
               ...
2015-08-27    89.945
2015-08-28    89.960
2015-08-31    89.970
2015-09-01    89.970
2015-09-02    89.980
Name: high, Length: 1932, dtype: float64
Date
2008-01-02    17.8047
2008-01-03    17.8660
2008-01-04    16.9773
2008-01-07    16.5994
2008-01-08    16.8343
               ...
2023-03-30    16.0000
2023-03-31    16.5400
2023-04-03    16.6000
2023-04-04    16.3600
2023-04-05    16.1800
Name: high, Length: 3842, dtype: float64

 47%|████▋     | 409/866 [00:03<00:03, 123.48it/s]

Date
2008-01-02     39.45
2008-01-03     39.20
2008-01-04     39.08
2008-01-07     38.80
2008-01-08     38.90
               ...
2023-03-30    253.65
2023-03-31    255.05
2023-04-03    257.77
2023-04-04    258.52
2023-04-05    261.02
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     79.14
2008-01-03     81.12
2008-01-04     81.11
2008-01-07     81.61
2008-01-08     83.07
               ...
2023-03-30    488.71
2023-03-31    490.67
2023-04-03    511.07
2023-04-04    510.88
2023-04-05    517.18
Name: high, Length: 3842, dtype: float64
Date
2016-10-20    20.4502
2016-10-21    20.5525
2016-10-24    20.5525
2016-10-25    20.9513
2016-10-26    21.4830
               ...
2023-03-30    42.0700
2023-03-31    42.9000
2023-04-03    43.0400
2023-04-04    42.9100
2023-04-05    42.2300
Name: high, Length: 1625, dtype: float64
Date
2008-01-02    108.99
2008-01-03    105.57
2008-01-04    103.95
2008-01-07    101.00
2008-01-08    100.38
               ...
2023-03-30    131.48
2023-03-31    131.23
2023-04-03    132.61
2023-04-04    132.15
2023-04-05    132.61
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    193.87
2008-01-03    186.88
2008-01-04    178.18
2008-01-07    173.91
2008-01-08    174.73
               ...
2023-03-30    103.03
2023-03-31    104.38
2023-04-03    105.49
2023-04-04    106.78
2023-04-05    107.19
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     59.10
2008-01-03     59.04
2008-01-04     59.99
2008-01-07     59.04
2008-01-08     60.75
               ...
2023-03-30    496.68
2023-03-31    500.48
2023-04-03    501.75
2023-04-04    495.85
2023-04-05    484.84
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     36.12
2008-01-03     36.32
2008-01-04     35.48
2008-01-07     35.03
2008-01-08     34.50
               ...
2023-03-30    228.08
2023-03-31    231.16
2023-04-03    231.61
2023-04-04    229.44
2023-04-05    221.23
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    48.01
2008-01-03    47.46
2008-01-04    46.60
2008-01-07    46.49
2008-01-08    46.90
              ...
2023-03-30    91.04
2023-03-31    92.16
2023-04-03    92.48
2023-04-04    90.90
2023-04-05    90.37
Name: high, Length: 3842, dtype: float64
Date
2015-04-07    20.330
2015-04-08    20.240
2015-04-09    20.500
2015-04-10    20.945
2015-04-13    20.710
               ...
2023-03-30    26.430
2023-03-31    26.890
2023-04-03    27.100
2023-04-04    26.840
2023-04-05    26.290
Name: high, Length: 2015, dtype: float64
Date
2008-01-02     60.65
2008-01-03     59.86
2008-01-04     59.13
2008-01-07     57.43
2008-01-08     58.00
               ...
2023-03-30    226.26
2023-03-31    232.81
2023-04-03    233.42
2023-04-04    231.25
2023-04-05    232.63
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    10.22
2008-01-03    10.15
2008-01-04     9.68
2008-01-07     9.67
2008-01-08    12.72
              ...
2023-03-30    71.48
2023-03-31    72.37
2023-04-03    72.83
2023-04-04    72.84
2023-04-05    74.08
Name: high, Length: 3842, dtype: float64
Date
2014-06-19     82.20
2014-06-20     82.35
2014-06-23     81.75
2014-06-24     81.24
2014-06-25     81.27
               ...
2022-02-18    108.10
2022-02-22    108.64
2022-02-23    108.54
2022-02-24    108.41
2022-02-25    109.16
Name: high, Length: 1937, dtype: float64
Date
2008-01-02    26.340
2008-01-03    25.400
2008-01-04    23.600
2008-01-07    23.030
2008-01-08    23.130
               ...
2023-03-30    32.580
2023-03-31    32.900
2023-04-03    33.560
2023-04-04    33.840
2023-04-05    32.985
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     31.94
2008-01-03     31.60
2008-01-04     31.06
2008-01-07     32.00
2008-01-08     31.50
               ...
2023-03-30    442.41
2023-03-31    448.04
2023-04-03    443.01
2023-04-04    446.73
2023-04-05    440.05
Name: high, Length: 3842, dtype: float64
Date
2017-02-01    20.420
2017-02-02    20.410
2017-02-03    20.800
2017-02-06    21.140
2017-02-07    20.860
               ...
2023-03-30    30.735
2023-03-31    31.265
2023-04-03    31.650
2023-04-04    31.400
2023-04-05    31.460
Name: high, Length: 1555, dtype: float64
Date
2008-01-02    30.4170
2008-01-03    30.7438
2008-01-04    30.3142
2008-01-07    29.6698
2008-01-08    29.4831
               ...
2023-03-30    35.5700
2023-03-31    36.1300
2023-04-03    36.4100
2023-04-04    36.0500
2023-04-05    35.5478
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     8.12
2008-01-03     7.99
2008-01-04     7.89
2008-01-07     7.76
2008-01-08     7.86
              ...
2023-03-30    36.51
2023-03-31    37.31
2023-04-03    37.69
2023-04-04    37.96
2023-04-05    37.20
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     20.2799
2008-01-03     19.7500
2008-01-04     19.9000
2008-01-07     19.7800
2008-01-08     19.3700
                ...
2023-03-30    123.1800
2023-03-31    123.4400
2023-04-03    122.8800
2023-04-04    122.5800
2023-04-05    118.0000
Name: high, Length: 3842, dtype: float64
Date
2013-05-09     44.330
2013-05-10     42.970
2013-05-13     43.370
2013-05-14     44.749
2013-05-15     45.740
               ...
2023-03-30    197.100
2023-03-31    198.890
2023-04-03    200.110
2023-04-04    201.690
2023-04-05    198.115
Name: high, Length: 2495, dtype: float64
Date
2017-05-12    21.300
2017-05-15    22.300
2017-05-16    22.410
2017-05-17    22.510
2017-05-18    23.630
               ...
2023-03-30    57.775
2023-03-31    58.220
2023-04-03    58.600
2023-04-04    58.170
2023-04-05    54.980
Name: high, Length: 1485, dtype: float64
Date
2008-01-02    40.1747
2008-01-03    39.0061
2008-01-04    39.0061
2008-01-07    38.4110
2008-01-08    38.3677
               ...
2023-03-30    52.0400
2023-03-31    52.9600
2023-04-03    53.4800
2023-04-04    53.1000
2023-04-05    52.8800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    330.4704
2008-01-03    325.9803
2008-01-04    318.3303
2008-01-07    312.6705
2008-01-08    292.6302
                ...
2023-03-30    254.2000
2023-03-31    256.7400
2023-04-03    254.4400
2023-04-04    256.2300
2023-04-05    258.8900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     17.53
2008-01-03     17.22
2008-01-04     16.64
2008-01-07     16.82
2008-01-08     17.30
               ...
2023-03-30    320.60
2023-03-31    325.80
2023-04-03    325.85
2023-04-04    324.24
2023-04-05    317.40
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    10.9438
2008-01-03    10.9206
2008-01-04    10.7631
2008-01-07    10.7498
2008-01-08    10.3867
               ...
2023-03-30    85.2700
2023-03-31    86.3800
2023-04-03    87.1800
2023-04-04    86.7000
2023-04-05    82.4100
Name: high, Length: 3842, dtype: float64

 50%|█████     | 435/866 [00:03<00:03, 122.18it/s]

Date
2008-01-02     53.98
2008-01-03     52.67
2008-01-04     51.43
2008-01-07     51.15
2008-01-08     49.70
               ...
2023-03-30    242.17
2023-03-31    243.74
2023-04-03    245.07
2023-04-04    244.59
2023-04-05    233.49
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    31.4000
2008-01-03    31.1700
2008-01-04    30.7000
2008-01-07    29.0200
2008-01-08    29.2800
               ...
2023-03-30    16.3600
2023-03-31    16.4200
2023-04-03    16.4500
2023-04-04    16.3100
2023-04-05    15.7999
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     98.70
2008-01-03    103.29
2008-01-04    100.52
2008-01-07     97.73
2008-01-08     93.67
               ...
2023-03-30    116.91
2023-03-31    117.64
2023-04-03    118.22
2023-04-04    117.67
2023-04-05    113.34
Name: high, Length: 3841, dtype: float64
Date
2021-10-05    50.160
2021-10-06    49.933
2021-10-07    50.224
2021-10-08    50.337
2021-10-11    50.650
               ...
2023-03-30    51.250
2023-03-31    51.480
2023-04-03    52.000
2023-04-04    52.110
2023-04-05    51.560
Name: high, Length: 378, dtype: float64
Date
2008-01-02     27.64
2008-01-03     26.25
2008-01-04     24.71
2008-01-07     25.91
2008-01-08     25.43
               ...
2023-03-30    172.75
2023-03-31    175.89
2023-04-03    175.43
2023-04-04    173.71
2023-04-05    171.82
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    15.35
2008-01-03    14.83
2008-01-04    14.26
2008-01-07    14.20
2008-01-08    14.19
              ...
2023-03-30    86.80
2023-03-31    88.30
2023-04-03    89.10
2023-04-04    87.46
2023-04-05    84.67
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     3.8409
2008-01-03     3.8148
2008-01-04     3.7107
2008-01-07     3.7279
2008-01-08     3.7376
               ...
2023-03-30    60.3600
2023-03-31    60.2500
2023-04-03    60.6300
2023-04-04    60.5100
2023-04-05    57.2200
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    43.8800
2008-01-03    41.7800
2008-01-04    38.7500
2008-01-07    38.0000
2008-01-08    36.7200
               ...
2020-05-12     0.2250
2020-05-13     0.2888
2020-05-14     0.2074
2020-05-15     0.3099
2020-05-18     0.2352
Name: high, Length: 3105, dtype: float64
Date
2008-01-02    13.38
2008-01-03    13.36
2008-01-04    13.11
2008-01-07    12.67
2008-01-08    12.55
              ...
2015-07-28    11.12
2015-07-29    11.12
2015-07-30    11.19
2015-07-31    11.38
2015-08-03    11.05
Name: high, Length: 1910, dtype: float64
Date
2008-01-02     98.70
2008-01-03    103.29
2008-01-04    100.52
2008-01-07     97.73
2008-01-08     93.67
               ...
2019-12-03     88.86
2019-12-04     88.92
2019-12-05     86.74
2019-12-06     86.48
2019-12-09     85.85
Name: high, Length: 3006, dtype: float64
Date
2008-01-02    38.2937
2008-01-03    37.8947
2008-01-04    37.5200
2008-01-07    36.9581
2008-01-08    37.0395
               ...
2023-03-30    31.6900
2023-03-31    31.8000
2023-04-03    31.9800
2023-04-04    31.7100
2023-04-05    31.0800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     24.66
2008-01-03     24.43
2008-01-04     24.06
2008-01-07     24.10
2008-01-08     23.95
               ...
2023-03-30    149.59
2023-03-31    151.20
2023-04-03    151.36
2023-04-04    150.70
2023-04-05    149.70
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     67.00
2008-01-03     66.40
2008-01-04     66.40
2008-01-07     67.21
2008-01-08     67.75
               ...
2023-03-30    153.80
2023-03-31    155.19
2023-04-03    157.01
2023-04-04    158.97
2023-04-05    165.66
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    33.30
2008-01-03    32.89
2008-01-04    32.50
2008-01-07    31.25
2008-01-08    31.79
              ...
2023-03-30    34.30
2023-03-31    34.47
2023-04-03    34.53
2023-04-04    34.46
2023-04-05    34.38
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    33.00
2008-01-03    31.83
2008-01-04    31.18
2008-01-07    30.73
2008-01-08    29.62
              ...
2017-05-22    14.55
2017-05-23    14.55
2017-05-24    14.44
2017-05-25    14.45
2017-05-26    14.30
Name: high, Length: 2368, dtype: float64
Date
2008-01-02    16.12
2008-01-03    16.16
2008-01-04    15.73
2008-01-07    14.73
2008-01-08    14.67
              ...
2014-04-02    14.99
2014-04-03    14.99
2014-04-04    14.98
2014-04-07    14.97
2014-04-08    15.00
Name: high, Length: 1578, dtype: float64
Date
2008-01-02    65.93
2008-01-03    65.55
2008-01-04    64.01
2008-01-07    62.70
2008-01-08    63.50
              ...
2017-03-30    28.29
2017-03-31    28.30
2017-04-03    28.30
2017-04-04    28.30
2017-04-05    28.31
Name: high, Length: 2332, dtype: float64
Date
2008-01-02    65.93
2008-01-03    65.55
2008-01-04    64.01
2008-01-07    62.70
2008-01-08    63.50
              ...
2011-11-29    85.11
2011-11-30    91.30
2011-12-01    91.76
2011-12-02    92.95
2011-12-05    92.39
Name: high, Length: 991, dtype: float64
Date
2008-01-02     43.79
2008-01-03     42.65
2008-01-04     41.80
2008-01-07     41.58
2008-01-08     41.58
               ...
2023-03-30    130.12
2023-03-31    130.34
2023-04-03    131.44
2023-04-04    130.59
2023-04-05    128.15
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    37.00
2008-01-03    35.67
2008-01-04    33.09
2008-01-07    33.26
2008-01-08    33.30
              ...
2023-03-30    16.35
2023-03-31    16.28
2023-04-03    16.81
2023-04-04    16.79
2023-04-05    16.09
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    52.41
2008-01-03    52.09
2008-01-04    52.01
2008-01-07    52.37
2008-01-08    53.00
              ...
2023-03-30    66.70
2023-03-31    67.15
2023-04-03    67.61
2023-04-04    67.48
2023-04-05    68.21
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    21.74
2008-01-03    21.12
2008-01-04    19.73
2008-01-07    19.13
2008-01-08    18.86
              ...
2023-03-30    40.50
2023-03-31    40.20
2023-04-03    40.63
2023-04-04    40.64
2023-04-05    40.32
Name: high, Length: 3842, dtype: float64
Date
2008-04-28     4.8302
2008-04-29     4.4116
2008-04-30     4.7014
2008-05-01     4.5082
2008-05-02     4.4277
               ...
2023-03-30    35.2600
2023-03-31    35.4150
2023-04-03    35.5300
2023-04-04    35.4500
2023-04-05    35.8900
Name: high, Length: 3762, dtype: float64
Date
2008-01-02    23.56
2008-01-03    23.04
2008-01-04    22.51
2008-01-07    22.60
2008-01-08    22.43
              ...
2023-03-30    12.96
2023-03-31    12.58
2023-04-03    12.67
2023-04-04    12.47
2023-04-05    11.68
Name: high, Length: 3842, dtype: float64
Date
2014-10-20     33.00
2014-10-21     29.49
2014-10-22     28.91
2014-10-23     29.89
2014-10-24     30.09
               ...
2023-03-30    159.44
2023-03-31    161.71
2023-04-03    161.32
2023-04-04    161.77
2023-04-05    157.35
Name: high, Length: 2130, dtype: float64

 53%|█████▎    | 462/866 [00:03<00:03, 123.60it/s]

Date
2008-01-02    32.58
2008-01-03    32.27
2008-01-04    32.19
2008-01-07    32.12
2008-01-08    32.30
              ...
2012-09-25    41.95
2012-09-26    41.81
2012-09-27    41.34
2012-09-28    41.44
2012-10-01    42.54
Name: high, Length: 1198, dtype: float64
Date
2008-01-02    10.43
2008-01-03    10.18
2008-01-04    10.13
2008-01-07    10.50
2008-01-08    12.18
              ...
2011-02-22    14.24
2011-02-23    14.24
2011-02-24    14.25
2011-02-25    14.25
2011-02-28    14.25
Name: high, Length: 796, dtype: float64
Date
2012-09-17    45.570
2012-09-18    45.990
2012-09-19    46.385
2012-09-20    46.900
2012-09-21    47.300
               ...
2023-03-30    39.035
2023-03-31    39.000
2023-04-03    39.060
2023-04-04    38.900
2023-04-05    39.290
Name: high, Length: 2655, dtype: float64
Date
2008-01-02    36.99
2008-01-03    36.76
2008-01-04    35.00
2008-01-07    34.42
2008-01-08    35.31
              ...
2023-03-30    19.04
2023-03-31    19.55
2023-04-03    19.93
2023-04-04    19.58
2023-04-05    19.25
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     48.35
2008-01-03     46.41
2008-01-04     45.39
2008-01-07     44.11
2008-01-08     43.63
               ...
2023-03-30    399.85
2023-03-31    399.88
2023-04-03    400.39
2023-04-04    401.45
2023-04-05    388.91
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     66.6037
2008-01-03     66.6708
2008-01-04     66.4983
2008-01-07     66.7954
2008-01-08     66.6133
                ...
2023-03-30    133.0800
2023-03-31    134.2800
2023-04-03    135.5100
2023-04-04    136.5900
2023-04-05    136.7900
Name: high, Length: 3842, dtype: float64
Date
2011-02-11    32.14
2011-02-14    31.30
2011-02-15    31.15
2011-02-16    31.44
2011-02-17    31.09
              ...
2023-03-30    17.42
2023-03-31    17.54
2023-04-03    17.84
2023-04-04    17.74
2023-04-05    17.72
Name: high, Length: 3057, dtype: float64
Date
2008-01-02    20.24
2008-01-03    20.22
2008-01-04    19.54
2008-01-07    19.75
2008-01-08    19.39
              ...
2023-03-30    61.91
2023-03-31    64.43
2023-04-03    65.24
2023-04-04    65.00
2023-04-05    63.37
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    61.58
2008-01-03    62.10
2008-01-04    62.71
2008-01-07    63.44
2008-01-08    64.40
              ...
2023-03-30    62.09
2023-03-31    62.25
2023-04-03    62.52
2023-04-04    62.74
2023-04-05    63.02
Name: high, Length: 3842, dtype: float64
Date
2011-12-15    25.23
2011-12-16    24.80
2011-12-19    25.09
2011-12-20    25.76
2011-12-21    26.78
              ...
2018-12-28    38.12
2018-12-31    37.93
2019-01-02    39.75
2019-01-03    39.02
2019-01-04    39.29
Name: high, Length: 1774, dtype: float64
Date
2008-01-02    26.70
2008-01-03    26.19
2008-01-04    25.76
2008-01-07    25.87
2008-01-08    25.85
              ...
2023-03-30    49.32
2023-03-31    49.48
2023-04-03    50.00
2023-04-04    49.97
2023-04-05    49.60
Name: high, Length: 3842, dtype: float64
Date
2012-09-17    45.570
2012-09-18    45.990
2012-09-19    46.385
2012-09-20    46.900
2012-09-21    47.300
               ...
2015-06-26    88.000
2015-06-29    86.940
2015-06-30    87.060
2015-07-01    88.360
2015-07-02    89.540
Name: high, Length: 702, dtype: float64
Date
2008-01-02    45.99
2008-01-03    45.13
2008-01-04    42.60
2008-01-07    41.73
2008-01-08    41.73
              ...
2023-03-30    24.30
2023-03-31    23.77
2023-04-03    24.40
2023-04-04    24.82
2023-04-05    23.60
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     34.810
2008-01-03     33.660
2008-01-04     32.220
2008-01-07     31.530
2008-01-08     31.180
               ...
2021-12-08    300.985
2021-12-09    298.675
2021-12-10    299.460
2021-12-13    297.000
2021-12-14    293.590
Name: high, Length: 3514, dtype: float64
Date
2008-01-02    51.33
2008-01-03    50.99
2008-01-04    49.99
2008-01-07    49.70
2008-01-08    49.89
              ...
2023-03-30    57.32
2023-03-31    58.14
2023-04-03    58.60
2023-04-04    57.79
2023-04-05    56.37
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    14.6900
2008-01-03    14.8000
2008-01-04    14.7200
2008-01-07    14.4500
2008-01-08    14.4000
               ...
2021-07-27    77.5700
2021-07-28    78.2200
2021-07-29    79.7499
2021-07-30    80.9900
2021-08-02    82.0000
Name: high, Length: 2810, dtype: float64
Date
2008-01-02    22.3329
2008-01-03    22.0107
2008-01-04    21.8662
2008-01-07    21.4107
2008-01-08    21.5773
               ...
2023-03-30    92.2600
2023-03-31    92.4000
2023-04-03    93.9000
2023-04-04    93.6400
2023-04-05    92.3800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    17.50
2008-01-03    17.15
2008-01-04    16.86
2008-01-07    16.65
2008-01-08    16.55
              ...
2023-03-30    31.58
2023-03-31    31.89
2023-04-03    32.09
2023-04-04    31.94
2023-04-05    30.98
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    65.330
2008-01-03    62.510
2008-01-04    60.380
2008-01-07    59.400
2008-01-08    59.310
               ...
2012-02-29     0.020
2012-03-01     0.020
2012-03-02     0.030
2012-03-05     0.030
2012-03-06     0.026
Name: high, Length: 1053, dtype: float64
Date
2008-01-02     18.02
2008-01-03     17.36
2008-01-04     16.38
2008-01-07     16.29
2008-01-08     16.15
               ...
2023-03-30    102.90
2023-03-31    105.24
2023-04-03    105.74
2023-04-04    105.43
2023-04-05    105.01
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     76.09
2008-01-03     75.75
2008-01-04     75.38
2008-01-07     75.07
2008-01-08     76.42
               ...
2023-03-30    225.03
2023-03-31    229.72
2023-04-03    231.77
2023-04-04    232.00
2023-04-05    234.66
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     62.55
2008-01-03     62.40
2008-01-04     61.69
2008-01-07     60.92
2008-01-08     58.44
               ...
2023-03-30    196.04
2023-03-31    196.46
2023-04-03    200.14
2023-04-04    199.25
2023-04-05    198.46
Name: high, Length: 3842, dtype: float64
Date
2015-05-06    14.000
2015-05-07    15.010
2015-05-08    19.480
2015-05-11    21.700
2015-05-12    21.890
               ...
2023-03-30     2.240
2023-03-31     2.120
2023-04-03     2.120
2023-04-04     2.110
2023-04-05     2.149
Name: high, Length: 1994, dtype: float64
Date
2008-01-02     88.65
2008-01-03     89.19
2008-01-04     88.45
2008-01-07     87.37
2008-01-08     88.30
               ...
2023-03-30    351.70
2023-03-31    355.63
2023-04-03    358.99
2023-04-04    361.43
2023-04-05    356.53
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    21.6300
2008-01-03    21.8500
2008-01-04    20.9399
2008-01-07    20.5700
2008-01-08    20.4200
               ...
2023-03-30    57.1400
2023-03-31    56.8400
2023-04-03    57.1000
2023-04-04    56.8800
2023-04-05    55.6100
Name: high, Length: 3842, dtype: float64

 56%|█████▌    | 487/866 [00:03<00:03, 116.09it/s]

Date
2021-10-13    3.3400
2021-10-14    3.3000
2021-10-15    3.5000
2021-10-18    3.3500
2021-10-19    3.2700
               ...
2022-10-03    1.0900
2022-10-04    0.8480
2022-10-05    0.8300
2022-10-06    0.8899
2022-10-07    0.8798
Name: high, Length: 249, dtype: float64
Date
2008-01-02    31.870
2008-01-03    31.110
2008-01-04    30.761
2008-01-07    30.690
2008-01-08    30.560
               ...
2017-03-06    65.540
2017-03-07    65.760
2017-03-08    65.440
2017-03-09    65.440
2017-03-10    65.440
Name: high, Length: 2314, dtype: float64
Date
2008-01-02     53.78
2008-01-03     53.16
2008-01-04     52.83
2008-01-07     54.73
2008-01-08     57.22
               ...
2023-03-30    341.31
2023-03-31    343.65
2023-04-03    351.54
2023-04-04    359.00
2023-04-05    364.84
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    73.88
2008-01-03    74.58
2008-01-04    71.85
2008-01-07    71.50
2008-01-08    72.51
              ...
2020-07-27    50.01
2020-07-28    50.00
2020-07-29    50.00
2020-07-30    50.00
2020-07-31    50.00
Name: high, Length: 3168, dtype: float64
Date
2008-01-02    107.200
2008-01-03    108.810
2008-01-04    107.370
2008-01-07    107.940
2008-01-08    108.210
               ...
2023-03-30    475.800
2023-03-31    475.350
2023-04-03    487.900
2023-04-04    490.630
2023-04-05    493.825
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    58.11
2008-01-03    57.00
2008-01-04    55.60
2008-01-07    56.33
2008-01-08    56.53
              ...
2023-03-30    22.64
2023-03-31    22.48
2023-04-03    22.92
2023-04-04    22.90
2023-04-05    21.44
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    40.860
2008-01-03    40.580
2008-01-04    40.240
2008-01-07    41.200
2008-01-08    41.410
               ...
2023-03-30    53.320
2023-03-31    53.630
2023-04-03    53.210
2023-04-04    53.210
2023-04-05    54.905
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    28.497
2008-01-03    28.263
2008-01-04    28.163
2008-01-07    28.450
2008-01-08    29.277
               ...
2015-06-05    71.600
2015-06-08    71.260
2015-06-09    71.550
2015-06-10    71.750
2015-06-11    71.810
Name: high, Length: 1874, dtype: float64
Date
2008-01-02     22.79
2008-01-03     22.48
2008-01-04     21.52
2008-01-07     21.40
2008-01-08     21.58
               ...
2023-03-30    195.20
2023-03-31    200.23
2023-04-03    204.23
2023-04-04    204.28
2023-04-05    203.35
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     43.80
2008-01-03     42.76
2008-01-04     41.32
2008-01-07     41.08
2008-01-08     41.57
               ...
2023-03-30    532.76
2023-03-31    533.09
2023-04-03    526.21
2023-04-04    524.11
2023-04-05    499.90
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     40.94
2008-01-03     40.25
2008-01-04     37.91
2008-01-07     37.70
2008-01-08     38.25
               ...
2023-03-30    128.97
2023-03-31    131.21
2023-04-03    136.86
2023-04-04    141.46
2023-04-05    142.13
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.950
2008-01-03    18.280
2008-01-04    17.120
2008-01-07    16.980
2008-01-08    16.560
               ...
2013-11-22    64.730
2013-11-25    64.745
2013-11-26    65.490
2013-11-27    65.400
2013-11-29    66.160
Name: high, Length: 1490, dtype: float64
Date
2008-01-02     0.1715
2008-01-03     0.1644
2008-01-04     0.1644
2008-01-07     0.1608
2008-01-08     0.1572
               ...
2017-03-07    43.4000
2017-03-08    43.4000
2017-03-09    43.4000
2017-03-10    44.5250
2017-03-13    43.9800
Name: high, Length: 1680, dtype: float64
Date
2008-01-02    47.02
2008-01-03    46.53
2008-01-04    46.07
2008-01-07    45.38
2008-01-08    45.48
              ...
2018-05-17    23.63
2018-05-18    23.49
2018-05-21    23.39
2018-05-22    23.64
2018-05-23    23.49
Name: high, Length: 2617, dtype: float64
Date
2008-01-02    41.5700
2008-01-03    41.1600
2008-01-04    40.9800
2008-01-07    41.8800
2008-01-08    42.0000
               ...
2023-03-30     2.6600
2023-03-31     2.7300
2023-04-03     2.6963
2023-04-04     2.6054
2023-04-05     2.4600
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    12.30
2008-01-03    12.00
2008-01-04    11.58
2008-01-07    11.88
2008-01-08    11.91
              ...
2023-03-30    32.17
2023-03-31    32.57
2023-04-03    32.33
2023-04-04    32.03
2023-04-05    31.61
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.95
2008-01-03    47.40
2008-01-04    46.50
2008-01-07    45.60
2008-01-08    46.50
              ...
2017-10-25    53.12
2017-10-26    53.16
2017-10-27    52.86
2017-10-30    52.78
2017-10-31    53.63
Name: high, Length: 2477, dtype: float64
Date
2008-01-02    105.38
2008-01-03    101.14
2008-01-04     94.38
2008-01-07     89.29
2008-01-08     89.07
               ...
2023-03-30     55.55
2023-03-31     57.51
2023-04-03     60.30
2023-04-04     58.23
2023-04-05     57.73
Name: high, Length: 3842, dtype: float64
Date
2016-11-01     34.00
2016-11-03     34.00
2016-11-04     34.00
2016-11-07     33.51
2016-11-08     34.00
               ...
2023-03-30    103.36
2023-03-31    104.59
2023-04-03    104.99
2023-04-04    104.50
2023-04-05    104.65
Name: high, Length: 1616, dtype: float64
Date
2008-01-02    34.95
2008-01-03    34.09
2008-01-04    32.54
2008-01-07    31.61
2008-01-08    31.21
              ...
2016-11-21    40.46
2016-11-22    40.45
2016-11-23    40.49
2016-11-25    40.49
2016-11-28    40.50
Name: high, Length: 2244, dtype: float64
Date
2010-04-28    22.25
2010-04-29    23.25
2010-04-30    23.00
2010-05-03    22.95
2010-05-04    22.80
              ...
2023-03-30    93.10
2023-03-31    93.96
2023-04-03    96.53
2023-04-04    95.15
2023-04-05    94.38
Name: high, Length: 3258, dtype: float64
Date
2008-01-02    14.66
2008-01-03    14.64
2008-01-04    14.25
2008-01-07    14.40
2008-01-08    15.04
              ...
2023-03-30    69.76
2023-03-31    70.33
2023-04-03    69.98
2023-04-04    69.64
2023-04-05    69.11
Name: high, Length: 3842, dtype: float64

 59%|█████▉    | 511/866 [00:04<00:03, 105.92it/s]

Date
2008-01-02    25.890
2008-01-03    25.420
2008-01-04    23.100
2008-01-07    22.970
2008-01-08    23.250
               ...
2023-03-30    18.000
2023-03-31    17.640
2023-04-03    19.115
2023-04-04    19.090
2023-04-05    18.680
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    220.29
2008-01-03    215.05
2008-01-04    209.20
2008-01-07    201.99
2008-01-08    207.70
               ...
2023-03-30    362.59
2023-03-31    363.65
2023-04-03    366.66
2023-04-04    369.12
2023-04-05    365.13
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     43.75
2008-01-03     43.59
2008-01-04     40.42
2008-01-07     40.84
2008-01-08     41.84
               ...
2023-03-30    149.23
2023-03-31    151.17
2023-04-03    152.71
2023-04-04    150.21
2023-04-05    150.21
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    77.2670
2008-01-03    76.8782
2008-01-04    73.4328
2008-01-07    71.5751
2008-01-08    73.5625
               ...
2023-03-30    10.2900
2023-03-31    10.6100
2023-04-03    10.8200
2023-04-04    10.7300
2023-04-05    10.3800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     34.1049
2008-01-03     33.3948
2008-01-04     32.8448
2008-01-07     32.3947
2008-01-08     32.8948
                ...
2023-03-30    164.5000
2023-03-31    166.6800
2023-04-03    166.0400
2023-04-04    165.3900
2023-04-05    163.8900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.9719
2008-01-03    18.5589
2008-01-04    17.7329
2008-01-07    17.9174
2008-01-08    17.9350
               ...
2023-03-30    49.3700
2023-03-31    49.8000
2023-04-03    50.0400
2023-04-04    50.0800
2023-04-05    48.3400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    19.060
2008-01-03    18.640
2008-01-04    18.090
2008-01-07    17.900
2008-01-08    18.120
               ...
2023-03-30    17.970
2023-03-31    18.440
2023-04-03    18.410
2023-04-04    18.160
2023-04-05    17.995
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    19.75
2008-01-03    19.16
2008-01-04    18.20
2008-01-07    18.15
2008-01-08    18.07
              ...
2023-03-30     9.08
2023-03-31     9.27
2023-04-03     9.43
2023-04-04     9.66
2023-04-05    10.08
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     59.48
2008-01-03     58.80
2008-01-04     57.47
2008-01-07     58.25
2008-01-08     58.64
               ...
2023-03-30    278.40
2023-03-31    280.64
2023-04-03    282.87
2023-04-04    283.42
2023-04-05    284.98
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    31.49
2008-01-03    30.75
2008-01-04    30.43
2008-01-07    30.43
2008-01-08    30.22
              ...
2023-03-30    83.09
2023-03-31    83.92
2023-04-03    84.33
2023-04-04    83.06
2023-04-05    80.99
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     65.69
2008-01-03     64.11
2008-01-04     64.09
2008-01-07     64.97
2008-01-08     67.09
               ...
2023-03-30    358.56
2023-03-31    361.50
2023-04-03    365.01
2023-04-04    364.07
2023-04-05    373.86
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     36.08
2008-01-03     35.46
2008-01-04     34.00
2008-01-07     34.65
2008-01-08     35.45
               ...
2023-03-30    303.96
2023-03-31    306.21
2023-04-03    305.83
2023-04-04    310.29
2023-04-05    304.04
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    21.3166
2008-01-03    21.1137
2008-01-04    21.0614
2008-01-07    21.0156
2008-01-08    21.1334
               ...
2023-03-30    70.2200
2023-03-31    70.0200
2023-04-03    70.6100
2023-04-04    70.6500
2023-04-05    71.6000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    55.08
2008-01-03    54.11
2008-01-04    53.06
2008-01-07    53.22
2008-01-08    53.19
              ...
2021-11-26    59.04
2021-11-29    59.10
2021-11-30    59.13
2021-12-01    59.16
2021-12-02    59.07
Name: high, Length: 3506, dtype: float64
Date
2008-01-02    50.35
2008-01-03    49.98
2008-01-04    49.72
2008-01-07    50.24
2008-01-08    50.27
              ...
2023-03-30    79.85
2023-03-31    80.63
2023-04-03    80.35
2023-04-04    80.35
2023-04-05    80.46
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    36.18
2008-01-03    35.31
2008-01-04    35.69
2008-01-07    34.99
2008-01-08    34.68
              ...
2011-05-25    63.40
2011-05-26    64.07
2011-05-27    65.13
2011-05-31    66.06
2011-06-01    66.54
Name: high, Length: 861, dtype: float64
Date
2008-01-02    53.71
2008-01-03    53.25
2008-01-04    51.53
2008-01-07    50.92
2008-01-08    51.34
              ...
2008-12-24    11.59
2008-12-26    11.82
2008-12-29    11.70
2008-12-30    11.38
2008-12-31    12.08
Name: high, Length: 253, dtype: float64
Date
2008-01-02    54.7253
2008-01-03    53.5490
2008-01-04    52.9519
2008-01-07    53.6397
2008-01-08    53.5400
               ...
2023-03-30    57.8500
2023-03-31    57.9900
2023-04-03    58.8300
2023-04-04    58.7700
2023-04-05    58.7600
Name: high, Length: 3842, dtype: float64
Date
2012-05-18     45.00
2012-05-21     36.66
2012-05-22     33.59
2012-05-23     32.50
2012-05-24     33.21
               ...
2023-03-30    208.09
2023-03-31    212.17
2023-04-03    213.49
2023-04-04    216.24
2023-04-05    215.19
Name: high, Length: 2738, dtype: float64

 62%|██████▏   | 534/866 [00:04<00:03, 105.60it/s]

Date
2008-01-02    37.40
2008-01-03    36.34
2008-01-04    35.31
2008-01-07    33.64
2008-01-08    33.33
              ...
2011-02-22    47.98
2011-02-23    47.97
2011-02-24    47.97
2011-02-25    47.98
2011-02-28    47.98
Name: high, Length: 796, dtype: float64
Date
2008-01-02    84.92
2008-01-03    82.27
2008-01-04    76.50
2008-01-07    74.35
2008-01-08    73.78
              ...
2023-03-30    43.92
2023-03-31    44.64
2023-04-03    44.99
2023-04-04    44.63
2023-04-05    43.94
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     74.62
2008-01-03     74.85
2008-01-04     72.90
2008-01-07     73.15
2008-01-08     73.32
               ...
2023-03-30     98.56
2023-03-31    100.41
2023-04-03    100.93
2023-04-04     99.39
2023-04-05     95.08
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    43.97
2008-01-03    42.65
2008-01-04    42.00
2008-01-07    42.64
2008-01-08    42.40
              ...
2013-05-07    54.67
2013-05-08    55.00
2013-05-09    55.16
2013-05-10    55.69
2013-05-13    55.71
Name: high, Length: 1350, dtype: float64
Date
2008-01-02    52.500
2008-01-03    53.235
2008-01-04    54.155
2008-01-07    54.625
2008-01-08    54.350
               ...
2012-03-26    69.510
2012-03-27    69.640
2012-03-28    72.500
2012-03-29    71.500
2012-03-30    70.930
Name: high, Length: 1071, dtype: float64
Date
2008-01-02    26.67
2008-01-03    26.05
2008-01-04    25.40
2008-01-07    25.48
2008-01-08    25.17
              ...
2011-06-28     7.73
2011-06-29     7.81
2011-06-30     7.98
2011-07-01     8.10
2011-07-05     8.11
Name: high, Length: 884, dtype: float64
Date
2011-09-30    7.45
2011-10-03    7.08
2011-10-04    6.87
2011-10-05    6.86
2011-10-06    6.88
              ...
2016-02-08    2.17
2016-02-09    2.13
2016-02-10    2.05
2016-02-11    2.04
2016-02-12    1.98
Name: high, Length: 1099, dtype: float64
Date
2009-02-11    27.07
2009-02-12    27.19
2009-02-13    27.19
2009-02-17    27.63
2009-02-18    28.22
              ...
2017-06-08    89.99
2017-06-09    89.99
2017-06-12    89.99
2017-06-13    89.99
2017-06-14    90.00
Name: high, Length: 2100, dtype: float64
Date
2008-01-02    37.780
2008-01-03    37.370
2008-01-04    37.070
2008-01-07    37.260
2008-01-08    37.740
               ...
2023-03-30    81.840
2023-03-31    83.440
2023-04-03    84.550
2023-04-04    85.300
2023-04-05    86.232
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     12.97
2008-01-03     12.47
2008-01-04     12.33
2008-01-07     12.26
2008-01-08     12.11
               ...
2023-03-30    392.68
2023-03-31    392.07
2023-04-03    390.70
2023-04-04    399.78
2023-04-05    387.87
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    132.540
2008-01-03    127.560
2008-01-04    123.290
2008-01-07    121.070
2008-01-08    116.000
               ...
2023-03-30    356.830
2023-03-31    355.460
2023-04-03    360.860
2023-04-04    356.760
2023-04-05    345.155
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     27.37
2008-01-03     27.70
2008-01-04     27.31
2008-01-07     27.21
2008-01-08     27.20
               ...
2023-03-30    165.77
2023-03-31    166.64
2023-04-03    169.34
2023-04-04    169.34
2023-04-05    169.53
Name: high, Length: 3842, dtype: float64
Date
2013-10-31    14.760
2013-11-01    14.390
2013-11-04    14.490
2013-11-05    14.040
2013-11-06    13.925
               ...
2023-03-30    31.650
2023-03-31    32.130
2023-04-03    32.320
2023-04-04    31.970
2023-04-05    31.640
Name: high, Length: 2373, dtype: float64
Date
2008-01-02     84.76
2008-01-03     83.48
2008-01-04     82.66
2008-01-07     82.15
2008-01-08     82.07
               ...
2023-03-30    103.92
2023-03-31    105.19
2023-04-03    105.84
2023-04-04    104.90
2023-04-05    102.77
Name: high, Length: 3842, dtype: float64
Date
2022-06-17    20.0000
2022-06-21    31.0000
2022-06-22    24.5000
2022-06-23    24.7500
2022-06-24    29.9900
               ...
2023-03-30     7.6600
2023-03-31     7.2901
2023-04-03     7.7850
2023-04-04     7.4200
2023-04-05     7.1099
Name: high, Length: 163, dtype: float64
Date
2008-01-02    44.9802
2008-01-03    43.8798
2008-01-04    42.8802
2008-01-07    42.1200
2008-01-08    43.6500
               ...
2023-03-30    52.6500
2023-03-31    54.1700
2023-04-03    54.5200
2023-04-04    53.7500
2023-04-05    53.7300
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    23.4393
2008-01-03    23.4331
2008-01-04    23.4238
2008-01-07    23.8710
2008-01-08    24.4971
               ...
2023-03-30    44.8300
2023-03-31    44.7200
2023-04-03    45.3300
2023-04-04    44.9100
2023-04-05    44.7000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     38.98
2008-01-03     39.00
2008-01-04     38.36
2008-01-07     37.88
2008-01-08     39.62
               ...
2023-03-30    266.62
2023-03-31    269.00
2023-04-03    274.46
2023-04-04    273.20
2023-04-05    285.18
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.36
2008-01-03    27.05
2008-01-04    26.61
2008-01-07    26.46
2008-01-08    26.24
              ...
2013-12-02    38.67
2013-12-03    38.64
2013-12-04    38.67
2013-12-05    38.70
2013-12-06    38.68
Name: high, Length: 1495, dtype: float64
Date
2021-03-16    9.80
2021-03-17    9.80
2021-03-18    9.77
2021-03-19    9.83
2021-03-22    9.73
              ...
2023-01-23    0.00
2023-01-24    0.00
2023-01-25    0.00
2023-01-26    0.00
2023-01-27    0.00
Name: high, Length: 432, dtype: float64
Date
2008-01-02    96.18
2008-01-03    99.85
2008-01-04    97.00
2008-01-07    98.05
2008-01-08    95.00
              ...
2023-03-30    46.25
2023-03-31    46.04
2023-04-03    47.30
2023-04-04    46.50
2023-04-05    46.34
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    16.15
2008-01-03    16.20
2008-01-04    15.70
2008-01-07    15.13
2008-01-08    15.25
              ...
2010-12-28     9.05
2010-12-29     9.02
2010-12-30     9.02
2010-12-31     9.09
2011-01-03     9.23
Name: high, Length: 758, dtype: float64
Date
2011-06-23     39.00
2011-06-24     39.15
2011-06-27     37.95
2011-06-28     39.99
2011-06-29     40.97
               ...
2023-03-30    135.27
2023-03-31    134.90
2023-04-03    138.83
2023-04-04    134.47
2023-04-05    133.40
Name: high, Length: 2966, dtype: float64

 63%|██████▎   | 545/866 [00:04<00:03, 105.24it/s]

Date
2008-01-02     22.36
2008-01-03     21.39
2008-01-04     20.67
2008-01-07     20.40
2008-01-08     18.98
               ...
2023-03-30    504.57
2023-03-31    502.82
2023-04-03    500.81
2023-04-04    496.73
2023-04-05    479.24
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     58.51
2008-01-03     57.94
2008-01-04     57.45
2008-01-07     58.42
2008-01-08     60.69
               ...
2023-03-30    106.20
2023-03-31    106.53
2023-04-03    109.48
2023-04-04    109.34
2023-04-05    112.34
Name: high, Length: 3842, dtype: float64
Date
2018-12-07     22.7500
2018-12-10     19.4388
2018-12-11     20.6600
2018-12-12     19.4800
2018-12-13     19.2900
                ...
2023-03-30    151.2500
2023-03-31    154.9800
2023-04-03    159.9900
2023-04-04    159.6800
2023-04-05    156.8700
Name: high, Length: 1089, dtype: float64
Date
2008-01-02    63.0469
2008-01-03    64.3394
2008-01-04    62.4362
2008-01-07    61.3269
2008-01-08    61.6628
               ...
2023-03-30    24.0400
2023-03-31    24.2600
2023-04-03    26.6000
2023-04-04    26.6800
2023-04-05    25.7650
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    53.40
2008-01-03    51.89
2008-01-04    50.69
2008-01-07    49.84
2008-01-08    48.97
              ...
2023-03-30    87.61
2023-03-31    87.87
2023-04-03    88.32
2023-04-04    87.20
2023-04-05    84.53
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     37.95
2008-01-03     33.85
2008-01-04     31.00
2008-01-07     29.75
2008-01-08     28.15
               ...
2023-03-30    556.54
2023-03-31    559.79
2023-04-03    558.54
2023-04-04    563.06
2023-04-05    550.99
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     35.96
2008-01-03     35.65
2008-01-04     35.20
2008-01-07     34.80
2008-01-08     34.71
               ...
2023-03-30    284.46
2023-03-31    289.27
2023-04-03    288.27
2023-04-04    290.45
2023-04-05    287.15
Name: high, Length: 3842, dtype: float64
Date
2008-01-02      9.3266
2008-01-03      9.3555
2008-01-04      9.0668
2008-01-07      8.7376
2008-01-08      8.8069
                ...
2023-03-30    282.1600
2023-03-31    286.2400
2023-04-03    286.2100
2023-04-04    286.2100
2023-04-05    286.2100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     82.17
2008-01-03     80.76
2008-01-04     77.89
2008-01-07     77.88
2008-01-08     77.03
               ...
2023-03-30    124.04
2023-03-31    121.44
2023-04-03    121.29
2023-04-04    120.32
2023-04-05    117.62
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     6.6454
2008-01-03     6.5756
2008-01-04     6.4560
2008-01-07     6.4037
2008-01-08     6.3663
               ...
2023-03-30    39.4300
2023-03-31    38.8500
2023-04-03    38.8700
2023-04-04    39.1800
2023-04-05    36.7700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     115.0950
2008-01-03     113.5500
2008-01-04     111.2800
2008-01-07     113.7400
2008-01-08     112.9000
                ...
2023-03-30    1517.5800
2023-03-31    1532.0400
2023-04-03    1538.2900
2023-04-04    1541.8199
2023-04-05    1542.2800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    22.72
2008-01-03    22.06
2008-01-04    20.59
2008-01-07    20.43
2008-01-08    19.64
              ...
2023-03-30    13.35
2023-03-31    13.46
2023-04-03    13.53
2023-04-04    13.53
2023-04-05    13.29
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.6344
2008-01-03    44.4678
2008-01-04    43.5253
2008-01-07    42.5361
2008-01-08    41.8268
               ...
2023-03-30    17.0400
2023-03-31    17.1200
2023-04-03    16.7600
2023-04-04    16.8700
2023-04-05    14.9400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     7.28
2008-01-03     7.07
2008-01-04     6.91
2008-01-07     6.54
2008-01-08     6.47
              ...
2023-03-30    64.10
2023-03-31    61.66
2023-04-03    59.81
2023-04-04    60.10
2023-04-05    57.10
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    75.3109
2008-01-03    73.4024
2008-01-04    71.8912
2008-01-07    70.7945
2008-01-08    70.5527
               ...
2023-03-30    37.1500
2023-03-31    37.0600
2023-04-03    40.1300
2023-04-04    40.0000
2023-04-05    39.1700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    31.43
2008-01-03    31.44
2008-01-04    30.80
2008-01-07    30.01
2008-01-08    29.49
              ...
2015-06-25    49.08
2015-06-26    48.53
2015-06-29    47.83
2015-06-30    48.28
2015-07-01    48.74
Name: high, Length: 1888, dtype: float64
Date
2008-01-02    32.660
2008-01-03    31.660
2008-01-04    28.900
2008-01-07    28.180
2008-01-08    29.750
               ...
2016-10-25     3.420
2016-10-26     3.410
2016-10-27     3.380
2016-10-28     3.360
2016-10-31     3.425
Name: high, Length: 2225, dtype: float64
Date
2008-01-02     26.83
2008-01-03     26.15
2008-01-04     26.80
2008-01-07     24.74
2008-01-08     25.50
               ...
2021-08-20    102.67
2021-08-23    108.61
2021-08-24    107.14
2021-08-25    105.58
2021-08-26    103.14
Name: high, Length: 3438, dtype: float64
Date
2008-01-02    14.2095
2008-01-03    14.0500
2008-01-04    13.8100
2008-01-07    14.1600
2008-01-08    14.5000
               ...
2020-11-12     0.0850
2020-11-13     0.0820
2020-11-16     0.0800
2020-11-17     0.0810
2020-11-18     0.0790
Name: high, Length: 3245, dtype: float64
Date
2014-04-17    17.380
2014-04-21    17.370
2014-04-22    17.000
2014-04-23    16.850
2014-04-24    16.860
               ...
2023-03-30    16.040
2023-03-31    16.010
2023-04-03    16.190
2023-04-04    16.465
2023-04-05    15.915
Name: high, Length: 2258, dtype: float64
Date
2008-01-02    80.24
2008-01-03    80.68
2008-01-04    80.07
2008-01-07    79.44
2008-01-08    80.28
              ...
2020-10-12     4.20
2020-10-13     4.20
2020-10-14     4.20
2020-10-15     4.20
2020-10-16     4.20
Name: high, Length: 3222, dtype: float64

 64%|██████▍   | 556/866 [00:04<00:03, 97.92it/s]

Date
2008-01-02     28.27
2008-01-03     28.42
2008-01-04     28.03
2008-01-07     27.24
2008-01-08     27.12
               ...
2023-03-30    122.33
2023-03-31    122.51
2023-04-03    135.62
2023-04-04    133.78
2023-04-05    127.55
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    16.22
2008-01-03    15.77
2008-01-04    15.20
2008-01-07    15.49
2008-01-08    15.36
              ...
2008-12-24     1.70
2008-12-26     1.72
2008-12-29     1.71
2008-12-30     1.81
2008-12-31     1.94
Name: high, Length: 253, dtype: float64
Date
2013-01-18    25.490
2013-01-22    27.355
2013-01-23    28.860
2013-01-24    27.900
2013-01-25    27.900
               ...
2023-03-30    13.490
2023-03-31    13.460
2023-04-03    13.420
2023-04-04    13.530
2023-04-05    13.240
Name: high, Length: 2571, dtype: float64
Date
2008-01-02    25.080
2008-01-03    24.415
2008-01-04    24.460
2008-01-07    23.390
2008-01-08    22.680
               ...
2023-03-30    23.200
2023-03-31    23.780
2023-04-03    23.830
2023-04-04    23.590
2023-04-05    23.030
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    49.900
2008-01-03    48.530
2008-01-04    46.690
2008-01-07    45.800
2008-01-08    46.270
               ...
2023-03-30    54.790
2023-03-31    54.700
2023-04-03    54.600
2023-04-04    54.940
2023-04-05    55.085
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     58.17
2008-01-03     56.53
2008-01-04     54.55
2008-01-07     54.38
2008-01-08     54.10
               ...
2023-03-30    219.34
2023-03-31    222.69
2023-04-03    222.17
2023-04-04    220.00
2023-04-05    214.02
Name: high, Length: 3842, dtype: float64
Date
2021-06-09    26.0000
2021-06-10    25.4502
2021-06-11    25.2300
2021-06-14    25.4300
2021-06-15    24.8741
               ...
2023-03-30    40.2800
2023-03-31    39.6900
2023-04-03    41.4550
2023-04-04    40.8400
2023-04-05    39.5100
Name: high, Length: 460, dtype: float64
Date
2008-01-02    68.14
2008-01-03    67.87
2008-01-04    69.40
2008-01-07    73.75
2008-01-08    73.16
              ...
2023-03-30    77.02
2023-03-31    77.12
2023-04-03    77.05
2023-04-04    77.69
2023-04-05    78.95
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    52.990
2008-01-03    55.030
2008-01-04    53.680
2008-01-07    53.270
2008-01-08    54.980
               ...
2023-03-30    48.890
2023-03-31    49.040
2023-04-03    49.700
2023-04-04    51.540
2023-04-05    52.755
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     27.25
2008-01-03     28.30
2008-01-04     26.57
2008-01-07     24.95
2008-01-08     24.87
               ...
2023-03-30    343.29
2023-03-31    345.84
2023-04-03    348.58
2023-04-04    349.80
2023-04-05    345.43
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    53.69
2008-01-03    54.98
2008-01-04    53.74
2008-01-07    53.26
2008-01-08    52.36
              ...
2019-02-06    18.32
2019-02-07    17.86
2019-02-08    16.86
2019-02-11    16.62
2019-02-12    17.20
Name: high, Length: 2798, dtype: float64

 66%|██████▋   | 575/866 [00:04<00:03, 75.97it/s]

Date
2008-01-02    19.2201
2008-01-03    19.0900
2008-01-04    18.9300
2008-01-07    19.1501
2008-01-08    19.2700
               ...
2023-03-30    28.0300
2023-03-31    28.0300
2023-04-03    28.0600
2023-04-04    27.8700
2023-04-05    28.7000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     64.70
2008-01-03     63.75
2008-01-04     62.88
2008-01-07     62.32
2008-01-08     62.98
               ...
2023-03-30    121.44
2023-03-31    122.71
2023-04-03    122.85
2023-04-04    123.95
2023-04-05    123.33
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    6.75
2008-01-03    6.69
2008-01-04    6.47
2008-01-07    6.80
2008-01-08    6.64
              ...
2023-03-30    0.67
2023-03-31    0.71
2023-04-03    0.75
2023-04-04    0.74
2023-04-05    0.77
Name: high, Length: 3840, dtype: float64
Date
2008-01-02    16.300
2008-01-03    16.330
2008-01-04    16.060
2008-01-07    15.790
2008-01-08    16.030
               ...
2022-11-04    22.295
2022-11-07    22.190
2022-11-08    22.030
2022-11-09    23.120
2022-11-10    23.690
Name: high, Length: 3743, dtype: float64
Date
2011-01-26    25.78
2011-01-27    25.85
2011-01-28    25.40
2011-01-31    26.50
2011-02-01    26.63
              ...
2022-10-06    27.95
2022-10-07    27.97
2022-10-10    27.99
2022-10-11    28.00
2022-10-12    27.98
Name: high, Length: 2949, dtype: float64
Date
2008-01-02     71.4217
2008-01-03     71.7469
2008-01-04     71.9999
2008-01-07     71.6656
2008-01-08     71.0332
                ...
2023-03-30    462.9200
2023-03-31    463.3200
2023-04-03    471.5500
2023-04-04    471.9400
2023-04-05    473.6000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    75.5782
2008-01-03    77.7970
2008-01-04    76.2479
2008-01-07    74.9586
2008-01-08    74.6288
               ...
2023-03-30    18.7400
2023-03-31    18.5600
2023-04-03    19.7800
2023-04-04    19.1100
2023-04-05    18.4500
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    6.85
2008-01-03    6.67
2008-01-04    6.54
2008-01-07    6.55
2008-01-08    6.56
              ...
2011-04-20    6.10
2011-04-21    6.09
2011-04-25    6.09
2011-04-26    6.10
2011-04-27    6.10
Name: high, Length: 837, dtype: float64
Date
2012-06-29     24.75
2012-07-02     25.20
2012-07-03     25.32
2012-07-05     26.26
2012-07-06     26.12
               ...
2023-03-30    443.84
2023-03-31    465.41
2023-04-03    465.89
2023-04-04    482.33
2023-04-05    476.00
Name: high, Length: 2709, dtype: float64
Date
2008-01-02    43.96
2008-01-03    42.94
2008-01-04    41.89
2008-01-07    41.82
2008-01-08    40.73
              ...
2023-03-30    33.65
2023-03-31    34.33
2023-04-03    34.39
2023-04-04    33.85
2023-04-05    34.45
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     50.57
2008-01-03     49.67
2008-01-04     48.46
2008-01-07     48.38
2008-01-08     48.54
               ...
2023-03-30    210.64
2023-03-31    212.67
2023-04-03    212.04
2023-04-04    210.38
2023-04-05    205.70
Name: high, Length: 3842, dtype: float64
Date
2012-03-08    14.40
2012-03-09    14.60
2012-03-12    14.66
2012-03-13    14.42
2012-03-14    14.18
              ...
2018-07-24    18.56
2018-07-25    18.60
2018-07-26    19.08
2018-07-27    18.98
2018-07-30    19.88
Name: high, Length: 1609, dtype: float64
Date
2008-01-02    25.22
2008-01-03    25.37
2008-01-04    25.27
2008-01-07    24.00
2008-01-08    23.36
              ...
2023-03-30    62.73
2023-03-31    63.91
2023-04-03    64.44
2023-04-04    64.37
2023-04-05    63.01
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    76.86
2008-01-03    77.13
2008-01-04    76.00
2008-01-07    74.65
2008-01-08    74.89
              ...
2023-03-30    88.52
2023-03-31    88.26
2023-04-03    88.84
2023-04-04    88.07
2023-04-05    87.90
Name: high, Length: 3842, dtype: float64
Date
2021-12-09    12.240
2021-12-10    11.850
2021-12-13    11.290
2021-12-14    10.580
2021-12-15    10.290
               ...
2023-03-30     4.830
2023-03-31     4.925
2023-04-03     4.700
2023-04-04     4.600
2023-04-05     4.585
Name: high, Length: 332, dtype: float64

 68%|██████▊   | 593/866 [00:05<00:03, 77.22it/s]

Date
2008-01-02     59.95
2008-01-03     59.07
2008-01-04     56.25
2008-01-07     55.26
2008-01-08     55.06
               ...
2023-03-30    152.40
2023-03-31    154.99
2023-04-03    156.33
2023-04-04    153.97
2023-04-05    145.74
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     34.25
2008-01-03     33.86
2008-01-04     31.93
2008-01-07     30.45
2008-01-08     29.29
               ...
2023-03-30    274.99
2023-03-31    278.34
2023-04-03    280.00
2023-04-04    280.00
2023-04-05    269.98
Name: high, Length: 3842, dtype: float64
Date
2015-06-17    17.84
2015-06-18    15.38
2015-06-19    15.09
2015-06-22    15.00
2015-06-23    15.00
              ...
2017-07-18     2.42
2017-07-19     2.41
2017-07-20     2.41
2017-07-21     2.41
2017-07-24     2.44
Name: high, Length: 530, dtype: float64
Date
2008-01-02     520.0000
2008-01-03     519.0000
2008-01-04     510.0000
2008-01-07     485.9700
2008-01-08     484.0000
                ...
2023-03-30    5480.9702
2023-03-31    5586.3301
2023-04-03    5613.9199
2023-04-04    5620.0000
2023-04-05    5570.0000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    25.94
2008-01-03    25.51
2008-01-04    24.55
2008-01-07    24.26
2008-01-08    23.76
              ...
2023-03-30    12.36
2023-03-31    12.46
2023-04-03    12.56
2023-04-04    12.56
2023-04-05    12.15
Name: high, Length: 3842, dtype: float64
Date
2013-06-19    16.030
2013-06-20    16.300
2013-06-21    15.980
2013-06-24    15.790
2013-06-25    15.670
               ...
2023-03-30    17.295
2023-03-31    17.445
2023-04-03    17.620
2023-04-04    17.850
2023-04-05    17.485
Name: high, Length: 2467, dtype: float64
Date
2013-06-19    16.25
2013-06-20    16.37
2013-06-21    15.80
2013-06-24    15.84
2013-06-25    15.74
              ...
2023-03-30    17.17
2023-03-31    17.29
2023-04-03    17.48
2023-04-04    17.66
2023-04-05    17.35
Name: high, Length: 2467, dtype: float64
Date
2010-08-06     14.08
2010-08-09     14.00
2010-08-10     13.84
2010-08-11     13.38
2010-08-12     12.51
               ...
2023-03-30    184.14
2023-03-31    186.82
2023-04-03    186.00
2023-04-04    182.51
2023-04-05    174.99
Name: high, Length: 3188, dtype: float64
Date
2008-01-02    17.75
2008-01-03    17.81
2008-01-04    17.74
2008-01-07    17.40
2008-01-08    16.98
              ...
2023-03-30    38.54
2023-03-31    38.90
2023-04-03    38.97
2023-04-04    38.85
2023-04-05    39.10
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    87.70
2008-01-03    85.28
2008-01-04    82.85
2008-01-07    80.97
2008-01-08    79.24
              ...
2013-11-06    45.26
2013-11-07    45.68
2013-11-08    46.16
2013-11-11    46.28
2013-11-12    45.83
Name: high, Length: 1478, dtype: float64
Date
2008-01-02    26.680
2008-01-03    25.530
2008-01-04    24.270
2008-01-07    23.690
2008-01-08    23.800
               ...
2023-03-30    62.860
2023-03-31    63.360
2023-04-03    63.400
2023-04-04    62.990
2023-04-05    63.105
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     23.0102
2008-01-03     22.5900
2008-01-04     22.0500
2008-01-07     22.4801
2008-01-08     22.4199
                ...
2023-03-30    335.4900
2023-03-31    341.3400
2023-04-03    340.9000
2023-04-04    335.6600
2023-04-05    326.9800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    14.45
2008-01-03    13.65
2008-01-04    12.65
2008-01-07    12.53
2008-01-08    12.76
              ...
2023-03-30    45.20
2023-03-31    45.20
2023-04-03    45.46
2023-04-04    45.14
2023-04-05    43.55
Name: high, Length: 3842, dtype: float64
Date
2021-05-14    33.2500
2021-05-17    35.0000
2021-05-18    38.4205
2021-05-19    37.7500
2021-05-20    37.7500
               ...
2023-03-30    23.2600
2023-03-31    23.5800
2023-04-03    23.8300
2023-04-04    23.7300
2023-04-05    23.8250
Name: high, Length: 477, dtype: float64
Date
2008-01-02    50.02
2008-01-03    48.95
2008-01-04    46.70
2008-01-07    46.07
2008-01-08    45.42
              ...
2023-03-30    22.55
2023-03-31    22.89
2023-04-03    23.05
2023-04-04    22.94
2023-04-05    22.79
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    39.3518
2008-01-03    39.5794
2008-01-04    39.2467
2008-01-07    38.9490
2008-01-08    39.1854
               ...
2023-03-30    62.8300
2023-03-31    63.5900
2023-04-03    66.0800
2023-04-04    66.1800
2023-04-05    66.0450
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    47.59
2008-01-03    46.90
2008-01-04    46.25
2008-01-07    45.85
2008-01-08    46.31
              ...
2023-03-30    92.83
2023-03-31    94.45
2023-04-03    95.30
2023-04-04    96.20
2023-04-05    94.00
Name: high, Length: 3841, dtype: float64

 70%|███████   | 609/866 [00:05<00:03, 76.34it/s]

Date
2008-01-02    20.66
2008-01-03    19.96
2008-01-04    19.04
2008-01-07    18.76
2008-01-08    18.99
              ...
2013-10-30    15.27
2013-10-31    15.12
2013-11-01    15.75
2013-11-04    15.73
2013-11-05    15.44
Name: high, Length: 1473, dtype: float64
Date
2008-01-02    90.60
2008-01-03    85.50
2008-01-04    81.30
2008-01-07    79.80
2008-01-08    78.80
              ...
2023-03-30    82.52
2023-03-31    82.55
2023-04-03    82.21
2023-04-04    81.51
2023-04-05    77.88
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    22.820
2008-01-03    23.110
2008-01-04    22.880
2008-01-07    22.480
2008-01-08    22.320
               ...
2023-03-30    91.180
2023-03-31    93.000
2023-04-03    94.000
2023-04-04    94.020
2023-04-05    95.108
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     32.680
2008-01-03     32.430
2008-01-04     31.050
2008-01-07     30.300
2008-01-08     29.310
               ...
2023-03-30    842.760
2023-03-31    850.000
2023-04-03    869.650
2023-04-04    867.460
2023-04-05    868.205
Name: high, Length: 3842, dtype: float64
Date
2020-03-19    46.00
2020-03-20    46.01
2020-03-23    42.00
2020-03-24    40.00
2020-03-25    44.80
              ...
2023-03-30    83.64
2023-03-31    84.47
2023-04-03    84.80
2023-04-04    84.71
2023-04-05    80.45
Name: high, Length: 768, dtype: float64
Date
2008-01-02    76.1162
2008-01-03    77.5358
2008-01-04    76.9795
2008-01-07    75.2912
2008-01-08    74.6101
               ...
2023-03-30    62.8300
2023-03-31    62.9800
2023-04-03    66.4700
2023-04-04    65.8800
2023-04-05    65.1800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.18
2008-01-03    26.45
2008-01-04    25.75
2008-01-07    25.31
2008-01-08    25.09
              ...
2023-03-30    21.83
2023-03-31    22.35
2023-04-03    22.44
2023-04-04    21.96
2023-04-05    21.40
Name: high, Length: 3842, dtype: float64
Date
2014-04-15     17.920
2014-04-16     16.090
2014-04-17     16.550
2014-04-21     16.590
2014-04-22     16.689
               ...
2023-03-30    303.765
2023-03-31    306.100
2023-04-03    301.960
2023-04-04    300.750
2023-04-05    293.260
Name: high, Length: 2260, dtype: float64
Date
2008-01-02     36.25
2008-01-03     35.89
2008-01-04     34.75
2008-01-07     34.80
2008-01-08     34.77
               ...
2023-03-30    117.93
2023-03-31    115.12
2023-04-03    112.76
2023-04-04    112.32
2023-04-05    110.15
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    18.12
2008-01-03    17.67
2008-01-04    17.24
2008-01-07    17.34
2008-01-08    17.17
              ...
2022-03-29    21.66
2022-03-30    21.34
2022-03-31    20.49
2022-04-01    20.39
2022-04-04    19.41
Name: high, Length: 3590, dtype: float64
Date
2008-01-02    39.46
2008-01-03    39.99
2008-01-04    39.87
2008-01-07    40.39
2008-01-08    41.03
              ...
2010-02-22    38.45
2010-02-23    38.34
2010-02-24    38.24
2010-02-25    38.28
2010-02-26    38.37
Name: high, Length: 543, dtype: float64
Date
2008-01-02    38.1257
2008-01-03    37.9200
2008-01-04    37.5700
2008-01-07    37.3400
2008-01-08    37.6900
               ...
2023-03-30     3.8300
2023-03-31     3.8900
2023-04-03     3.9600
2023-04-04     3.8500
2023-04-05     3.7700
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    55.54
2008-01-03    54.03
2008-01-04    54.35
2008-01-07    51.96
2008-01-08    51.59
              ...
2023-03-30    73.04
2023-03-31    73.32
2023-04-03    73.97
2023-04-04    73.16
2023-04-05    70.46
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    43.68
2008-01-03    43.89
2008-01-04    43.81
2008-01-07    44.11
2008-01-08    44.70
              ...
2023-03-30    15.95
2023-03-31    16.19
2023-04-03    16.38
2023-04-04    16.29
2023-04-05    16.51
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.100
2008-01-03    45.770
2008-01-04    44.300
2008-01-07    42.250
2008-01-08    43.140
               ...
2016-02-12    36.270
2016-02-16    38.340
2016-02-17    39.040
2016-02-18    38.705
2016-02-19    37.870
Name: high, Length: 2048, dtype: float64
Date
2008-01-02     119.00
2008-01-03     116.00
2008-01-04     110.45
2008-01-07     109.00
2008-01-08     109.50
               ...
2018-02-28    1871.60
2018-03-01    1871.60
2018-03-02    1871.60
2018-03-05    1740.00
2018-03-06    1740.00
Name: high, Length: 2562, dtype: float64
Date
2008-01-02    141.00
2008-01-03    142.94
2008-01-04    141.50
2008-01-07    137.54
2008-01-08    129.70
               ...
2016-01-25    231.70
2016-01-26    234.87
2016-01-27    234.87
2016-01-28    234.90
2016-01-29    234.99
Name: high, Length: 2034, dtype: float64

 72%|███████▏  | 626/866 [00:05<00:03, 76.60it/s]

Date
2008-01-02    19.72
2008-01-03    18.89
2008-01-04    18.50
2008-01-07    17.45
2008-01-08    19.50
              ...
2013-04-24    11.79
2013-04-25    12.06
2013-04-26    11.95
2013-04-29    11.99
2013-04-30    11.99
Name: high, Length: 1341, dtype: float64
Date
2019-04-11    39.6100
2019-04-12    40.8800
2019-04-15    39.8600
2019-04-16    39.6999
2019-04-17    41.9500
               ...
2023-03-30    33.3700
2023-03-31    35.3300
2023-04-03    34.8000
2023-04-04    34.4880
2023-04-05    33.5400
Name: high, Length: 1004, dtype: float64
Date
2008-01-02    34.19
2008-01-03    33.76
2008-01-04    33.69
2008-01-07    34.29
2008-01-08    34.23
              ...
2023-03-30    26.73
2023-03-31    26.82
2023-04-03    27.27
2023-04-04    26.80
2023-04-05    26.82
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    35.1253
2008-01-03    34.3956
2008-01-04    32.5064
2008-01-07    31.1569
2008-01-08    31.5468
               ...
2023-03-30    21.8600
2023-03-31    21.9800
2023-04-03    22.2000
2023-04-04    21.8500
2023-04-05    21.8600
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     98.21
2008-01-03     97.58
2008-01-04     98.93
2008-01-07    102.00
2008-01-08    104.60
               ...
2023-03-30     62.03
2023-03-31     62.56
2023-04-03     62.42
2023-04-04     61.64
2023-04-05     63.42
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    59.7184
2008-01-03    59.7784
2008-01-04    59.1885
2008-01-07    58.9786
2008-01-08    58.3187
               ...
2023-03-30    29.4800
2023-03-31    29.7100
2023-04-03    30.0600
2023-04-04    29.4900
2023-04-05    29.3550
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     76.41
2008-01-03     76.84
2008-01-04     76.40
2008-01-07     77.44
2008-01-08     78.99
               ...
2023-03-30    181.33
2023-03-31    182.49
2023-04-03    182.76
2023-04-04    183.36
2023-04-05    184.96
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    23.87
2008-01-03    23.49
2008-01-04    22.59
2008-01-07    22.58
2008-01-08    22.51
              ...
2015-03-05    82.98
2015-03-06    82.97
2015-03-09    82.97
2015-03-10    82.97
2015-03-11    83.00
Name: high, Length: 1810, dtype: float64
Date
2008-01-02    21.8163
2008-01-03    22.1195
2008-01-04    21.9774
2008-01-07    22.1100
2008-01-08    22.6594
               ...
2023-03-30    40.4900
2023-03-31    40.8300
2023-04-03    41.4700
2023-04-04    41.5300
2023-04-05    42.2200
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    68.94
2008-01-03    68.83
2008-01-04    67.66
2008-01-07    67.19
2008-01-08    67.50
              ...
2023-03-30    74.96
2023-03-31    74.66
2023-04-03    74.72
2023-04-04    74.40
2023-04-05    73.12
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     73.59
2008-01-03     73.33
2008-01-04     72.99
2008-01-07     72.67
2008-01-08     73.81
               ...
2023-03-30    147.54
2023-03-31    148.69
2023-04-03    150.07
2023-04-04    151.71
2023-04-05    152.35
Name: high, Length: 3842, dtype: float64
Date
2014-07-21    17.500
2014-07-22    12.850
2014-07-23    12.500
2014-07-24    12.000
2014-07-25    11.820
               ...
2015-12-11     0.202
2015-12-14     0.206
2015-12-15     0.200
2015-12-16     0.200
2015-12-17     0.180
Name: high, Length: 358, dtype: float64
Date
2008-01-02     19.1200
2008-01-03     18.7900
2008-01-04     19.2200
2008-01-07     19.1700
2008-01-08     19.2500
                ...
2023-03-30    145.0000
2023-03-31    144.8400
2023-04-03    145.4762
2023-04-04    145.4600
2023-04-05    146.9900
Name: high, Length: 3840, dtype: float64
Date
2008-01-02     76.030
2008-01-03     72.860
2008-01-04     72.100
2008-01-07     71.500
2008-01-08     69.970
               ...
2023-03-30    338.640
2023-03-31    339.510
2023-04-03    339.870
2023-04-04    339.520
2023-04-05    320.415
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    10.710
2008-01-03    10.440
2008-01-04     9.600
2008-01-07     9.400
2008-01-08     9.460
               ...
2023-03-30    57.330
2023-03-31    58.380
2023-04-03    59.150
2023-04-04    59.240
2023-04-05    58.845
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     28.74
2008-01-03     28.65
2008-01-04     27.85
2008-01-07     27.40
2008-01-08     27.02
               ...
2023-03-30    138.05
2023-03-31    139.16
2023-04-03    140.85
2023-04-04    141.28
2023-04-05    140.44
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     26.01
2008-01-03     25.79
2008-01-04     24.99
2008-01-07     24.85
2008-01-08     25.19
               ...
2023-03-30    132.19
2023-03-31    133.60
2023-04-03    132.89
2023-04-04    133.51
2023-04-05    134.30
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     57.92
2008-01-03     56.61
2008-01-04     52.70
2008-01-07     51.94
2008-01-08     53.43
               ...
2023-03-30    122.27
2023-03-31    124.89
2023-04-03    126.37
2023-04-04    124.58
2023-04-05    124.36
Name: high, Length: 3842, dtype: float64

 73%|███████▎  | 635/866 [00:05<00:02, 79.11it/s]

Date
2017-11-07    17.949
2017-11-08    18.409
2017-11-09    17.615
2017-11-10    16.500
2017-11-13    16.420
               ...
2023-03-30    59.780
2023-03-31    60.940
2023-04-03    60.810
2023-04-04    57.660
2023-04-05    54.300
Name: high, Length: 1294, dtype: float64
Date
2008-03-17    52.65
2008-03-18    52.00
2008-03-19    51.00
2008-03-20    50.20
2008-03-24    51.00
              ...
2023-03-30    98.16
2023-03-31    97.36
2023-04-03    98.41
2023-04-04    97.91
2023-04-05    98.98
Name: high, Length: 3791, dtype: float64
Date
2008-01-02     66.18
2008-01-03     65.17
2008-01-04     63.57
2008-01-07     64.03
2008-01-08     65.01
               ...
2023-03-30    131.19
2023-03-31    128.85
2023-04-03    127.90
2023-04-04    126.25
2023-04-05    123.19
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    34.9800
2008-01-03    34.3899
2008-01-04    33.8600
2008-01-07    33.4400
2008-01-08    33.1501
               ...
2023-03-30    54.5100
2023-03-31    55.3900
2023-04-03    55.3700
2023-04-04    55.5600
2023-04-05    53.5900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    42.52
2008-01-03    42.26
2008-01-04    41.59
2008-01-07    42.05
2008-01-08    42.48
              ...
2023-03-30    79.23
2023-03-31    79.69
2023-04-03    79.08
2023-04-04    78.84
2023-04-05    80.67
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     23.81
2008-01-03     23.63
2008-01-04     23.48
2008-01-07     24.59
2008-01-08     26.71
               ...
2023-03-30    318.46
2023-03-31    324.18
2023-04-03    320.95
2023-04-04    321.87
2023-04-05    319.94
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    29.460
2008-01-03    29.320
2008-01-04    29.060
2008-01-07    29.180
2008-01-08    29.640
               ...
2016-03-17    22.018
2016-03-18    22.130
2016-03-21    22.060
2016-03-22    22.020
2016-03-23    27.220
Name: high, Length: 2071, dtype: float64
Date
2008-01-02     20.02
2008-01-03     20.03
2008-01-04     18.78
2008-01-07     18.62
2008-01-08     18.65
               ...
2023-03-30    342.66
2023-03-31    344.48
2023-04-03    344.76
2023-04-04    341.60
2023-04-05    325.00
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     71.00
2008-01-03     69.00
2008-01-04     67.50
2008-01-07     67.72
2008-01-08     68.00
               ...
2023-03-30    131.00
2023-03-31    133.76
2023-04-03    140.22
2023-04-04    140.18
2023-04-05    139.32
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    52.0560
2008-01-03    51.1095
2008-01-04    51.8567
2008-01-07    52.7434
2008-01-08    54.3474
               ...
2023-03-30    27.7800
2023-03-31    27.8000
2023-04-03    27.8000
2023-04-04    27.5700
2023-04-05    28.3900
Name: high, Length: 3842, dtype: float64

 75%|███████▌  | 653/866 [00:06<00:02, 73.35it/s]

Date
2008-01-02    34.9000
2008-01-03    34.3499
2008-01-04    34.1300
2008-01-07    33.2300
2008-01-08    33.6200
               ...
2023-03-30    35.7600
2023-03-31    35.9000
2023-04-03    36.3100
2023-04-04    35.9200
2023-04-05    36.3900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    93.14
2008-01-03    92.04
2008-01-04    91.16
2008-01-07    91.28
2008-01-08    91.60
              ...
2023-03-30    82.94
2023-03-31    82.90
2023-04-03    83.49
2023-04-04    84.52
2023-04-05    82.88
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     75.11
2008-01-03     74.89
2008-01-04     72.03
2008-01-07     70.72
2008-01-08     72.13
               ...
2023-03-30    295.28
2023-03-31    302.30
2023-04-03    315.86
2023-04-04    314.35
2023-04-05    308.91
Name: high, Length: 3842, dtype: float64
Date
2012-04-12     34.21
2012-04-13     37.45
2012-04-16     37.00
2012-04-17     36.75
2012-04-18     36.44
               ...
2023-03-30    101.43
2023-03-31    101.45
2023-04-03    104.99
2023-04-04    102.92
2023-04-05    104.64
Name: high, Length: 2764, dtype: float64
Date
2008-01-02     18.06
2008-01-03     18.22
2008-01-04     17.87
2008-01-07     17.28
2008-01-08     17.31
               ...
2023-03-30    126.63
2023-03-31    128.43
2023-04-03    128.32
2023-04-04    128.66
2023-04-05    127.45
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    26.79
2008-01-03    26.10
2008-01-04    25.64
2008-01-07    26.07
2008-01-08    25.55
              ...
2010-11-10    33.20
2010-11-11    33.23
2010-11-12    33.21
2010-11-15    33.23
2010-11-16    33.25
Name: high, Length: 726, dtype: float64
Date
2008-01-02    36.950
2008-01-03    36.510
2008-01-04    34.070
2008-01-07    33.390
2008-01-08    34.060
               ...
2023-03-30    87.790
2023-03-31    89.260
2023-04-03    90.230
2023-04-04    90.650
2023-04-05    87.182
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     26.77
2008-01-03     25.99
2008-01-04     25.18
2008-01-07     23.92
2008-01-08     23.38
               ...
2023-03-30    167.22
2023-03-31    167.73
2023-04-03    167.49
2023-04-04    166.89
2023-04-05    161.83
Name: high, Length: 3842, dtype: float64
Date
2017-05-11     0.250
2017-05-12     0.450
2017-05-15     0.350
2017-05-16     0.340
2017-05-17     0.350
               ...
2023-03-30    10.050
2023-03-31    10.125
2023-04-03    10.270
2023-04-04     9.930
2023-04-05     9.680
Name: high, Length: 1451, dtype: float64
Date
2008-01-02     49.54
2008-01-03     49.99
2008-01-04     49.21
2008-01-07     48.36
2008-01-08     48.41
               ...
2023-03-30    204.24
2023-03-31    204.72
2023-04-03    217.09
2023-04-04    214.73
2023-04-05    212.43
Name: high, Length: 3842, dtype: float64
Date
2015-07-06    39.7500
2015-07-07    37.8100
2015-07-08    36.3600
2015-07-09    35.5199
2015-07-10    35.1900
               ...
2023-03-30    75.1800
2023-03-31    76.0300
2023-04-03    75.9200
2023-04-04    75.6900
2023-04-05    75.1100
Name: high, Length: 1953, dtype: float64
Date
2013-05-09     44.330
2013-05-10     42.970
2013-05-13     43.370
2013-05-14     44.749
2013-05-15     45.740
               ...
2017-11-08    108.820
2017-11-09    103.770
2017-11-10    104.610
2017-11-13    103.870
2017-11-14    103.660
Name: high, Length: 1140, dtype: float64
Date
2008-01-02     39.80
2008-01-03     38.39
2008-01-04     38.22
2008-01-07     37.31
2008-01-08     37.45
               ...
2023-03-30    128.19
2023-03-31    127.97
2023-04-03    127.57
2023-04-04    125.22
2023-04-05    123.21
Name: high, Length: 3842, dtype: float64
Date
2010-06-16    37.0000
2010-06-17    34.5500
2010-06-18    34.5000
2010-06-21    34.7500
2010-06-22    33.8500
               ...
2021-03-12     4.4000
2021-03-15     4.2800
2021-03-16     4.2032
2021-03-17     4.0800
2021-03-18     4.0800
Name: high, Length: 2708, dtype: float64
Date
2008-01-02    14.27
2008-01-03    13.82
2008-01-04    13.28
2008-01-07    13.28
2008-01-08    13.53
              ...
2016-08-09    15.89
2016-08-10    15.85
2016-08-11    15.92
2016-08-12    16.05
2016-08-15    16.14
Name: high, Length: 2171, dtype: float64
Date
2008-01-02      5.770
2008-01-03      5.680
2008-01-04      5.420
2008-01-07      5.350
2008-01-08      5.180
               ...
2023-03-30    101.710
2023-03-31    101.790
2023-04-03    101.340
2023-04-04    101.345
2023-04-05     96.500
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    47.39
2008-01-03    46.15
2008-01-04    43.19
2008-01-07    43.79
2008-01-08    43.95
              ...
2023-03-30    87.65
2023-03-31    89.24
2023-04-03    89.51
2023-04-04    88.10
2023-04-05    85.56
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    16.582
2008-01-03    16.610
2008-01-04    16.595
2008-01-07    16.867
2008-01-08    17.142
               ...
2017-07-18    65.220
2017-07-19    65.780
2017-07-20    66.460
2017-07-21    67.000
2017-07-24    66.880
Name: high, Length: 2407, dtype: float64
Date
2008-01-02    42.59
2008-01-03    41.67
2008-01-04    40.07
2008-01-07    38.95
2008-01-08    37.96
              ...
2023-03-30    65.58
2023-03-31    65.65
2023-04-03    65.30
2023-04-04    64.95
2023-04-05    63.97
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    40.600
2008-01-03    41.120
2008-01-04    40.410
2008-01-07    39.720
2008-01-08    39.980
               ...
2019-04-04    11.210
2019-04-05    11.270
2019-04-08    11.240
2019-04-09    11.340
2019-04-10    11.215
Name: high, Length: 2838, dtype: float64

 79%|███████▉  | 684/866 [00:06<00:02, 89.62it/s]

Date
2008-01-02    100.86
2008-01-03    100.58
2008-01-04    102.74
2008-01-07    103.65
2008-01-08    103.59
               ...
2023-03-30    360.36
2023-03-31    359.69
2023-04-03    363.37
2023-04-04    364.10
2023-04-05    363.78
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    65.120
2008-01-03    64.750
2008-01-04    61.680
2008-01-07    59.270
2008-01-08    60.210
               ...
2023-03-30    60.120
2023-03-31    61.270
2023-04-03    62.090
2023-04-04    61.470
2023-04-05    60.635
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     24.40
2008-01-03     24.14
2008-01-04     23.30
2008-01-07     23.28
2008-01-08     23.75
               ...
2023-03-30    825.08
2023-03-31    822.52
2023-04-03    826.56
2023-04-04    830.67
2023-04-05    837.55
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    23.82
2008-01-03    23.60
2008-01-04    22.34
2008-01-07    21.35
2008-01-08    21.07
              ...
2023-03-30    18.95
2023-03-31    18.60
2023-04-03    18.69
2023-04-04    18.69
2023-04-05    18.42
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    26.650
2008-01-03    25.590
2008-01-04    24.250
2008-01-07    24.250
2008-01-08    24.210
               ...
2023-03-30    78.120
2023-03-31    80.780
2023-04-03    80.470
2023-04-04    80.310
2023-04-05    77.095
Name: high, Length: 3840, dtype: float64
Date
2008-01-02     21.050
2008-01-03     20.870
2008-01-04     20.750
2008-01-07     20.510
2008-01-08     20.540
               ...
2019-05-21    186.180
2019-05-22    186.305
2019-05-23    186.360
2019-05-24    186.220
2019-05-28    186.170
Name: high, Length: 2870, dtype: float64
Date
2008-01-02    146.9500
2008-01-03    147.2500
2008-01-04    145.0622
2008-01-07    143.7300
2008-01-08    143.0800
                ...
2023-03-30      6.7800
2023-03-31      6.5400
2023-04-03      7.1100
2023-04-04      7.1300
2023-04-05      6.6700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    32.73
2008-01-03    32.34
2008-01-04    31.39
2008-01-07    30.39
2008-01-08    30.52
              ...
2023-03-30    94.65
2023-03-31    93.32
2023-04-03    94.24
2023-04-04    92.79
2023-04-05    89.88
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     62.46
2008-01-03     62.99
2008-01-04     59.86
2008-01-07     58.33
2008-01-08     58.96
               ...
2023-03-30    118.41
2023-03-31    117.21
2023-04-03    118.11
2023-04-04    118.17
2023-04-05    115.40
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     51.79
2008-01-03     52.42
2008-01-04     50.48
2008-01-07     49.67
2008-01-08     50.05
               ...
2023-03-30    216.94
2023-03-31    219.52
2023-04-03    220.64
2023-04-04    222.16
2023-04-05    222.96
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    53.09
2008-01-03    53.00
2008-01-04    51.95
2008-01-07    50.87
2008-01-08    50.83
              ...
2009-03-26    78.82
2009-03-27    78.82
2009-03-30    78.85
2009-03-31    78.90
2009-04-01    78.96
Name: high, Length: 315, dtype: float64
Date
2008-01-02     69.72
2008-01-03     67.07
2008-01-04     66.34
2008-01-07     64.59
2008-01-08     62.68
               ...
2023-03-30    287.86
2023-03-31    293.71
2023-04-03    294.10
2023-04-04    293.14
2023-04-05    278.05
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    19.46
2008-01-03    19.87
2008-01-04    19.58
2008-01-07    19.50
2008-01-08    19.50
              ...
2023-03-30    37.29
2023-03-31    37.58
2023-04-03    37.66
2023-04-04    37.58
2023-04-05    38.74
Name: high, Length: 3841, dtype: float64
Date
2008-01-02     62.700
2008-01-03     61.300
2008-01-04     60.640
2008-01-07     58.030
2008-01-08     55.080
               ...
2023-03-30    438.990
2023-03-31    440.690
2023-04-03    443.590
2023-04-04    444.575
2023-04-05    437.735
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     25.72
2008-01-03     25.01
2008-01-04     24.09
2008-01-07     23.39
2008-01-08     22.88
               ...
2023-03-30    104.85
2023-03-31    106.21
2023-04-03    108.79
2023-04-04    110.15
2023-04-05    107.87
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    53.12
2008-01-03    54.22
2008-01-04    52.96
2008-01-07    51.79
2008-01-08    52.00
              ...
2023-03-30    25.60
2023-03-31    26.73
2023-04-03    27.57
2023-04-04    26.99
2023-04-05    27.31
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    12.7300
2008-01-03    12.4667
2008-01-04    12.2267
2008-01-07    12.1600
2008-01-08    12.1667
               ...
2022-02-18    10.8300
2022-02-22    10.8500
2022-02-23    10.8450
2022-02-24    10.8500
2022-02-25    10.9000
Name: high, Length: 3564, dtype: float64
Date
2008-01-02     31.22
2008-01-03     30.89
2008-01-04     30.46
2008-01-07     30.74
2008-01-08     30.60
               ...
2023-03-30    134.92
2023-03-31    135.85
2023-04-03    136.72
2023-04-04    136.68
2023-04-05    137.53
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    0.175
2008-01-03    0.170
2008-01-04    0.175
2008-01-07    0.175
2008-01-08    0.170
              ...
2015-01-27    0.069
2015-01-28    0.080
2015-01-29    0.080
2015-01-30    0.078
2015-02-02    0.085
Name: high, Length: 1696, dtype: float64
Date
2008-01-02     61.190
2008-01-03     62.240
2008-01-04     62.411
2008-01-07     62.440
2008-01-08     61.280
               ...
2020-03-27    147.890
2020-03-30    142.540
2020-03-31    140.900
2020-04-01    125.240
2020-04-02    126.850
Name: high, Length: 3085, dtype: float64
Date
2008-01-02     77.1401
2008-01-03     76.6901
2008-01-04     76.1900
2008-01-07     75.7000
2008-01-08     75.1900
                ...
2023-03-30     97.8500
2023-03-31     98.0500
2023-04-03    100.8400
2023-04-04    101.4600
2023-04-05     99.6600
Name: high, Length: 3842, dtype: float64

 81%|████████▏ | 705/866 [00:06<00:01, 95.63it/s]

Date
2008-01-02    23.00
2008-01-03    22.71
2008-01-04    22.38
2008-01-07    22.20
2008-01-08    22.25
              ...
2010-02-19    21.93
2010-02-22    21.96
2010-02-23    21.98
2010-02-24    21.99
2010-02-25    21.98
Name: high, Length: 542, dtype: float64
Date
2021-06-30    46.500
2021-07-01    44.750
2021-07-02    45.200
2021-07-06    50.590
2021-07-07    54.050
               ...
2023-03-30    15.290
2023-03-31    16.620
2023-04-03    16.580
2023-04-04    17.165
2023-04-05    17.020
Name: high, Length: 445, dtype: float64
Date
2018-08-29    25.100
2018-08-30    25.190
2018-08-31    25.370
2018-09-04    25.339
2018-09-05    25.260
               ...
2021-08-24    25.000
2021-08-25    25.000
2021-08-26    25.000
2021-08-27    25.010
2021-08-30    25.010
Name: high, Length: 750, dtype: float64
Date
2021-06-28    9.7400
2021-06-29    9.7700
2021-06-30    9.6800
2021-07-01    9.6900
2021-07-02    9.6407
               ...
2023-03-30    1.3010
2023-03-31    1.2900
2023-04-03    1.2550
2023-04-04    1.2700
2023-04-05    1.2400
Name: high, Length: 396, dtype: float64
Date
2013-09-16     33.00
2013-09-17     30.82
2013-09-18     31.26
2013-09-19     30.36
2013-09-20     29.79
               ...
2023-03-30    107.49
2023-03-31    108.41
2023-04-03    111.55
2023-04-04    109.39
2023-04-05    108.88
Name: high, Length: 2406, dtype: float64
Date
2008-01-02     1.8400
2008-01-03     1.8200
2008-01-04     1.7800
2008-01-07     1.7000
2008-01-08     1.7000
               ...
2023-03-30    59.9800
2023-03-31    61.1600
2023-04-03    61.1600
2023-04-04    60.0400
2023-04-05    58.7909
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     34.045
2008-01-03     33.140
2008-01-04     32.000
2008-01-07     31.600
2008-01-08     31.430
               ...
2023-03-30    258.830
2023-03-31    261.700
2023-04-03    259.430
2023-04-04    257.570
2023-04-05    262.320
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     33.89
2008-01-03     33.54
2008-01-04     32.85
2008-01-07     34.64
2008-01-08     34.29
               ...
2023-03-07    111.24
2023-03-08    105.47
2023-03-09    100.30
2023-03-10     90.67
2023-03-13     70.00
Name: high, Length: 3825, dtype: float64
Date
2008-01-02     20.16
2008-01-03     19.40
2008-01-04     18.54
2008-01-07     18.81
2008-01-08     21.01
               ...
2023-03-30    101.70
2023-03-31    104.28
2023-04-03    104.94
2023-04-04    105.01
2023-04-05    105.70
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    42.220
2008-01-03    41.850
2008-01-04    41.800
2008-01-07    42.620
2008-01-08    42.700
               ...
2018-12-24    50.050
2018-12-26    47.910
2018-12-27    48.810
2018-12-28    49.400
2018-12-31    49.255
Name: high, Length: 2769, dtype: float64
Date
2008-01-02    25.6900
2008-01-03    24.9400
2008-01-04    24.6500
2008-01-07    24.5200
2008-01-08    24.5399
               ...
2023-03-30    54.1700
2023-03-31    52.6500
2023-04-03    53.5900
2023-04-04    51.9400
2023-04-05    49.4200
Name: high, Length: 3842, dtype: float64
Date
2017-10-20    16.9900
2017-10-23    16.3990
2017-10-24    15.8597
2017-10-25    15.4300
2017-10-26    14.1600
               ...
2023-03-30    87.6800
2023-03-31    87.8780
2023-04-03    88.1360
2023-04-04    88.8400
2023-04-05    87.9900
Name: high, Length: 1373, dtype: float64
Date
2015-03-26     21.890
2015-03-27     21.590
2015-03-30     22.490
2015-03-31     22.500
2015-04-01     22.390
               ...
2023-03-30    310.582
2023-03-31    306.645
2023-04-03    309.250
2023-04-04    299.630
2023-04-05    293.750
Name: high, Length: 2022, dtype: float64
Date
2008-01-02    23.50
2008-01-03    22.93
2008-01-04    22.62
2008-01-07    22.12
2008-01-08    21.67
              ...
2023-03-30    44.69
2023-03-31    45.98
2023-04-03    46.14
2023-04-04    45.91
2023-04-05    47.16
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    26.72
2008-01-03    26.85
2008-01-04    26.60
2008-01-07    25.98
2008-01-08    27.72
              ...
2009-10-28    29.10
2009-10-29    28.76
2009-10-30    28.70
2009-11-02    28.57
2009-11-03    28.39
Name: high, Length: 465, dtype: float64
Date
2008-01-02     58.190
2008-01-03     57.910
2008-01-04     56.100
2008-01-07     55.906
2008-01-08     56.100
               ...
2023-03-30    217.290
2023-03-31    225.280
2023-04-03    228.530
2023-04-04    228.270
2023-04-05    224.680
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     54.980
2008-01-03     54.220
2008-01-04     54.039
2008-01-07     53.450
2008-01-08     53.700
               ...
2015-11-12    139.920
2015-11-13    139.910
2015-11-16    139.910
2015-11-17    139.900
2015-11-18    139.760
Name: high, Length: 1986, dtype: float64
Date
2008-01-02    13.90
2008-01-03    12.93
2008-01-04    12.12
2008-01-07    11.77
2008-01-08    12.21
              ...
2023-03-30    76.98
2023-03-31    77.92
2023-04-03    79.18
2023-04-04    77.62
2023-04-05    76.27
Name: high, Length: 3842, dtype: float64
Date
2009-08-11     2.9925
2009-09-25     3.5950
2009-09-28     3.6000
2009-09-30     3.6160
2009-10-21     4.0950
               ...
2023-03-30    36.1600
2023-03-31    36.6900
2023-04-03    36.9600
2023-04-04    37.0100
2023-04-05    36.9900
Name: high, Length: 2834, dtype: float64
Date
2008-01-02    50.6800
2008-01-03    50.2900
2008-01-04    49.0900
2008-01-07    48.8300
2008-01-08    48.9300
               ...
2023-03-30     1.4500
2023-03-31     1.2000
2023-04-03     1.1700
2023-04-04     0.9851
2023-04-05     1.0400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     51.34
2008-01-03     51.28
2008-01-04     49.55
2008-01-07     49.46
2008-01-08     50.00
               ...
2023-03-30    158.01
2023-03-31    158.55
2023-04-03    158.63
2023-04-04    158.29
2023-04-05    158.01
Name: high, Length: 3842, dtype: float64

 84%|████████▎ | 725/866 [00:06<00:01, 96.24it/s]

Date
2008-01-02    102.52
2008-01-03    102.71
2008-01-04    101.35
2008-01-07     99.97
2008-01-08    100.31
               ...
2023-03-30     49.53
2023-03-31     49.48
2023-04-03     53.81
2023-04-04     52.53
2023-04-05     51.16
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    16.08
2008-01-03    16.08
2008-01-04    16.04
2008-01-07    16.07
2008-01-08    16.05
              ...
2012-06-22    19.29
2012-06-25    19.12
2012-06-26    18.91
2012-06-27    18.93
2012-06-28    18.93
Name: high, Length: 1133, dtype: float64
Date
2008-01-02    94.6920
2008-01-03    92.7921
2008-01-04    88.7519
2008-01-07    88.7119
2008-01-08    89.4720
               ...
2023-03-30    23.7400
2023-03-31    23.5500
2023-04-03    25.3400
2023-04-04    24.2000
2023-04-05    23.8500
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    20.1934
2008-01-03    19.5536
2008-01-04    19.0338
2008-01-07    19.1937
2008-01-08    18.4840
               ...
2023-03-30    12.3500
2023-03-31    12.4900
2023-04-03    12.7000
2023-04-04    12.5100
2023-04-05    13.1000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     48.26
2008-01-03     47.32
2008-01-04     46.00
2008-01-07     45.57
2008-01-08     45.13
               ...
2023-03-30    243.42
2023-03-31    247.02
2023-04-03    247.74
2023-04-04    247.00
2023-04-05    235.30
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    33.73
2008-01-03    33.46
2008-01-04    31.88
2008-01-07    30.88
2008-01-08    30.85
              ...
2016-05-05    75.22
2016-05-06    75.68
2016-05-09    75.55
2016-05-10    76.65
2016-05-11    76.71
Name: high, Length: 2105, dtype: float64
Date
2008-06-12    42.78
2008-06-13    43.34
2008-06-16    43.01
2008-06-17    43.49
2008-06-18    43.19
              ...
2018-02-28    90.71
2018-03-01    90.19
2018-03-02    90.33
2018-03-05    90.44
2018-03-06    93.58
Name: high, Length: 2450, dtype: float64
Date
2008-01-02     25.91
2008-01-03     25.34
2008-01-04     24.94
2008-01-07     24.89
2008-01-08     24.46
               ...
2023-03-30    378.78
2023-03-31    386.72
2023-04-03    389.58
2023-04-04    392.79
2023-04-05    384.48
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    11.46
2008-01-03    11.41
2008-01-04    10.97
2008-01-07    11.30
2008-01-08    11.42
              ...
2023-03-30    31.50
2023-03-31    30.97
2023-04-03    31.10
2023-04-04    30.13
2023-04-05    28.77
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    38.75
2008-01-03    38.50
2008-01-04    38.99
2008-01-07    39.50
2008-01-08    40.19
              ...
2023-03-30    69.76
2023-03-31    69.61
2023-04-03    69.63
2023-04-04    69.66
2023-04-05    71.67
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    11.52
2008-01-03    11.21
2008-01-04    10.72
2008-01-07    10.58
2008-01-08    10.60
              ...
2009-01-23     2.15
2009-01-26     2.37
2009-01-27     2.39
2009-01-28     2.73
2009-01-29     2.60
Name: high, Length: 272, dtype: float64
Date
2008-01-02     86.7023
2008-01-03     86.2768
2008-01-04     82.5566
2008-01-07     81.2111
2008-01-08     83.0711
                ...
2023-03-30    108.5000
2023-03-31    112.0900
2023-04-03    113.8100
2023-04-04    112.7400
2023-04-05    110.9900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     43.97
2008-01-03     42.65
2008-01-04     42.00
2008-01-07     42.64
2008-01-08     42.40
               ...
2023-03-30    342.65
2023-03-31    346.59
2023-04-03    346.70
2023-04-04    352.24
2023-04-05    348.55
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    23.19
2008-01-03    22.29
2008-01-04    21.72
2008-01-07    21.78
2008-01-08    22.32
              ...
2017-09-06    10.25
2017-09-07    10.25
2017-09-08    10.24
2017-09-11    10.25
2017-09-12    10.26
Name: high, Length: 2442, dtype: float64
Date
2008-01-02    59.72
2008-01-03    59.11
2008-01-04    59.02
2008-01-07    58.96
2008-01-08    58.68
              ...
2023-03-30    43.28
2023-03-31    43.70
2023-04-03    43.93
2023-04-04    43.90
2023-04-05    42.75
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     62.35
2008-01-03     61.89
2008-01-04     60.82
2008-01-07     61.04
2008-01-08     61.97
               ...
2023-03-30    150.88
2023-03-31    151.19
2023-04-03    151.42
2023-04-04    150.76
2023-04-05    154.16
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    39.9134
2008-01-03    38.6007
2008-01-04    38.4411
2008-01-07    38.8934
2008-01-08    38.5741
               ...
2023-03-30     9.3700
2023-03-31     9.4200
2023-04-03     9.4700
2023-04-04     9.3500
2023-04-05     8.8700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     28.95
2008-01-03     29.19
2008-01-04     29.50
2008-01-07     30.33
2008-01-08     30.26
               ...
2023-03-30    190.05
2023-03-31    191.39
2023-04-03    191.48
2023-04-04    192.76
2023-04-05    193.50
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    62.525
2008-01-03    61.000
2008-01-04    59.860
2008-01-07    60.220
2008-01-08    60.040
               ...
2019-12-02    71.310
2019-12-03    69.530
2019-12-04    69.270
2019-12-05    69.400
2019-12-06    70.790
Name: high, Length: 3005, dtype: float64
Date
2008-01-02    40.970
2008-01-03    40.610
2008-01-04    40.000
2008-01-07    40.940
2008-01-08    42.485
               ...
2016-12-28    80.375
2016-12-29    80.030
2016-12-30    80.530
2017-01-03    80.770
2017-01-04    81.310
Name: high, Length: 2269, dtype: float64

 85%|████████▍ | 735/866 [00:06<00:01, 96.46it/s]

Date
2008-01-02     60.83
2008-01-03     58.74
2008-01-04     56.90
2008-01-07     55.89
2008-01-08     55.36
               ...
2023-03-30    113.03
2023-03-31    113.47
2023-04-03    114.06
2023-04-04    113.13
2023-04-05    104.65
Name: high, Length: 3842, dtype: float64
Date
2017-09-08     9.69
2017-10-12     9.60
2017-10-16     9.60
2017-10-17     9.60
2017-10-19     9.69
              ...
2023-03-30    22.48
2023-03-31    22.87
2023-04-03    24.72
2023-04-04    24.95
2023-04-05    24.73
Name: high, Length: 1291, dtype: float64
Date
2008-01-02    81.09
2008-01-03    86.46
2008-01-04    86.55
2008-01-07    83.83
2008-01-08    84.57
              ...
2023-03-30    76.71
2023-03-31    75.73
2023-04-03    75.71
2023-04-04    76.14
2023-04-05    75.71
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    25.7500
2008-01-03    25.4600
2008-01-04    24.4000
2008-01-07    23.5800
2008-01-08    22.8199
               ...
2023-03-30    65.1900
2023-03-31    66.2100
2023-04-03    66.4800
2023-04-04    65.9300
2023-04-05    64.9400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     23.810
2008-01-03     23.710
2008-01-04     23.500
2008-01-07     22.800
2008-01-08     22.640
               ...
2023-03-30    225.900
2023-03-31    227.000
2023-04-03    227.430
2023-04-04    226.990
2023-04-05    221.885
Name: high, Length: 3842, dtype: float64
Date
2012-09-20    23.81
2012-09-21    23.40
2012-09-24    23.36
2012-09-25    23.15
2012-09-26    23.38
              ...
2023-03-30    43.83
2023-03-31    43.95
2023-04-03    44.94
2023-04-04    44.96
2023-04-05    44.56
Name: high, Length: 2652, dtype: float64
Date
2008-01-02    262.22
2008-01-03    244.30
2008-01-04    241.43
2008-01-07    243.88
2008-01-08    232.75
               ...
2018-10-15     32.48
2018-10-16     32.48
2018-10-17     32.48
2018-10-18     32.50
2018-10-19     32.50
Name: high, Length: 2721, dtype: float64
Date
2008-01-02    48.54
2008-01-03    46.92
2008-01-04    45.43
2008-01-07    45.22
2008-01-08    47.28
              ...
2023-03-30    79.34
2023-03-31    80.73
2023-04-03    80.61
2023-04-04    79.93
2023-04-05    76.59
Name: high, Length: 3841, dtype: float64
Date
2008-01-02      8.61
2008-01-03      8.40
2008-01-04      8.26
2008-01-07      7.92
2008-01-08      7.97
               ...
2023-03-30    118.42
2023-03-31    118.08
2023-04-03    117.69
2023-04-04    117.73
2023-04-05    113.20
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    58.63
2008-01-03    59.23
2008-01-04    59.14
2008-01-07    57.43
2008-01-08    57.14
              ...
2023-03-30     5.01
2023-03-31     5.06
2023-04-03     5.22
2023-04-04     5.14
2023-04-05     5.17
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    34.36
2008-01-03    33.59
2008-01-04    33.82
2008-01-07    33.50
2008-01-08    33.68
              ...
2015-01-23    35.29
2015-01-26    35.22
2015-01-27    35.24
2015-01-28    35.26
2015-01-29    35.19
Name: high, Length: 1782, dtype: float64
Date
2014-07-31    24.00
2014-08-01    23.00
2014-08-04    23.13
2014-08-05    23.01
2014-08-06    22.98
              ...
2023-03-30    29.07
2023-03-31    29.16
2023-04-03    29.58
2023-04-04    29.79
2023-04-05    28.86
Name: high, Length: 2186, dtype: float64
Date
2008-01-02     74.82
2008-01-03     74.94
2008-01-04     73.39
2008-01-07     73.22
2008-01-08     73.60
               ...
2023-03-30    280.90
2023-03-31    285.68
2023-04-03    288.15
2023-04-04    290.12
2023-04-05    289.90
Name: high, Length: 3841, dtype: float64
Date
2010-11-26    12.20
2010-11-29    10.90
2010-11-30    10.50
2010-12-01    10.90
2010-12-02    10.60
              ...
2020-10-30     4.10
2020-11-02     4.18
2020-11-03     4.20
2020-11-04     3.98
2020-11-05     4.04
Name: high, Length: 2410, dtype: float64
Date
2008-01-02    31.25
2008-01-03    30.73
2008-01-04    30.51
2008-01-07    30.67
2008-01-08    30.54
              ...
2023-03-30    77.87
2023-03-31    77.41
2023-04-03    78.35
2023-04-04    79.02
2023-04-05    77.76
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    41.9139
2008-01-03    41.7239
2008-01-04    41.7639
2008-01-07    41.9339
2008-01-08    41.8439
               ...
2023-03-30    19.1400
2023-03-31    19.2500
2023-04-03    19.4800
2023-04-04    19.6500
2023-04-05    19.9300
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    51.87
2008-01-03    51.83
2008-01-04    51.47
2008-01-07    52.24
2008-01-08    52.10
              ...
2023-03-30    52.56
2023-03-31    51.95
2023-04-03    52.68
2023-04-04    52.55
2023-04-05    52.50
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    27.900
2008-01-03    27.500
2008-01-04    27.030
2008-01-07    26.940
2008-01-08    27.230
               ...
2023-03-30    39.710
2023-03-31    40.320
2023-04-03    40.920
2023-04-04    41.010
2023-04-05    40.775
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     45.31
2008-01-03     46.51
2008-01-04     46.30
2008-01-07     46.00
2008-01-08     45.18
               ...
2023-03-30    738.06
2023-03-31    742.00
2023-04-03    749.21
2023-04-04    744.46
2023-04-05    733.46
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     53.44
2008-01-03     53.22
2008-01-04     51.81
2008-01-07     52.44
2008-01-08     52.46
               ...
2023-03-30    439.12
2023-03-31    447.49
2023-04-03    448.71
2023-04-04    445.15
2023-04-05    436.05
Name: high, Length: 3842, dtype: float64

 89%|████████▊ | 767/866 [00:07<00:00, 100.61it/s]

Date
2008-01-02    17.30
2008-01-03    17.15
2008-01-04    17.12
2008-01-07    17.34
2008-01-08    17.48
              ...
2016-06-24    27.70
2016-06-27    27.68
2016-06-28    27.68
2016-06-29    27.67
2016-06-30    27.67
Name: high, Length: 2140, dtype: float64
Date
2008-01-02    67.45
2008-01-03    67.55
2008-01-04    68.60
2008-01-07    69.30
2008-01-08    69.65
              ...
2023-03-30    73.02
2023-03-31    74.30
2023-04-03    73.78
2023-04-04    74.88
2023-04-05    74.56
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    51.91
2008-01-03    51.00
2008-01-04    50.70
2008-01-07    51.84
2008-01-08    52.47
              ...
2015-06-23    70.80
2015-06-24    70.23
2015-06-25    70.21
2015-06-26    70.69
2015-06-29    71.42
Name: high, Length: 1886, dtype: float64
Date
2008-01-02     37.25
2008-01-03     37.78
2008-01-04     36.64
2008-01-07     35.77
2008-01-08     34.36
               ...
2023-03-30    129.49
2023-03-31    131.32
2023-04-03    131.57
2023-04-04    130.99
2023-04-05    125.77
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     10.43
2008-01-03     10.13
2008-01-04      9.90
2008-01-07      9.56
2008-01-08      9.58
               ...
2023-03-30    108.85
2023-03-31    108.72
2023-04-03    107.24
2023-04-04    107.31
2023-04-05    102.34
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    66.2400
2008-01-03    63.7500
2008-01-04    61.4300
2008-01-07    59.0800
2008-01-08    55.9801
               ...
2023-03-30    47.9700
2023-03-31    48.7500
2023-04-03    49.1100
2023-04-04    47.9300
2023-04-05    43.7000
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    30.89
2008-01-03    29.85
2008-01-04    28.86
2008-01-07    28.20
2008-01-08    28.28
              ...
2023-03-30    35.22
2023-03-31    34.38
2023-04-03    34.37
2023-04-04    33.61
2023-04-05    32.12
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     63.09
2008-01-03     63.60
2008-01-04     62.89
2008-01-07     62.00
2008-01-08     60.47
               ...
2023-03-30    250.54
2023-03-31    253.64
2023-04-03    253.60
2023-04-04    256.42
2023-04-05    263.06
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    19.9775
2008-01-03    19.4037
2008-01-04    18.6149
2008-01-07    18.2666
2008-01-08    18.2768
               ...
2023-03-30    16.7400
2023-03-31    17.0500
2023-04-03    16.9600
2023-04-04    16.9700
2023-04-05    16.9300
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     50.32
2008-01-03     50.43
2008-01-04     49.25
2008-01-07     49.36
2008-01-08     50.59
               ...
2023-03-30    161.41
2023-03-31    165.83
2023-04-03    167.96
2023-04-04    167.02
2023-04-05    166.99
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     5.10
2008-01-03     5.07
2008-01-04     4.92
2008-01-07     4.90
2008-01-08     5.00
              ...
2023-03-30    58.14
2023-03-31    59.47
2023-04-03    60.17
2023-04-04    59.01
2023-04-05    60.90
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    26.793
2008-01-03    26.470
2008-01-04    25.890
2008-01-07    25.150
2008-01-08    24.050
               ...
2012-12-31    16.510
2013-01-02    16.510
2013-01-03    16.510
2013-01-04    16.510
2013-01-07    16.500
Name: high, Length: 1263, dtype: float64
Date
2008-01-02     46.14
2008-01-03     44.46
2008-01-04     41.96
2008-01-07     42.52
2008-01-08     42.25
               ...
2020-12-31    131.46
2021-01-04    131.46
2021-01-05    131.46
2021-01-06    131.48
2021-01-07    131.46
Name: high, Length: 3278, dtype: float64
Date
2008-01-02    21.68
2008-01-03    20.71
2008-01-04    20.29
2008-01-07    19.15
2008-01-08    18.63
              ...
2012-02-06    31.92
2012-02-07    31.92
2012-02-08    31.89
2012-02-09    31.88
2012-02-10    32.00
Name: high, Length: 1037, dtype: float64
Date
2008-01-02    28.87
2008-01-03    28.50
2008-01-04    27.93
2008-01-07    27.87
2008-01-08    27.75
              ...
2023-03-30    77.86
2023-03-31    78.41
2023-04-03    78.88
2023-04-04    79.39
2023-04-05    78.76
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    6.59
2008-01-03    6.41
2008-01-04    6.04
2008-01-07    6.04
2008-01-08    5.72
              ...
2013-11-26    2.45
2013-11-27    2.45
2013-11-29    2.45
2013-12-02    2.45
2013-12-03    2.45
Name: high, Length: 1492, dtype: float64
Date
2008-01-02    60.6200
2008-01-03    60.2900
2008-01-04    60.1800
2008-01-07    61.2200
2008-01-08    61.4400
               ...
2019-08-02    88.6000
2019-08-05    86.3202
2019-08-06    86.4300
2019-08-07    86.4300
2019-08-08    88.2200
Name: high, Length: 2921, dtype: float64
Date
2008-01-02     57.75
2008-01-03     57.43
2008-01-04     57.00
2008-01-07     57.00
2008-01-08     57.81
               ...
2023-03-30    564.28
2023-03-31    576.68
2023-04-03    573.11
2023-04-04    580.24
2023-04-05    580.10
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     19.72
2008-01-03     18.89
2008-01-04     18.50
2008-01-07     17.45
2008-01-08     19.50
               ...
2023-03-30    145.10
2023-03-31    145.28
2023-04-03    146.80
2023-04-04    146.38
2023-04-05    150.06
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    31.21
2008-01-03    31.07
2008-01-04    29.40
2008-01-07    28.60
2008-01-08    29.13
              ...
2023-03-30    42.80
2023-03-31    43.16
2023-04-03    43.31
2023-04-04    42.89
2023-04-05    41.99
Name: high, Length: 3842, dtype: float64
Date
2010-12-07    25.20
2010-12-08    26.00
2010-12-09    26.25
2010-12-10    25.79
2010-12-13    26.69
              ...
2023-03-30    72.30
2023-03-31    73.05
2023-04-03    77.58
2023-04-04    75.64
2023-04-05    75.34
Name: high, Length: 3103, dtype: float64
Date
2011-12-07    27.76
2011-12-08    27.78
2011-12-09    28.00
2011-12-12    28.28
2011-12-13    28.53
              ...
2023-03-30    19.32
2023-03-31    20.17
2023-04-03    19.89
2023-04-04    20.01
2023-04-05    19.45
Name: high, Length: 2850, dtype: float64

 90%|████████▉ | 778/866 [00:07<00:00, 101.01it/s]

Date
2008-01-02    30.8400
2008-01-03    29.8680
2008-01-04    29.5000
2008-01-07    28.0000
2008-01-08    27.2599
               ...
2023-03-30    52.2900
2023-03-31    52.4700
2023-04-03    52.2400
2023-04-04    52.0400
2023-04-05    50.3300
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     60.4200
2008-01-03     59.8000
2008-01-04     58.0000
2008-01-07     56.2200
2008-01-08     54.9700
                ...
2023-03-30    112.3700
2023-03-31    113.0600
2023-04-03    112.9500
2023-04-04    113.4400
2023-04-05    110.4099
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     53.70
2008-01-03     53.33
2008-01-04     53.06
2008-01-07     52.61
2008-01-08     52.63
               ...
2023-03-30    171.08
2023-03-31    172.33
2023-04-03    172.69
2023-04-04    173.40
2023-04-05    170.55
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     35.905
2008-01-03     34.670
2008-01-04     32.910
2008-01-07     33.490
2008-01-08     33.500
               ...
2023-03-30    231.950
2023-03-31    236.590
2023-04-03    242.020
2023-04-04    242.000
2023-04-05    238.890
Name: high, Length: 3842, dtype: float64
Date
2010-10-15     2.34
2010-10-18     2.34
2010-10-19     2.34
2010-10-20     2.36
2010-10-21     2.36
              ...
2019-05-21    17.97
2019-05-22    17.36
2019-05-23    17.20
2019-05-24    17.05
2019-05-28    17.02
Name: high, Length: 2167, dtype: float64
Date
2010-06-29     24.9999
2010-06-30     30.4191
2010-07-01     25.9200
2010-07-02     23.1000
2010-07-06     20.0001
                ...
2023-03-30    197.3300
2023-03-31    207.7900
2023-04-03    202.6897
2023-04-04    198.7446
2023-04-05    190.6800
Name: high, Length: 3215, dtype: float64
Date
2008-01-02    15.48
2008-01-03    15.28
2008-01-04    14.23
2008-01-07    14.53
2008-01-08    14.63
              ...
2023-03-30    58.73
2023-03-31    59.43
2023-04-03    59.63
2023-04-04    59.69
2023-04-05    60.46
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    48.35
2008-01-03    48.21
2008-01-04    45.25
2008-01-07    43.47
2008-01-08    43.74
              ...
2017-07-25    98.69
2017-07-26    98.30
2017-07-27    98.32
2017-07-28    98.30
2017-07-31    99.76
Name: high, Length: 2412, dtype: float64
Date
2008-01-02     28.19
2008-01-03     27.28
2008-01-04     26.19
2008-01-07     25.39
2008-01-08     25.14
               ...
2019-05-21    101.00
2019-05-22    101.57
2019-05-23    100.43
2019-05-24    117.44
2019-05-28    123.66
Name: high, Length: 2870, dtype: float64
Date
2008-01-02     28.8369
2008-01-03     27.9452
2008-01-04     27.2950
2008-01-07     26.7377
2008-01-08     25.6913
                ...
2023-03-30    186.4300
2023-03-31    184.5500
2023-04-03    184.6700
2023-04-04    183.5300
2023-04-05    173.6400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     18.7100
2008-01-03     18.2300
2008-01-04     17.7399
2008-01-07     17.4700
2008-01-08     17.0000
                ...
2023-03-30    117.7000
2023-03-31    119.9200
2023-04-03    119.4300
2023-04-04    121.8400
2023-04-05    121.4900
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     83.01
2008-01-03     82.41
2008-01-04     80.19
2008-01-07     75.93
2008-01-08     75.96
               ...
2016-05-11    217.15
2016-05-12    217.91
2016-05-13    216.18
2016-05-16    213.09
2016-05-17    212.40
Name: high, Length: 2109, dtype: float64
Date
2013-11-07    50.09
2013-11-08    46.94
2013-11-11    43.00
2013-11-12    43.78
2013-11-13    42.87
              ...
2022-10-21    50.75
2022-10-24    51.86
2022-10-25    53.18
2022-10-26    53.50
2022-10-27    54.00
Name: high, Length: 2259, dtype: float64
Date
2008-01-02     49.77
2008-01-03     49.35
2008-01-04     48.93
2008-01-07     48.36
2008-01-08     48.42
               ...
2018-06-11     96.72
2018-06-12     96.35
2018-06-13    100.07
2018-06-14     99.65
2018-06-15     98.77
Name: high, Length: 2633, dtype: float64
Date
2008-01-02     33.24
2008-01-03     32.35
2008-01-04     31.40
2008-01-07     30.83
2008-01-08     31.61
               ...
2023-03-30    184.49
2023-03-31    186.30
2023-04-03    186.18
2023-04-04    184.67
2023-04-05    179.73
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    70.14
2008-01-03    68.09
2008-01-04    67.54
2008-01-07    65.84
2008-01-08    63.47
              ...
2023-03-30    71.01
2023-03-31    70.91
2023-04-03    71.57
2023-04-04    71.00
2023-04-05    68.80
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    39.78
2008-01-03    39.51
2008-01-04    38.43
2008-01-07    38.61
2008-01-08    38.71
              ...
2016-08-29    44.40
2016-08-30    44.35
2016-08-31    44.52
2016-09-01    45.01
2016-09-02    46.06
Name: high, Length: 2185, dtype: float64
Date
2008-01-02     13.02
2008-01-03     12.87
2008-01-04     12.97
2008-01-07     12.83
2008-01-08     13.06
               ...
2023-03-30    345.91
2023-03-31    356.54
2023-04-03    355.19
2023-04-04    359.45
2023-04-05    359.00
Name: high, Length: 3842, dtype: float64
Date
2016-03-23    41.4061
2016-03-24    40.5820
2016-03-30    41.7040
2016-03-31    41.7040
2016-04-01    40.8004
               ...
2023-03-30     8.5400
2023-03-31     8.5800
2023-04-03     8.6150
2023-04-04     8.5900
2023-04-05     8.3000
Name: high, Length: 1770, dtype: float64
Date
2008-01-02    47.4216
2008-01-03    48.7236
2008-01-04    44.7148
2008-01-07    44.7560
2008-01-08    45.6444
               ...
2023-03-30     9.5000
2023-03-31     9.5400
2023-04-03     9.5900
2023-04-04     9.5600
2023-04-05     9.2100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    35.35
2008-01-03    32.55
2008-01-04    33.47
2008-01-07    31.10
2008-01-08    29.65
              ...
2023-03-30    45.06
2023-03-31    44.32
2023-04-03    43.76
2023-04-04    43.90
2023-04-05    42.60
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    20.52
2008-01-03    20.69
2008-01-04    19.59
2008-01-07    19.79
2008-01-08    20.46
              ...
2023-03-30    40.28
2023-03-31    41.09
2023-04-03    41.61
2023-04-04    41.04
2023-04-05    41.02
Name: high, Length: 3842, dtype: float64

 92%|█████████▏| 800/866 [00:07<00:00, 102.21it/s]

Date
2008-01-02     51.37
2008-01-03     50.86
2008-01-04     50.72
2008-01-07     50.95
2008-01-08     51.07
               ...
2023-03-30    125.88
2023-03-31    127.29
2023-04-03    128.62
2023-04-04    128.62
2023-04-05    128.91
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    4.750
2008-01-03    4.610
2008-01-04    4.420
2008-01-07    4.010
2008-01-08    4.100
              ...
2023-03-30    3.720
2023-03-31    3.890
2023-04-03    3.970
2023-04-04    3.880
2023-04-05    3.855
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     17.10
2008-01-03     16.86
2008-01-04     15.75
2008-01-07     14.75
2008-01-08     13.75
               ...
2023-03-30    538.30
2023-03-31    546.47
2023-04-03    552.46
2023-04-04    553.06
2023-04-05    546.29
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     57.86
2008-01-03     57.29
2008-01-04     56.93
2008-01-07     57.11
2008-01-08     57.48
               ...
2023-03-30    470.41
2023-03-31    475.99
2023-04-03    496.13
2023-04-04    496.10
2023-04-05    511.74
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    23.88
2008-01-03    23.68
2008-01-04    23.40
2008-01-07    22.59
2008-01-08    22.60
              ...
2023-03-30    39.66
2023-03-31    39.56
2023-04-03    39.98
2023-04-04    39.46
2023-04-05    39.41
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    127.25
2008-01-03    125.73
2008-01-04    122.92
2008-01-07    121.89
2008-01-08    120.00
               ...
2023-03-30    201.45
2023-03-31    201.39
2023-04-03    201.93
2023-04-04    199.73
2023-04-05    196.30
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     70.550
2008-01-03     69.890
2008-01-04     69.090
2008-01-07     68.790
2008-01-08     68.180
               ...
2023-03-30    192.200
2023-03-31    194.120
2023-04-03    193.750
2023-04-04    194.880
2023-04-05    191.885
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    27.94
2008-01-03    28.20
2008-01-04    27.77
2008-01-07    27.35
2008-01-08    26.98
              ...
2023-03-30    26.99
2023-03-31    27.76
2023-04-03    28.07
2023-04-04    27.96
2023-04-05    27.20
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     18.9200
2008-01-03     18.6500
2008-01-04     18.1100
2008-01-07     17.6800
2008-01-08     16.6900
                ...
2023-03-30    391.4200
2023-03-31    395.9400
2023-04-03    401.2900
2023-04-04    390.1500
2023-04-05    359.7333
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    32.10
2008-01-03    31.34
2008-01-04    30.20
2008-01-07    30.05
2008-01-08    29.92
              ...
2023-03-30    36.52
2023-03-31    36.06
2023-04-03    36.44
2023-04-04    36.33
2023-04-05    35.26
Name: high, Length: 3842, dtype: float64
Date
2010-01-22    71.3800
2010-01-25    71.0700
2010-01-26    71.2200
2010-01-27    71.4815
2010-01-28    70.8700
               ...
2023-03-30    49.1000
2023-03-31    49.6300
2023-04-03    50.3000
2023-04-04    50.8400
2023-04-05    51.3700
Name: high, Length: 3293, dtype: float64
Date
2008-01-02    77.1400
2008-01-03    76.6900
2008-01-04    76.1900
2008-01-07    75.7000
2008-01-08    75.1900
               ...
2020-04-17    66.5000
2020-04-20    66.9300
2020-04-21    64.5478
2020-04-22    64.9000
2020-04-23    64.8770
Name: high, Length: 3099, dtype: float64
Date
2008-03-19     69.00
2008-03-20     65.00
2008-03-24     67.70
2008-03-25     64.25
2008-03-26     64.48
               ...
2023-03-30    224.24
2023-03-31    225.84
2023-04-03    229.16
2023-04-04    230.05
2023-04-05    228.47
Name: high, Length: 3789, dtype: float64
Date
2008-01-02     53.56
2008-01-03     52.65
2008-01-04     53.00
2008-01-07     54.53
2008-01-08     54.30
               ...
2021-04-09    177.36
2021-04-12    177.30
2021-04-13    177.26
2021-04-14    177.20
2021-04-15    177.07
Name: high, Length: 3345, dtype: float64
Date
2008-01-02    69.14
2008-01-03    68.57
2008-01-04    66.21
2008-01-07    66.75
2008-01-08    66.64
              ...
2023-03-30    22.44
2023-03-31    22.93
2023-04-03    23.00
2023-04-04    22.78
2023-04-05    22.09
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    44.19
2008-01-03    42.84
2008-01-04    42.40
2008-01-07    42.20
2008-01-08    42.68
              ...
2019-11-27    24.30
2019-11-29    24.28
2019-12-02    24.14
2019-12-03    23.54
2019-12-04    24.91
Name: high, Length: 3003, dtype: float64
Date
2008-01-02    27.18
2008-01-03    26.45
2008-01-04    25.75
2008-01-07    25.31
2008-01-08    25.09
              ...
2022-04-13    36.43
2022-04-14    36.98
2022-04-18    36.53
2022-04-19    36.51
2022-04-20    34.56
Name: high, Length: 3601, dtype: float64
Date
2017-10-18    18.520
2017-10-19    18.570
2017-10-20    19.000
2017-10-23    18.000
2017-10-24    18.700
               ...
2023-03-30    32.060
2023-03-31    32.660
2023-04-03    33.000
2023-04-04    32.625
2023-04-05    32.575
Name: high, Length: 1372, dtype: float64
Date
2008-01-02     65.0091
2008-01-03     63.7020
2008-01-04     60.3565
2008-01-07     58.6746
2008-01-08     59.7075
                ...
2023-03-30    138.2200
2023-03-31    139.8300
2023-04-03    142.2600
2023-04-04    136.8000
2023-04-05    135.7200
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     79.49
2008-01-03     77.28
2008-01-04     74.00
2008-01-07     73.64
2008-01-08     72.12
               ...
2023-03-30    171.95
2023-03-31    172.37
2023-04-03    174.67
2023-04-04    173.30
2023-04-05    167.95
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    89.1322
2008-01-03    87.7915
2008-01-04    84.2398
2008-01-07    84.4699
2008-01-08    86.0107
               ...
2023-03-30    15.5600
2023-03-31    15.3800
2023-04-03    16.3100
2023-04-04    15.7000
2023-04-05    15.5600
Name: high, Length: 3842, dtype: float64

 95%|█████████▍| 822/866 [00:07<00:00, 100.41it/s]

Date
2020-09-24    36.000
2020-09-25    34.000
2020-09-28    35.000
2020-09-29    30.500
2020-09-30    31.000
               ...
2023-03-30    26.890
2023-03-31    27.390
2023-04-03    27.450
2023-04-04    27.410
2023-04-05    26.285
Name: high, Length: 637, dtype: float64
Date
2009-10-07     28.97
2009-10-08     27.44
2009-10-09     27.49
2009-10-12     27.90
2009-10-13     27.26
               ...
2023-03-30    191.90
2023-03-31    194.01
2023-04-03    192.08
2023-04-04    192.72
2023-04-05    193.34
Name: high, Length: 3397, dtype: float64
Date
2008-01-02     38.00
2008-01-03     37.83
2008-01-04     37.30
2008-01-07     35.66
2008-01-08     35.37
               ...
2023-03-30    206.30
2023-03-31    211.66
2023-04-03    213.72
2023-04-04    213.96
2023-04-05    214.36
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     23.51
2008-01-03     22.64
2008-01-04     22.20
2008-01-07     21.57
2008-01-08     22.18
               ...
2023-03-30    315.56
2023-03-31    315.38
2023-04-03    318.00
2023-04-04    318.85
2023-04-05    322.10
Name: high, Length: 3840, dtype: float64
Date
2008-01-02    34.9097
2008-01-03    34.6413
2008-01-04    32.9310
2008-01-07    32.1488
2008-01-08    32.9617
               ...
2023-03-30    44.8400
2023-03-31    44.3200
2023-04-03    43.6400
2023-04-04    42.9500
2023-04-05    42.4400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    14.2095
2008-01-03    14.0500
2008-01-04    13.8100
2008-01-07    14.1600
2008-01-08    14.5000
               ...
2023-03-30     9.6700
2023-03-31     9.7100
2023-04-03     9.7200
2023-04-04     9.7100
2023-04-05     9.8200
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    44.1400
2008-01-03    43.9900
2008-01-04    43.6300
2008-01-07    43.5700
2008-01-08    44.3201
               ...
2023-03-30    38.7500
2023-03-31    39.0500
2023-04-03    39.5800
2023-04-04    39.6500
2023-04-05    40.2400
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     34.35
2008-01-03     34.00
2008-01-04     32.72
2008-01-07     32.49
2008-01-08     32.18
               ...
2023-03-30    100.48
2023-03-31    101.26
2023-04-03    101.92
2023-04-04    101.24
2023-04-05     97.70
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     79.080
2008-01-03     77.960
2008-01-04     78.650
2008-01-07     78.740
2008-01-08     81.840
               ...
2023-03-30    306.530
2023-03-31    311.090
2023-04-03    308.940
2023-04-04    308.590
2023-04-05    305.205
Name: high, Length: 3842, dtype: float64
Date
2014-04-17    24.48
2014-04-21    24.17
2014-04-22    24.24
2014-04-23    23.35
2014-04-24    22.13
              ...
2023-03-30    20.35
2023-03-31    21.58
2023-04-03    19.67
2023-04-04    19.27
2023-04-05    18.69
Name: high, Length: 2258, dtype: float64
Date
2008-01-02    38.665
2008-01-03    36.000
2008-01-04    34.980
2008-01-07    35.200
2008-01-08    35.500
               ...
2023-03-30    34.920
2023-03-31    34.840
2023-04-03    35.620
2023-04-04    35.940
2023-04-05    36.350
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    28.4363
2008-01-03    28.1353
2008-01-04    28.2245
2008-01-07    27.5891
2008-01-08    27.4330
               ...
2023-03-30    15.0400
2023-03-31    15.1200
2023-04-03    15.2000
2023-04-04    15.1800
2023-04-05    15.0100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     42.70
2008-01-03     47.00
2008-01-04     47.00
2008-01-07     47.25
2008-01-08     47.68
               ...
2020-01-16    338.98
2020-01-17    339.20
2020-01-21    342.10
2020-01-22    348.01
2020-01-23    350.17
Name: high, Length: 3036, dtype: float64
Date
2008-01-02    30.58
2008-01-03    28.85
2008-01-04    28.00
2008-01-07    25.88
2008-01-08    25.32
              ...
2023-03-30    37.40
2023-03-31    37.97
2023-04-03    37.69
2023-04-04    37.23
2023-04-05    35.58
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    48.57
2008-01-03    47.98
2008-01-04    47.80
2008-01-07    49.02
2008-01-08    49.61
              ...
2023-03-30    94.97
2023-03-31    95.05
2023-04-03    94.91
2023-04-04    94.97
2023-04-05    98.67
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.42
2008-01-03    45.39
2008-01-04    44.23
2008-01-07    44.00
2008-01-08    44.05
              ...
2023-03-30    71.19
2023-03-31    71.76
2023-04-03    72.65
2023-04-04    72.06
2023-04-05    71.26
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     8.6536
2008-01-03     8.5360
2008-01-04     8.0656
2008-01-07     8.2714
2008-01-08     8.3399
               ...
2023-03-30    21.4300
2023-03-31    21.8000
2023-04-03    22.3400
2023-04-04    22.2900
2023-04-05    22.0850
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    30.48
2008-01-03    29.37
2008-01-04    28.32
2008-01-07    28.04
2008-01-08    28.11
              ...
2023-03-30    38.50
2023-03-31    37.95
2023-04-03    38.16
2023-04-04    37.80
2023-04-05    37.01
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    20.54
2008-01-03    20.12
2008-01-04    19.70
2008-01-07    19.05
2008-01-08    18.36
              ...
2017-08-22    41.76
2017-08-23    41.75
2017-08-24    42.01
2017-08-25    42.00
2017-08-28    41.99
Name: high, Length: 2432, dtype: float64
Date
2014-07-15    17.305
2014-07-16    17.090
2014-07-17    17.195
2014-07-18    16.870
2014-07-21    16.600
               ...
2017-03-07     0.076
2017-03-08     0.076
2017-03-09     0.076
2017-03-10     0.055
2017-03-13     0.058
Name: high, Length: 671, dtype: float64
Date
2008-01-02    71.56
2008-01-03    72.73
2008-01-04    70.86
2008-01-07    69.48
2008-01-08    68.75
              ...
2020-10-02    65.16
2020-10-05    68.42
2020-10-06    66.61
2020-10-07    65.57
2020-10-08    64.38
Name: high, Length: 3263, dtype: float64

 97%|█████████▋| 844/866 [00:07<00:00, 100.05it/s]

Date
2008-01-02     81.4500
2008-01-03     80.4900
2008-01-04     79.1100
2008-01-07     76.6500
2008-01-08     77.7100
                ...
2023-03-30    130.6000
2023-03-31    132.1000
2023-04-03    132.6000
2023-04-04    131.8300
2023-04-05    130.1587
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    13.1000
2008-01-03    12.7700
2008-01-04    12.3900
2008-01-07    12.4900
2008-01-08    12.4800
               ...
2020-06-10     0.3403
2020-06-23     0.3403
2020-06-29     0.3403
2020-07-02     0.3403
2020-07-10     0.3403
Name: high, Length: 2885, dtype: float64
Date
2014-09-22    124.4800
2014-09-23    122.0000
2014-09-24    124.5800
2014-09-25    123.8700
2014-09-26    121.9700
2014-09-29    121.9200
2014-09-30    121.6600
2014-10-01    119.5800
2014-10-02    119.2100
2014-10-03    122.5300
2014-10-06    123.3500
2014-10-07    119.3900
2014-10-08    120.0100
2014-10-09    120.8900
2014-10-10    120.0100
2014-10-13    117.6600
2014-10-14    114.9150
2014-10-15    113.4300
2014-10-16    114.3300
2014-10-17    115.9400
2014-10-20    116.6000
2014-10-21    120.7300
2014-10-22    120.6370
2014-10-23    120.6400
2014-10-24    120.2400
2014-10-27    120.8700
2014-10-28    120.5400
2014-10-29    123.8000
2014-10-30    123.7500
2014-10-31    126.6900
2014-11-03    127.5900
2014-11-04    128.0900
2014-11-05    128.1600
2014-11-06    127.9800
2014-11-07    127.5200
2014-11-10    126.1400
2014-11-11    127.1900
2014-11-12    127.4399
2014-11-13    128.1864
2014-11-14    127.4500
2014-11-17    127.6900
2014-11-18    129.9600
2014-11-19    128.6873
2014-11-20    126.5800
2014-11-21    127.9200
2014-11-24    127.4100
2014-11-25    127.8600
2014-11-26    128.3600
2014-11-28    128.3500
2014-12-01    128.5800
2014-12-02    128.8200
Name: high, dtype: float64
Date
2008-01-02     37.970
2008-01-03     36.940
2008-01-04     36.980
2008-01-07     36.790
2008-01-08     36.720
               ...
2022-01-03    237.945
2022-01-04    239.570
2022-01-05    239.650
2022-01-06    238.100
2022-01-07    235.500
Name: high, Length: 3531, dtype: float64
Date
2008-01-02     32.930
2008-01-03     32.650
2008-01-04     32.580
2008-01-07     32.220
2008-01-08     32.045
               ...
2023-03-30    162.060
2023-03-31    163.430
2023-04-03    164.930
2023-04-04    164.840
2023-04-05    165.320
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    29.5356
2008-01-03    30.1154
2008-01-04    29.9439
2008-01-07    29.3560
2008-01-08    29.6418
               ...
2023-03-30    29.6000
2023-03-31    29.8800
2023-04-03    30.4100
2023-04-04    29.9300
2023-04-05    29.9700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     47.63
2008-01-03     46.90
2008-01-04     46.37
2008-01-07     46.81
2008-01-08     47.08
               ...
2023-03-30    146.60
2023-03-31    148.44
2023-04-03    148.95
2023-04-04    148.79
2023-04-05    149.88
Name: high, Length: 3842, dtype: float64
Date
2011-12-12    23.42
2011-12-13    19.20
2011-12-14    18.33
2011-12-15    18.26
2011-12-16    18.05
              ...
2021-01-08     9.43
2021-01-11     9.43
2021-01-12     9.43
2021-01-13     9.43
2021-01-14     9.43
Name: high, Length: 2288, dtype: float64
Date
2008-01-02    29.7600
2008-01-03    29.4000
2008-01-04    29.3201
2008-01-07    29.7401
2008-01-08    29.8200
               ...
2023-03-30    62.0700
2023-03-31    62.5400
2023-04-03    63.4100
2023-04-04    63.0400
2023-04-05    62.9700
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    12.8698
2008-01-03    12.3742
2008-01-04    11.8436
2008-01-07    11.9738
2008-01-08    12.0088
               ...
2023-03-30    30.2250
2023-03-31    30.5000
2023-04-03    31.1100
2023-04-04    30.5300
2023-04-05    30.0500
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     40.82
2008-01-03     40.53
2008-01-04     40.14
2008-01-07     40.00
2008-01-08     39.98
               ...
2023-03-30    344.16
2023-03-31    348.62
2023-04-03    347.91
2023-04-04    351.33
2023-04-05    349.72
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     37.970
2008-01-03     36.940
2008-01-04     36.980
2008-01-07     36.790
2008-01-08     36.720
               ...
2023-03-30    231.270
2023-03-31    232.690
2023-04-03    234.210
2023-04-04    234.760
2023-04-05    237.225
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    24.31
2008-01-03    23.37
2008-01-04    23.11
2008-01-07    22.48
2008-01-08    22.33
              ...
2023-03-30    11.24
2023-03-31    11.23
2023-04-03    11.28
2023-04-04    11.20
2023-04-05    10.97
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    58.50
2008-01-03    57.10
2008-01-04    56.69
2008-01-07    57.97
2008-01-08    59.44
              ...
2008-09-30    79.55
2008-10-01    79.62
2008-10-02    79.74
2008-10-03    79.88
2008-10-06    79.99
Name: high, Length: 193, dtype: float64
Date
2008-01-02    29.1199
2008-01-03    28.6856
2008-01-04    28.2947
2008-01-07    27.6866
2008-01-08    27.5721
               ...
2023-03-30    29.4800
2023-03-31    30.1600
2023-04-03    30.3400
2023-04-04    30.1000
2023-04-05    29.8100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    44.50
2008-01-03    44.94
2008-01-04    44.84
2008-01-07    45.32
2008-01-08    48.84
              ...
2009-10-09    49.33
2009-10-12    49.26
2009-10-13    49.22
2009-10-14    50.22
2009-10-15    50.45
Name: high, Length: 452, dtype: float64
Date
2008-01-02     23.89
2008-01-03     23.72
2008-01-04     22.96
2008-01-07     23.32
2008-01-08     23.04
               ...
2018-05-24    109.05
2018-05-25    109.28
2018-05-29    109.24
2018-05-30    111.63
2018-05-31    110.95
Name: high, Length: 2622, dtype: float64
Date
2008-01-02    114.980
2008-01-03    109.500
2008-01-04    108.500
2008-01-07    106.932
2008-01-08    109.950
               ...
2023-03-30    110.680
2023-03-31    112.040
2023-04-03    117.170
2023-04-04    112.910
2023-04-05    111.950
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    121.930
2008-01-03    115.345
2008-01-04    110.590
2008-01-07    106.990
2008-01-08    105.960
               ...
2023-03-30     26.540
2023-03-31     26.460
2023-04-03     26.540
2023-04-04     26.360
2023-04-05     24.860
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    43.42
2008-01-03    43.86
2008-01-04    42.86
2008-01-07    42.15
2008-01-08    43.24
              ...
2021-09-28    91.54
2021-09-29    92.51
2021-09-30    91.33
2021-10-01    87.20
2021-10-04    87.20
Name: high, Length: 3464, dtype: float64
Date
2008-01-02    22.61
2008-01-03    22.68
2008-01-04    22.43
2008-01-07    22.43
2008-01-08    22.69
              ...
2023-03-30    67.11
2023-03-31    67.98
2023-04-03    68.11
2023-04-04    68.50
2023-04-05    71.29
Name: high, Length: 3842, dtype: float64

100%|██████████| 866/866 [00:08<00:00, 106.43it/s]

Date
2019-09-03    9.85
2019-09-04    9.82
2019-09-05    9.95
2019-09-06    9.85
2019-09-09    9.85
              ...
2023-01-09    1.01
2023-01-10    1.07
2023-01-11    1.12
2023-01-12    1.15
2023-01-13    1.22
Name: high, Length: 849, dtype: float64
Date
2008-01-02     22.00
2008-01-03     21.18
2008-01-04     21.17
2008-01-07     20.78
2008-01-08     20.66
               ...
2022-02-10    226.80
2022-02-11    218.95
2022-02-14    194.92
2022-02-15    194.92
2022-02-16    194.92
Name: high, Length: 3558, dtype: float64
Date
2008-01-02     94.55
2008-01-03     94.74
2008-01-04     94.36
2008-01-07     93.15
2008-01-08     92.05
               ...
2023-03-30    109.57
2023-03-31    110.17
2023-04-03    116.85
2023-04-04    116.70
2023-04-05    117.00
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    45.4000
2008-01-03    44.4000
2008-01-04    44.4700
2008-01-07    44.6500
2008-01-08    44.9999
               ...
2023-03-30    38.6600
2023-03-31    39.3100
2023-04-03    39.5800
2023-04-04    39.4900
2023-04-05    39.5300
Name: high, Length: 3841, dtype: float64
Date
2008-01-02    16.43
2008-01-03    15.90
2008-01-04    15.61
2008-01-07    15.41
2008-01-08    15.26
              ...
2023-03-30    14.96
2023-03-31    15.45
2023-04-03    15.55
2023-04-04    15.18
2023-04-05    14.60
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    52.50
2008-01-03    54.50
2008-01-04    53.90
2008-01-07    54.10
2008-01-08    54.57
              ...
2010-06-21    45.67
2010-06-22    44.81
2010-06-23    44.13
2010-06-24    43.39
2010-06-25    42.76
Name: high, Length: 626, dtype: float64
Date
2011-10-13     24.2700
2011-10-14     25.4900
2011-10-17     25.8000
2011-10-18     25.3600
2011-10-19     25.3500
                ...
2023-03-30    102.9800
2023-03-31    104.9000
2023-04-03    104.8900
2023-04-04    105.1800
2023-04-05    101.0595
Name: high, Length: 2888, dtype: float64
Date
2008-01-02    24.15
2008-01-03    24.19
2008-01-04    23.81
2008-01-07    23.56
2008-01-08    23.65
              ...
2017-06-12    54.55
2017-06-13    54.08
2017-06-14    54.26
2017-06-15    52.76
2017-06-16    53.30
Name: high, Length: 2382, dtype: float64
Date
2008-01-02     27.5973
2008-01-03     27.4823
2008-01-04     26.7057
2008-01-07     27.2737
2008-01-08     27.4103
                ...
2023-03-30    129.5600
2023-03-31    132.2700
2023-04-03    133.3000
2023-04-04    132.8500
2023-04-05    133.0100
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     64.6766
2008-01-03     65.0256
2008-01-04     65.0740
2008-01-07     66.9934
2008-01-08     67.7592
                ...
2023-03-30    127.6200
2023-03-31    129.3200
2023-04-03    129.1200
2023-04-04    128.6700
2023-04-05    129.1800
Name: high, Length: 3842, dtype: float64
Date
2008-01-02     34.80
2008-01-03     34.27
2008-01-04     33.70
2008-01-07     33.18
2008-01-08     33.80
               ...
2023-03-30    309.30
2023-03-31    318.85
2023-04-03    316.23
2023-04-04    312.12
2023-04-05    308.48
Name: high, Length: 3842, dtype: float64
Date
2008-01-02    46.76
2008-01-03    45.61
2008-01-04    43.62
2008-01-07    43.80
2008-01-08    43.89
              ...
2023-03-30    31.88
2023-03-31    30.88
2023-04-03    30.52
2023-04-04    29.35
2023-04-05    28.83
Name: high, Length: 3842, dtype: float64
Date
2008-01-01     331.0
2008-01-02     332.4
2008-01-03     332.2
2008-01-07     332.2
2008-01-08     350.0
               ...
2020-09-03    1294.0
2020-09-07    1265.0
2020-09-08    1302.0
2020-09-09    1346.0
2020-09-10    1304.0
Name: high, Length: 2487, dtype: float64
Date
2013-02-01     31.74
2013-02-04     31.99
2013-02-05     31.98
2013-02-06     31.43
2013-02-07     32.73
               ...
2023-03-30    164.65
2023-03-31    166.49
2023-04-03    167.92
2023-04-04    169.43
2023-04-05    168.61
Name: high, Length: 2562, dtype: float64

In [20]:
ticker = 'AAPL'
import pandas_ta as ta
df_ticker = market_data.xs(ticker,level=1)
ta.squeeze(df_ticker['high'],df_ticker['low'],df_ticker['close'],
           bb_std=2,
           mom_length=5,
           bb_length=5).iloc[:,0]

Date
2008-01-02    200.2588
2008-01-03    197.3888
2008-01-04    193.0012
2008-01-07    183.5988
2008-01-08    182.4592
                ...
2023-03-30    162.4700
2023-03-31    165.0000
2023-04-03    166.2900
2023-04-04    166.8400
2023-04-05    165.0500
Name: high, Length: 3842, dtype: float64

Date
2008-01-02         NaN
2008-01-03         NaN
2008-01-04         NaN
2008-01-07         NaN
2008-01-08         NaN
                ...
2023-03-30    2.325000
2023-03-31    2.586667
2023-04-03    3.026667
2023-04-04    4.210000
2023-04-05    4.980000
Name: SQZ_5_2.0_20_1.5, Length: 3842, dtype: float64

In [16]:
df_ticker['high']

Date
2008-01-02    200.2588
2008-01-03    197.3888
2008-01-04    193.0012
2008-01-07    183.5988
2008-01-08    182.4592
                ...
2023-03-30    162.4700
2023-03-31    165.0000
2023-04-03    166.2900
2023-04-04    166.8400
2023-04-05    165.0500
Name: high, Length: 3842, dtype: float64